[2022-01-18 22:40] domesticmouse commented on #992
<img width="347" alt="winver" src="https://user-images.githubusercontent.com/30503/150030251-3ec594c5-2213-419d-a713-5b97f3ade69a.png">

[2022-01-18 22:48] domesticmouse commented on #992
From [Apply rounded corners in desktop apps for Windows 11](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/apply-rounded-corners):

**Note**

By design, apps are not rounded when maximized, snapped, running in a Virtual Machine (VM), running on a Windows Virtual Desktop (WVD), or running as a Windows Defender Application Guard (WDAG) window.

Looks like I need to upgrade my machin

[2022-01-18 23:29] timsneath commented on #992
But yeah, this might be by design, which is Stuart's point.

[2022-01-19 00:31] domesticmouse commented on #992
Now that I have upgraded my desktop to Windows 11, I can safely say that some apps have rounded menus. Windows Terminal and Google Chrome both show rounded menus, while VSCode and GitHub desktop tooling do not.

It looks like rounded menus on Win11 is going to be a hot mess. At this point I'm closing this as WAI.

[2022-01-19 00:31] #992 closed

[2022-01-19 01:14] johnpryan opened #994 "upgrade testing_app to android embedding v2"
I'm seeing the same issue as https://github.com/flutter/samples/issues/974 in testing_app on the beta channel:

[code]

cc @domesticmouse

[2022-01-19 17:45] #994 closed

[2022-01-20 21:14] johnpryan opened #999 "testing_app fails on macOS"
All of the integration tests fail when I run them on a `macOS` device:

[code]

<details>
<summary>
Logs
</summary>

[code]

</details>

[code]

[2022-01-20 21:22] johnpryan opened #1000 "`testing_app` hangs on Windows"
After enabling Flutter desktop on Windows, running `flutter test integration_test -d windows` hangs until ctrl+c, then a TimeoutException is printed.

@dnfield @csells I followed the setup instructions at https://docs.flutter.dev/desktop and I can successfully run the app under test (`flutter run -d windows`)

The integration tests in this sample are currently failing on a macOS device: (https://g

[2022-01-20 21:25] csells commented on #1000
@dnfield can you take a look at this? I'd love integration_test to work well on Windows.

[2022-01-20 21:32] johnpryan commented on #1000
After running the tests again, I can see one of the tests passing but another gets a TestDeviceException:

<details>
<summary>logs</summary>

[code]

</details

[2022-01-20 21:38] johnpryan commented on #1000
It looks like there's some sort of race condition when testing more than one file at a time... I can consistently run `flutter test integration_test\app_test.dart -d windows` and `flutter test integration_test\perf_test.dart -d windows`, but not `flutter test integration_test -d windows`.

[2022-01-20 22:04] dnfield commented on #1000
@cbracken might be better set up to help with this (or know who is). My access to Windows machines is fairly limited

[2022-01-20 22:17] cbracken commented on #1000
Thanks for the heads-up. Taking a look.

[2022-01-21 00:03] domesticmouse commented on #999
Hey @cbracken, another one for ya

[2022-01-25 13:31] miquelbeltran commented on #1000
@csells requested me to put here my findinds.

### Setup

<details>
<summary>flutter doctor</summary>

[code]

</details>

All tests running on Windows 11 with the Git Bash on Windows Terminal.

### Results

Running `flutter test integration_test -d windows`:

- the `app_test.dart` runs and passes
- **the `perf_test.dart` eventually fails with the following error (see logs)**
- the `state_mgmt_tes

[2022-01-29 16:19] arteevraina commented on #947
Hi @RedBrogdon Is this issue still there in the app? I am not able to reproduce the scenario mentioned by @asashour .

[2022-02-01 09:35] asashour commented on #947
The issue is still reprodubile.

The initial URL should be something like `http://localhost:56422/#/book/3`.

[2022-02-01 09:46] asashour opened #1003 "`nagivation_and_routing`: back button doesn't return to the previous page"
**Steps**:

1. Use Chrome as web application
2. Sign in
3. Click on `All` books
4. Click on a book
5. Click on the Back button of the Application, not of the Browser.
![image](https://user-images.githubusercontent.com/2410127/151945801-663f92e9-fa22-475d-89a1-4ca2e93b138f.png)

**Expected**:

The application goes to `All`

**Actual**:

The application goes to `Popular`

[2022-02-02 17:30] goderbauer opened #1004 "multiple_flutters_ios crashes when run on iOS device"
I tried to build and run the `multiple_flutters_ios` example located in https://github.com/flutter/samples/tree/master/add_to_app/multiple_flutters/multiple_flutters_ios on my iOS device following the instructions given in the readme (using master of flutter @ https://github.com/flutter/flutter/commit/39c5d2fa0a9836014bf8e2bde6842edbb767df56):

[code]

When running the app with xcode, it crashes w

[2022-02-02 17:32] goderbauer commented on #1004
I am not familiar with xcode's embedding of App.framework in this add_to_app context. @jmagman, do you maybe have an idea of what may be going wrong here?

/cc @gaaclarke

[2022-02-02 17:42] jmagman commented on #1004
I just tried it and couldn't reproduce.  Can you attach your Xcode build logs from `MultipleFluttersIos.xcworkspace`?
<img width="1072" alt="Screen Shot 2022-02-02 at 9 38 38 AM" src="https://user-images.githubusercontent.com/682784/152207406-9f945f8a-9171-4b99-9f7a-67a8ae2f67f7.png">

In my logs the parts that's placing `App.framework` is:
[code]
then
[code]

[2022-02-02 17:44] goderbauer commented on #1004
The crash only happens when I run on a real device. On a simulator, the app starts up fine, but doesn't work properly. When I hit the "next" button I am presented with a black screen and these logs:

[code]

[2022-02-02 17:47] jmagman commented on #1004
That's what I would expect with the App.framework missing.

It runs for me on a simulator and real device, the Xcode build logs may point to the issue.
<img src="https://user-images.githubusercontent.com/682784/152208847-d259fa87-2b97-47e6-b96d-a6a591b9d149.png" width=400>

[2022-02-02 17:49] goderbauer commented on #1004
@jmagman See the requested log below.

[code]

[2022-02-02 17:50] jmagman commented on #1004
[code]
Can you run `flutter clean && flutter pub get` in the module, then try again?  Looks like the bad state is cached.

[2022-02-02 17:53] goderbauer commented on #1004
[code]

[2022-02-02 17:55] goderbauer commented on #1004
It has the same lines you posted in https://github.com/flutter/samples/issues/1004#issuecomment-1028190210, but it is still crashing for me.

[2022-02-02 18:05] jmagman commented on #1004
[code]
What's the output of:
[code]

[2022-02-02 18:07] goderbauer commented on #1004
[code]

[2022-02-02 18:37] jmagman commented on #1004
I was able to reproduce when I downgraded CocoaPods to 1.10.1.

@goderbauer can you run `sudo gem install cocoapods` to get to 1.11.2 and see if you can still reproduce?

[2022-02-02 18:49] goderbauer commented on #1004
[code]

After a clean everything and following the same steps from the readme I am still seeing the same crash.

[2022-02-02 23:38] goderbauer commented on #1004
Since @RedBrogdon pointed out that these samples are only supposed to be runnable against the stable channel, I tried this with the stable channel as well and it is failing there as well.

[2022-02-03 01:34] jmagman commented on #1004
When I'm on 1.11 in `multiple_flutters_ios/Pods/Target Support Files/Pods-MultipleFluttersIos/Pods-MultipleFluttersIos-frameworks.sh` I see:
[code]

However, when I switch to 1.10.2 the `App.framework` line isn't generated:
[code]

@gaaclarke is also still reporting the same issue on 1.11.  Still investigating...

[2022-02-03 01:35] jmagman commented on #1004
@goderbauer Can you attach that file when you're on 1.11.2, run `pod install` and it still reproduces?

[2022-02-03 02:09] jmagman commented on #1004
Guessing something in here is failing:
https://github.com/flutter/flutter/blob/2df7dca858f3cd05da75f91f596441cc8a5a9b44/packages/flutter_tools/templates/module/ios/library/Flutter.tmpl/podhelper.rb.tmpl#L104-L113

[2022-02-03 03:32] jmagman commented on #1004
@goderbauer or @gaaclarke can you try https://github.com/flutter/flutter/pull/97689 ?

[code]

[2022-02-03 17:36] goderbauer commented on #1004
Probably no longer relevant, but for completeness, here's my `multiple_flutters_ios/Pods/Target Support Files/Pods-MultipleFluttersIos/Pods-MultipleFluttersIos-frameworks.sh` file for the crashing case as requested in https://github.com/flutter/samples/issues/1004#issuecomment-1028521221:

[Pods-MultipleFluttersIos-frameworks.sh.zip](https://github.com/flutter/samples/files/7996903/Pods-MultipleFl

[2022-02-03 19:16] jmagman commented on #1004
Yay! That was really tricky to figure out!  Now to test it... 🤔

[2022-02-08 07:44] chrisLiuYan opened #1008 "flutter2.8.1 FlutterEngineGroup Exception:Failed to access the internal image decoder registry on this isolate"
https://github.com/flutter/flutter/issues/98013#issue-1126893485

[2022-02-08 09:04] domesticmouse commented on #1008
Which sample is this related to?

[2022-02-08 18:38] craiglabenz commented on #798
Both dependencies are now null-safe, so we can follow suit here

[2022-02-08 18:46] craiglabenz opened #1009 "Migrate web_dashboard to v2 Android embedding"
[code]

Alternatively, it's possible that this **web** demo doesn't even need an `android/` folder.

[2022-02-08 18:50] craiglabenz commented on #1009
cc @johnpryan RE the viability of deleting `web_dashboard/android/` entirely

[2022-02-10 06:08] chrisLiuYan commented on #1008
multiple_flutters_ios
I changed your sample and found this problem
[multiple_flutters_module_ios.zip](https://github.com/flutter/samples/files/8038514/multiple_flutters_module_ios.zip)

[2022-02-16 07:51] akshaykh10 commented on #1003
Hey can I take up the issue?

[2022-02-20 13:31] DetachHead opened #1026 "`provider_shopper` readme gif link is broken"
![image](https://user-images.githubusercontent.com/57028336/154845043-02f16d6c-df59-46c8-a8b6-20e650561aeb.png)

[2022-02-20 17:25] BernhardSchlegel opened #1027 "How to run platform_design?"
Hi there,

flutter newbie here. I'm simply trying to launch the "platform_design" sample app. I'm getting an insane amount of errors. What did I do wrong?

Steps to reproduce:
1. Cloning "flutter/samples"
2. Opening "samples" as root folder in VSCode (also tried opening "./samples/platform_design" as root)
3. selecting "./samples/platform_design/lib/main.dart"
4. hitting run.

My other playground

[2022-02-25 19:41] amanv8060 commented on #467
@guidezpl can this be closed ,  fixed by https://github.com/flutter/samples/pull/923 ?

[2022-02-25 22:20] johnpryan commented on #467
Yes this can be closed now that filipino_cuisine is gone.

[2022-02-25 22:20] #467 closed

[2022-02-27 07:18] Deepak-GP opened #1029 "How to add an flutter module (converted into aar) into an existing flutter app?"
I understand that we can import the flutter module into a native android app by following the example in prebuilt_module.
Is it possible to import an existing flutter module to a flutter app and invoke the flutter module from the app?

I tried setting it up but when I try to invoke the flutter module from the flutter app, the same flutter app instance gets triggered.

The example project and modul

[2022-02-28 02:30] xuyisheng opened #1031 "[add to app][multiple_flutters]how to pass params to Flutter module"
how can I pass params from Native to Flutter with Flutter Engine Groups API?

@pragma('vm:entry-point')
void topMain() => runApp(const MyApp(color: Colors.green));

for example. I want to run with Flutter "topMian" with a param "BookId"

[2022-02-28 05:50] domesticmouse commented on #1031
Hey @xuyisheng, I'd suggest asking this question on the [Flutter Stack Overflow](https://stackoverflow.com/questions/tagged/flutter).

[2022-02-28 05:50] #1031 closed

[2022-03-01 09:05] mgesmundo opened #1034 "platform_design widget inspector not working"
Hi everyone,
running the platform_design example the widget inspector is not working on Cupertino active style, but only on Material style.
How do I fix this?
Thank you.

Vs Code 1.64.2
Flutter 2.10.2

[2022-03-01 22:58] domesticmouse commented on #1034
This sounds like a bug in the Widget inspector. Can you please detail out a full reproduction test case so I can assign it to the correct engineering team?

/cc @devoncarew

[2022-03-02 09:24] mgesmundo commented on #1034
Hi @domesticmouse thank you for you fast answer!
Below the dev environment and the steps to reproduce the bug:

Flutter 2.10.2
Visual Studio Code 1.64.2
Dart Code 3.36.0

$ flutter doctor
[✓] Flutter (Channel stable, 2.10.2, on macOS 11.6.4 20G417 darwin-x64, locale it-IT)
[✓] Android toolchain - develop for Android devices (Android SDK version 31.0.0-rc5)
[!] Xcode - develop for iOS and macOS (Xc

[2022-03-02 10:36] domesticmouse commented on #1034
@devoncarew any idea where we should move this bug? I'm wondering if it's something missing from the Cupertino widget set?

/cc @RedBrogdon

[2022-03-02 18:40] arsikz3 opened #1038 "Test"

[2022-03-03 15:40] Deepak-GP commented on #1029
Update on the above issue:
When I try to build the project in android studio, I get this error:
**Type io.flutter.plugins.GeneratedPluginRegistrant is defined multiple times**

[2022-03-03 17:26] devoncarew commented on #1034
cc @kenzieschmoll and @jacob314 for the widget inspector question (and possibly an issue working with the cupertino set of widgets?)

[2022-03-03 19:36] kenzieschmoll commented on #1034
This looks like a duplicate of https://github.com/flutter/devtools/issues/3151. @jacob314

[2022-03-13 20:01] M97Chahboun opened #1050 "Add sample app (state management & request use one package)"
I want add this [example](https://github.com/JahezAcademy/mc/tree/main/example) app build by ([mc package](https://pub.dev/packages/mc) for state management & request )
[mc package explanation](https://github.com/JahezAcademy/mc/blob/staging/mc_package.jpg)
Thank you.

[2022-03-17 04:53] #1038 closed

[2022-03-18 10:23] mgesmundo commented on #1034
Hi there,

I solved the problem: `CupertinoPageScaffold` require a background color, even it is not mandatory.

[code]

<img width="1410" alt="Schermata 2022-03-18 alle 11 19 23" src="https://user-images.githubusercontent.com/1668543/158985493-030125d6-d2a4-47ae-93ba-a63d88b224bd.png">

[2022-03-24 22:15] domesticmouse opened #1056 "`desktop_photo_search/material`: Quit menu item doesn't work on Windows 11"
[code]

[2022-04-11 01:22] xyhuangjia opened #1067 "Add_To_App Demo can't run in release mode"
multiple_flutters 模块 DoubleFlutterActivity 不能显示页面 在release 模式下.
 flutter版本号为
[code]

[2022-04-11 06:04] domesticmouse commented on #1067
What error messages do you receive when you attempt to run in release mode?

[2022-04-11 09:15] xyhuangjia commented on #1067
this is error log
[code]
my code change  String "main" to "topMain"
[code]

[2022-04-11 09:51] domesticmouse commented on #1067
Any ideas what is going wrong here @gaaclarke?

[2022-04-11 18:28] gaaclarke commented on #1067
It may be this: https://github.com/flutter/flutter/issues/91841  I'd try on the master channel.

[2022-04-17 21:17] michalmytych opened #1080 "Use of prefixes"
Should one letter [prefixes actually be used in Flutter code? ](https://dart.dev/guides/language/effective-dart/style#dont-use-prefix-letters)

https://github.com/flutter/samples/blob/c6bee7aa930b83c2032d06d3802d0f840dd3d558/navigation_and_routing/lib/main.dart#L34

[2022-04-18 02:49] xyhuangjia commented on #1067
thanks. it slove my problem

[2022-04-18 02:49] #1067 closed

[2022-04-18 03:32] domesticmouse commented on #1080
This one comes from the Flutter API: https://api.flutter.dev/flutter/foundation/kIsWeb-constant.html

[2022-04-18 03:32] #1080 closed

[2022-04-22 12:44] X-SLAYER commented on #1067
still have this problem on my old project it's fully migrated but when I create a new project it works fine

[2022-04-23 00:37] cbracken opened #1130 "desktop_photo_search sample (material) doesn't build against Flutter master branch"
Repro steps:
1. `cd desktop_photo_search/material`
2. `flutter run -d mac`

**Expected behaviour:** app compiles and runs.

**Actual behaviour:** compile error:

[code]

Doctor:
<details>

[code]

</details>

[2022-04-23 00:38] cbracken commented on #1130
/cc @gspencergoog @domesticmouse

[2022-04-23 00:44] cbracken opened #1131 "desktop_photo_search sample (fluent_ui) doesn't build against Flutter master branch"
Repro steps:
1. `cd desktop_photo_search/fluent_ui`
2. `flutter run -d mac`

**Expected behaviour:** app compiles and runs.

**Actual behaviour:** compile error:

[code]

Doctor:
<details>

[code]

</details>

[2022-04-23 00:45] cbracken commented on #1131
/cc @chunhtai @domesticmouse

[2022-04-23 01:40] domesticmouse commented on #1131
Compiling clean against `master` isn't something that `flutter/samples` has as a goal. The `samples` and `codelabs` repos aim to compile green on stable, and be ready with PRs in place for the quarterly stable release when it happens.

See https://github.com/flutter/samples/pull/1132 for an example of a pre-release fixup PR for `desktop_photo_search`.

[2022-04-23 01:41] #1131 closed

[2022-04-23 01:41] domesticmouse commented on #1130
See https://github.com/flutter/samples/issues/1131#issuecomment-1107163043

[2022-04-23 01:41] #1130 closed

[2022-05-09 21:19] jmagman opened #1229 "Migrate android samples from jcenter to mavenCentral"
JCenter has been made readonly https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter.  This has been a cause of flakes in other repos.

[code]

Migrate samples build.gradle configs from `jcenter()` to `mavenCentral()` maven repository.
https://github.com/flutter/plugins/blob/e25698f7e4634c00a76f05dd618e303fc7ac4304/packages/url_launcher/url_launcher/android/build.gradle#L

[2022-05-09 22:25] #1229 closed

[2022-05-12 10:33] faisalfotoooh opened #1261 "please need Word Connect game"
please  need   Word Connect game

[2022-05-12 17:50] #1261 closed

[2022-05-13 07:22] srihamat commented on #1027
@BernhardSchlegel Please check and share the error at the VSCode's output screen,

My guess is if you are using old version of SDK then you will see the message "platform_design requires SDK version >=2.17.0-0 <3.0.0

[2022-05-13 08:26] srihamat commented on #1026
@DetachHead
Added gif file in folder images then linked to README as forked at https://github.com/srihamat/samples/blob/master/provider_shopper

Waiting for review & mearge

[2022-05-13 21:48] drandell opened #1268 "Flutter 3 - PlatformMenuBar & Menubar"
Hi,

A great example showcasing the use of the menubar functionality via windows.
After upgrading to flutter 3.0 we now have a conflict between ;
* `package:flutter/src/widgets/platform_menu_bar.dart`
* `package:menubar/src/menu_item.dart`

I've tried adding an alias to the imports like so;
[code]
But still getting the error :/

[code]

[2022-05-15 20:54] drandell commented on #1268
Hiding MenuItem in menu_channel.dart from the menubar package fixes this.

[2022-05-17 06:11] craiglabenz opened #1270 "gh-pages workflow is broken"
During I/O, deploying updated builds of the `gh-pages` branch (which powers https://flutter.github.io/samples/#) hit quite a few snags. These need to be thoroughly explored and fixed.

[2022-05-17 18:04] saingsocheat opened #1271 "True"

[2022-05-17 18:05] saingsocheat opened #1272 "Regards"
Install,

[2022-05-17 18:05] #1271 closed

[2022-05-17 21:00] domesticmouse commented on #1272
I'm curious what the issue is here. Can you supply a minimal reproduction case of the issue you are facing =)

[2022-05-19 15:57] guidezpl opened #1276 "`material_3_demo` Small fixes"
Collecting feedback from myself and designers in a single place:

- [ ] When Material 2 is on, should swap out `NavigationBar` for `BottomNavigationBar`
- [ ] When Material 2 is on, selected color for navigation rail is clashing
  <img width="65" alt="Screen Shot 2022-05-19 at 17 58 21" src="https://user-images.githubusercontent.com/6655696/169345060-a0e90d1e-c87c-4d4b-abfc-2df408d7c763.png">
- [x

[2022-05-19 16:00] domesticmouse commented on #1276
It feels like this issue is under specified 😎

[2022-05-19 16:01] guidezpl commented on #1276
take that back! :)

[2022-05-20 17:45] RoyalCoder88 opened #1278 "Web TextFormField don't work on Chrome iOS"
Hi friends,

The web **TextFormFields** doesn't work on **Chrome iOS** how can I fix this issue? Any ideas, please guide me!
![WhatsApp Image 2022-05-20 at 6 23 21 PM](https://user-images.githubusercontent.com/6507433/169583663-a5566c19-6b91-4bfb-85b4-8b8163b86cb0.jpeg)
Thanks in advance!

[2022-05-26 11:04] fiorins opened #1284 "Error report"
Hi, I install the app but it doesn't show the "favorites" & "visited" markers on the map but only "want to go" places, however they are shown only in the list view, i wondering if i am the only one to have this kind of error, thanks
<img width="383" alt="Immagine 2022-05-26 130124" src="https://user-images.githubusercontent.com/32281481/170475789-8c9a307a-1630-4e58-8fe9-3fa13e58bb9f.png">
<img wid

[2022-05-26 13:37] #1284 closed

[2022-05-26 14:05] fiorins commented on #1284
I didn't import the files in asset folder ;)

[2022-05-27 04:09] domesticmouse commented on #1284
Oh I've done that, more than once 🤪

[2022-05-28 14:55] craiglabenz opened #1287 "game_template does not build on macOS"
[code]

Its web build does work.

[2022-05-28 15:00] craiglabenz opened #1288 "game_template has navigation error"
After pressing the AppBar's Back button from the level screen, the following logs appear:

[code]

And the screen looks like this:

<img width="1200" alt="Screen Shot 2022-05-28 at 11 00 00 AM" src="https://user-images.githubusercontent.com/855034/170830952-f46d53f6-d9de-425e-9315-23a5248a5b94.png">

[2022-05-28 17:36] #1287 closed

[2022-05-30 17:58] parlough opened #1293 "Update Java version used in build"
The build currently used JDK 12 which reached end of life 2+ years ago. We should update this, preferably to an LTS release like JDK 17 if possible.

It seems usages of Gradle will need to be updated to a more recent release as well that supports JDK 17 (7.2+).

[2022-05-30 21:14] parlough commented on #1270
This looks to have been fixed with https://github.com/flutter/samples/commit/9b840e61c84ba097e4d07974dcaae45827241c5c resulting in https://github.com/flutter/samples/commit/a118790bcd52526d731a7f0c4559689045bf44e6

[2022-05-30 21:14] #1270 closed

[2022-06-02 09:26] reytum opened #1298 "[add-to-app] Add FlutterView to iOS sample and documentation missing"
Hi All,

I have a requirement where we are migrating our native apps to flutter. We need to replace certain views in our native apps with flutter apps. For Android I can see the documentation and sample, but its not available for iOS. So, is the flutter view missing integration for iOS or the documentation and samples are not available? If so, is there any workaround for it?

[2022-06-02 11:23] domesticmouse commented on #1298
Add to app is supported on iOS. Please see https://docs.flutter.dev/development/add-to-app#add-to-ios-applications for documentation.

[2022-06-02 17:24] reytum commented on #1298
@domesticmouse Thanks for your reply. This document only mentions how to add a flutter screen to your existing iOS app. What I am looking for is combination of native and flutter views inside my native ViewController. For e.g in Android I am able to add a FlutterView in my Activity alongside native views. Here is the android documentation for the same: https://docs.flutter.dev/development/add-to-a

[2022-06-02 17:45] reytum opened #1299 "[add-to-app] Android multiple flutter cells within recycler view"
Hi All,

The sample for add-to-app android shows how to add a FlutterView to Android recycler view. But the sample only adds a flutter cell once the previous one has been recycled. Is there a way to add multiple flutter cells in Android recycler view? Here's the link to the sample: https://github.com/flutter/samples/blob/main/add_to_app/android_view/android_view/app/src/main/java/dev/flutter/examp

[2022-06-02 20:33] domesticmouse commented on #1299
Hey @gaaclarke, do we have samples for multiple Flutters?

[2022-06-02 20:34] domesticmouse commented on #1298
Hey @gaaclarke, can we document this use case?

[2022-06-02 20:41] gaaclarke commented on #1299
https://github.com/flutter/samples/tree/main/add_to_app/multiple_flutters is this what you are looking for?

[2022-06-02 20:50] gaaclarke commented on #1298
Ahh I understand.  We don't have documentation explicitly explaining how to do this, but it is shown inside of our sample code: https://github.com/flutter/samples/blob/main/add_to_app/multiple_flutters/multiple_flutters_ios/MultipleFluttersIos/DoubleFlutterViewController.swift

The gist is that a `FlutterViewController` has a `view` property that you can embed into a different `UIView`.

[2022-06-03 17:19] jmagman opened #1300 "Add add-to-app sample that uses `flutter build macos-framework`"
`flutter build macos-framework` is available in master, but only works from normal `flutter create`d apps, not `-t module`.  Add a sample that shows `flutter build macos-framework` and `flutter build ios-framework` from a normal app (not module)

See https://github.com/flutter/flutter/issues/104866 and https://github.com/flutter/flutter/pull/105242.

[2022-06-04 01:43] domesticmouse commented on #1300
@jmagman Any ideas when this will show up on `beta`?

[2022-06-04 05:36] jmagman commented on #1300
Not sure what the beta schedule is. I need a few engine changes too, I'll try to get that in next week.
I assigned this to myself, I have a prototype working.

[2022-06-04 05:58] domesticmouse commented on #1300
Sounds good. To land a sample that only works in beta will require adding it to the beta CI and adding it commented out to the stable CI. I'm happy to own the AI to enable it with the next stable release.

[2022-06-08 18:57] ashish-bb-16 commented on #1298
@gaaclarke Thanks for your reply. However, I still couldn't find the exact implementation of the view inside https://github.com/flutter/samples/blob/main/add_to_app/multiple_flutters/multiple_flutters_ios/MultipleFluttersIos/DoubleFlutterViewController.swift. Could you please point me to the exact code where we are adding a flutter view to native ViewController?

[2022-06-13 05:22] reytum commented on #1298
@domesticmouse @gaaclarke Thanks, I was able to integrate flutter views into iOS UITableView by using the view property of FlutterViewController. Is there a same documentation for integrating flutter View into existing Web and PWA apps?

[2022-06-13 05:24] reytum opened #1304 "[add-to-app] Integrate Flutter View into existing web and PWA apps"
Currently the Flutter add to app section has documentation for android and iOS only. Is there a way to integrate FlutterViews into existing Web and PWA apps? Is there a documentation or sample project present?

[2022-06-13 05:25] reytum commented on #1299
@gaaclarke @domesticmouse Thanks. Was able to use multiple engines and reuse them based on the visible views in the recycler view. This fulfils my use case.

[2022-06-13 05:25] #1299 closed

[2022-06-13 05:26] reytum commented on #1298
@domesticmouse @gaaclarke Thanks. Was able to integrate FlutterView using the view property of the FLutterViewController into UITableView using multiple reusable engines. This fulfils my use case.

[2022-06-13 05:26] #1298 closed

[2022-06-25 06:46] glsee commented on #1288
In my case, the AppBar is already disabled and hidden from view in the template. I'm unable to trigger the error.

![image](https://user-images.githubusercontent.com/457429/175762008-71738a43-03d0-464c-b162-67db7a3a5eaa.png)

[2022-06-25 06:53] glsee opened #1315 "game_template's background music player only plays the first music on Web"
As per my test on the `game_template`, when running on the web, the `game_template`'s background music player only plays the first music one time, and then stop completely. When running on Android, it is able to continuously play the next music in the queue and loop through the playlist.

[2022-07-07 23:07] domesticmouse opened #1321 "Looks like `desktop_photo_search/fluent_ui` is b0rked"
From the [CI logs](https://github.com/flutter/samples/runs/7239936799?check_suite_focus=true#step:5:279):

[code]

[2022-07-08 01:34] #1321 closed

[2022-07-08 10:39] abhayam17 opened #1323 "Crash: flutter plugin module crash while trying to reopen terminated app."
Flutter plugin module is crashing when re-open ios main application that has been killed/terminated either by manually from background or killed when change the camera permission from settings.
Similar way flutter fullscreen integrated iOS app is not working when re-open the terminated or killed app.

Please find the relevant crash video in following link given below
https://drive.google.com/file/

[2022-07-10 22:08] domesticmouse opened #1324 "`simplistic_editor` has a broken `TextEditingDeltaHistoryManager` implementation"
The `TextEditingDeltaHistoryManager` has an interesting problem. The `updateShouldNotify` implementation looks sane:

[code]
But it is broken by the fact that the `List<TextEditingDelta>` is constructed as a final mutable list in `_MyHomePageState`:

[code]

However, fixing this with `DeepCollectionEquality` like [this](https://github.com/flutter/samples/commit/031a97ba6abf42526e14798930ed63b789a9

[2022-07-11 21:33] Renzo-Olivares commented on #1324
I'll check this out. Thanks for bringing it on my radar!

[2022-07-14 20:21] #1268 closed

[2022-07-15 12:39] danny-laa opened #1327 "Add license headers to Material 3 demo"
The [top level LICENSE file](https://github.com/flutter/samples/blob/main/LICENSE) contains three different licenses,

- 3-clause BSD License
- SIL Open Font License
- Apache License

Which one applied to the code in this repo? Is this repo dual licensed under BSD and Apache?

[2022-07-16 12:33] domesticmouse commented on #1327
See individual files for which license each file is under.

[2022-07-16 14:01] danny-laa commented on #1327
But not every file has a license header in it.

For example, I found no license header within [the material_3_demo folder](https://github.com/flutter/samples/blob/main/material_3_demo/)

[2022-07-16 14:02] danny-laa commented on #1327
@domesticmouse But not every file has a license header in it.

For example, I found no license header within [the material_3_demo folder](https://github.com/flutter/samples/blob/main/material_3_demo/)

[2022-07-16 22:31] domesticmouse commented on #1327
That’d be a bug

[2022-07-18 04:38] #1327 closed

[2022-07-31 16:41] YacheLee opened #1354 "Face the error Invalid constant value for Cupertino"
Hi, I am trying to follow the steps made by this YouTube: https://www.youtube.com/watch?v=3PdUaidHc-E&t=128s

[code]

Why my code can't work?
![Screen Shot 2022-08-01 at 12 40 09 AM](https://user-images.githubusercontent.com/8147977/182036501-ccaf9b14-5449-4bd5-bd1b-5698ebafd3a8.png)

I've separated the code snippets, but the situation remains the same
![image](https://user-images.githubuserconten

[2022-08-01 03:20] #1354 closed

[2022-08-04 16:12] moshOntong-IT opened #1363 "I am using the Game Template but during run there is some error occurs"
I encountered some minor problem when I am starting to run my flutter game project using the Game template.
"Warning: Mapping new ns http://schemas.android.com/repository/android/generic/02 to old ns http://schemas.android.com/repository/android/generic/01"
<img width="835" alt="image" src="https://user-images.githubusercontent.com/57244338/182896294-cf559bbf-1c73-472c-9aae-7446535f84c9.png">

Alt

[2022-08-04 21:24] domesticmouse commented on #1363
What are the reproduction steps for this issue?

/cc @filiph

[2022-08-05 10:17] moshOntong-IT commented on #1363
I didnt change the game template I just run it and I show this minor error on debug log.

[2022-08-09 19:59] justinmc opened #1373 "Add the website to the GitHub "About" section"
Would it make sense to add the link to the website (https://flutter.github.io/samples/) to the About section @domesticmouse?  Usually I look for links like that there and was surprised to not see it.  There should be a gear icon in the About section of the main repo page that reveals a "website" field.

![Screenshot from 2022-08-09 12-57-07](https://user-images.githubusercontent.com/389558/1837495

[2022-08-09 20:43] domesticmouse commented on #1373
I think this makes sense. @johnpryan, WDYT?

[2022-08-10 19:44] johnpryan commented on #1373
SGTM

[2022-08-10 19:44] johnpryan commented on #1373
We could also consider creating subdomain like samples.flutter.dev

[2022-08-11 08:06] #1324 closed

[2022-08-25 01:14] daniel-hopkins opened #1388 "[add_to_app] Command PhaseScriptExecution failed with a nonzero exit code"
Are the official instructions found [here](https://docs.flutter.dev/development/add-to-app/ios/project-setup) still accurate
with these specs?
- mac m1
- osx 12.2
- xcode 13.4.1
- flutter 3.0.4
- cocoapods 1.11.3

I have tried the setup twice a fresh `flutter create -t module`, and a fresh project in xcode.
The app will run on first create, but after following the add_to_app setup instructions I g

[2022-08-25 10:11] domesticmouse commented on #1388
@gaaclarke thoughts?

[2022-08-25 14:09] stuartmorgan commented on #1321
Why isn't this using a pinned hash, so this kind of thing doesn't happen? A git reference without a hash is the equivalent of using `any` for a published package, and is a bad idea for all of the same reasons.

[2022-08-25 21:18] daniel-hopkins commented on #1388
Following up on this. I decided to test it on my intel desktop with these specs:

- OSX 12.1
- XCode 13.4.1
- Flutter 2.10.3
- cocoapods 1.11.3

and it built fine on the first try. new clean xcode project and flutter modules just as I tried on the M1.

Cheers

[2022-08-26 01:30] daniel-hopkins commented on #1388
I created a 3rd test on the M1, and this time I left _out_ the last [step](https://docs.flutter.dev/development/add-to-app/ios/project-setup#apple-silicon-arm64-macs) listed for M1 Macs.
I'm not sure if I'm misunderstanding or if it's not needed now, but in any case it's working now.

Thanks to the @flutter team for making all this possible!!

[2022-08-26 01:30] #1388 closed

[2022-08-27 08:15] ronw98 opened #1394 "The splashscreen sample does not work"
Tested on android emulator API 32
![image](https://user-images.githubusercontent.com/44091831/187021572-2a769612-8954-4465-b6a8-8e9dc8857677.png)

Flutter doctor:
<img width="691" alt="image" src="https://user-images.githubusercontent.com/44091831/187021603-68db2384-46c2-46e8-b273-28b1592901a5.png">

[2022-08-28 11:22] domesticmouse commented on #1394
Hey @camsim99, do you have a time to poke the `android_splash_screen` sample to figure out how it broke?

[2022-08-28 12:06] ronw98 commented on #1394
Actually this might be a bug on the emulator or android studio, the splash screen doesn't show when run using android studio but launching the app normally on the simulator shows the splashscreen as expected

[2022-08-28 12:06] #1394 closed

[2022-08-29 12:43] domesticmouse commented on #1321
ELI5 time.

If I pin a git hash for the `menubar` and `window_size` packages, is there a process for automating the updating of the git hashes as the packages get updated?

Sure, having these samples break semi-randomly isn't great, but it is better than having the sample slowly bitrot due to a seriously out of date git hash...

[2022-08-29 14:33] stuartmorgan commented on #1321
I don't know if dependabot can update git references.

The assumption here is that Flutter will break the plugins more often than the plugins break clients. There are absolutely no guarantees about API stability for these experimental plugins (which is why the docs for the repo explicitly say to pin a hash), so I don't think that's a safe assumption.

[2022-08-31 22:51] LucasAschenbach opened #1413 "Simplistic Editor: unexpected behavior of TextInputClient on web"
When using the [simplistic_editor](https://github.com/flutter/samples/tree/main/simplistic_editor), the TextEditingValue seems to fork into two different states after delete operations while skipping characters during deletion.

# Steps to Reproduce
1. Open https://flutter.github.io/samples/web/simplistic_editor/#/ (or build for web)
2. Clear text field
3. Type `afafaf`
4. Perform 6 delete operati

[2022-08-31 23:42] domesticmouse commented on #1413
PTAL @Renzo-Olivares

[2022-09-02 20:53] Renzo-Olivares commented on #1413
Thanks will check this out!

[2022-09-06 17:26] johnpryan opened #1418 "Add support to Visual Sample Index for beta or master channels"
Add support to host experimental/ samples that depend on non-stable channels of the SDK.

[2022-09-06 22:04] justinmc opened #1419 "Add this Shortcut / Intent / Action sample?"
This issue is mainly directed at @domesticmouse, who brought this up to me when I was rehearsing my Flutter Vikings talk.

GitHub repo: https://github.com/justinmc/flutter_shortcut_intent_action_talk
Live demo: https://justinmc.github.io/flutter_shortcut_intent_action_talk/#/

I made an app to go along with a talk on Shortcuts, Intents, and Actions, and I'm wondering if it is something that we sho

[2022-09-06 22:33] domesticmouse commented on #1419
I'm supportive of this sample being included. Thoughts @craiglabenz and @johnpryan?

[2022-09-09 07:35] amantoux opened #1424 "Hitting `suppr` causes DeltaTextInputClient to send incorrect TextEditingDeletion on Web platform"
## Steps to Reproduce

1. Run https://flutter.github.io/samples/web/simplistic_editor/#/ in a browser
2. Set cursor on right after first character (after 'T')
3. Hit `suppr`on keyboard

**Expected results:** Deletion Delta Offset = `(1,2)`

**Actual results:** Deletion Delta Offset = `(0,1)`

Code sample: https://github.com/flutter/samples/blob/main/simplistic_editor

[2022-09-09 10:51] domesticmouse commented on #1424
PTAL @Renzo-Olivares

[2022-09-09 13:57] amantoux commented on #1424
Nothing is wrong with the sample code

The issue is with DeltaTestInputClient when run on web platform

It's complicated to setup working example to demonstrate the problem but it can be easily reproduced withe the sample

[2022-09-19 02:38] peter100u opened #1432 "How to remove the ripples of BottomNavigation"
i wan to remove  remove the ripples of BottomNavigation

[2022-09-19 04:46] #1432 closed

[2022-09-20 15:56] johnpryan opened #1436 "Navigation and routing samples should use go_router v5"
go_router 5 is now [available on Pub](https://pub.dev/packages/go_router), so the navigation_and_routing sample should be updated to use it

[2022-09-20 16:12] johnpryan commented on #1436
Depends on https://github.com/flutter/flutter/issues/111981

[2022-09-26 22:19] domesticmouse opened #1443 "`simplistic_editor` needs update for Flutter 3.4 beta"
From [CI failure logs](https://github.com/flutter/samples/actions/runs/3127477852/jobs/5074144430#step:5:1025):

[code]

[2022-09-27 08:36] amantoux commented on #1424
Can you please have a look? This is blocking our project

[2022-09-27 21:22] Renzo-Olivares commented on #1424
@amantoux Thank you, I'll take a look. I'm able to reproduce this on my end.

[2022-09-28 07:49] cgestes commented on #1424
btw backspace doesn't work correctly either on the web, in the example deleting multiples chars in a row with backspace make the text alternates between two differents values.

deleting "brown", I get:
```The quick rw fox jumps over the lazy dog.```

if I click anywhere on the text it alternates with:
```The quick bo fox jumps over the lazy dog.```

If I select some text, the alternation stops.

[2022-09-28 12:43] bleroux commented on #1424
While learning the inner-workings of Flutter text editing, I have investigated this issue.

It is reproducible on Desktop too (Linux on my side, I have yet to test it on other platforms). To repro on Linux, I run the updated version of `simplistic_editor` from https://github.com/flutter/samples/pull/1447.
(@cgestes Thank you for reporting https://github.com/flutter/samples/issues/1424#issuecomment

[2022-09-28 21:49] Renzo-Olivares commented on #1424
@cgestes I think that issue might be isolated to this demo.

@bleroux On the web side, the engine is sending the wrong delta offset (this sample ignores shortcuts for web). On the desktop side of things, the fix you described will work since `LogicalKeyboardKey.delete` is handled in `DefaultTextEditingShortcuts` https://github.com/flutter/flutter/blob/18a827f3933c19f51862dde3fa472197683249d6/packa

[2022-09-29 13:29] bleroux commented on #1424
@Renzo-Olivares Many thanks for your insights, it helps me go deeper into this investigation.

I found that even for Web the delete key is handled by a `Shortcut`. This `Shortcut` is registered by `WidgetApp` which uses `DefaultTextEditingShortcuts`. The `Shortcuts` widget added by the sample app (in `BasicTextInputClientState.build`) does not override the default shortcuts so those shortcuts are

[2022-09-29 16:13] cgestes opened #1450 "SimplisticEditor: Strange behavior which text changing on click"
extracted from https://github.com/flutter/samples/issues/1424#issuecomment-1260520780

backspace doesn't work correctly on the web, in the example deleting multiples chars in a row with backspace make the text alternates between two differents values.

deleting "brown", I get:
```The quick rw fox jumps over the lazy dog.```

if I click anywhere on the text it alternates with:
```The quick bo fox j

[2022-09-29 19:47] Renzo-Olivares commented on #1424
@bleroux Oh thats interesting, I can confirm that the delete key is handled by the shortcut. The reason for that is that we don't handle `DoNothingAndStopPropagationTextIntent`. It should be mapped to `DoNothingAction(consumesKey: false),` in our `<Intent, Action<Intent>>` mapping in `BasicTextInputClientState`. When there is no mapping, the shortcuts system searches the outer `DefaultTextEditingS

[2022-09-29 21:11] domesticmouse commented on #1450
PTAL @Renzo-Olivares

[2022-09-30 13:42] bleroux commented on #1424
@Renzo-Olivares I was not aware of `DoNothingAndStopPropagationTextIntent` so I used the following code to “override” all shortcuts added by `WidgetApp`:
[code]

Your solution looks better. :smile:

Great! I will work on this as soon as possible.

[2022-10-05 05:57] himanshu634 opened #1459 "Don't understand how to make FlutterView transparent and control z-index both at same the time."
Currently, I am learning to integrate flutter into native android and understanding FlutterView.
I have come to the point where I want transparency and also want to control the z-index of the FlutterView. But If I pass the `FlutterSurfaceView(this, true)` class in the constructor then I can get transparency but it will bring FlutterView to the top of all android layers. And when I use `FlutterText

[2022-10-05 06:47] #1413 closed

[2022-10-05 06:47] #1450 closed

[2022-10-05 06:51] domesticmouse commented on #1459
Per our [Community](https://flutter.dev/community) page, I'd suggest either asking on our Discord, Community Slack, or StackOverflow. This issue tracker is for recording issues with the samples. Thanks!

[2022-10-05 06:51] #1459 closed

[2022-10-06 08:38] #1363 closed

[2022-10-06 22:24] Renzo-Olivares commented on #1424
This should be fixed with flutter/engine#36616 and #1458

[2022-10-06 22:24] #1424 closed

[2022-10-07 11:24] #1315 closed

[2022-10-09 02:04] domesticmouse opened #1469 "Verify web demos for `beta` channel"
The `.github/workflows/verify-web-demos.yml` workflow needs the ability to temporarily comment out apps from the Beta channel verify run.

See `tool/flutter_ci_script_beta.sh` for the current list of projects that need to be elided from verification.

[2022-10-10 16:33] ayoubXOXO opened #1471 "the logo doesn't appear till the second launch of the app"
i am working with flutter version 3.3.4.
i have been struggling to make the splash screen on android 12 and above to work , and finally i found out that it works but only when you restart the app from hot restart and not cold restart ,
honestly i started to think to move to react native...
3 days no sleep because of a splash screen that's quite too much

[2022-10-10 17:59] parlough opened #1472 "Roll new changes into `package:mdc_web` then update in samples_index"
We currently have to [override](https://github.com/flutter/samples/blob/main/web/samples_index/pubspec.yaml#L26-L31) the `sass` dependency due to a previous issue with Material Components Web which the fix for has not yet rolled into `package:mdc_web`. Due to changes in modern `sass` versions, we also have to restrict `sass_builder` to an old version.

We should incorporate the new changes into `p

[2022-10-10 22:18] domesticmouse commented on #1471
Which sample are you reporting an issue with? I'm confused 🫤

[2022-10-11 08:21] ayoubXOXO commented on #1471
the sample
[(https://github.com/flutter/samples/tree/main/android_splash_screen)]

steps that results the issue :

1-configure splash screen with a logo in center of the screen for android 11 and below and android 12 and above
2-run the app on android 11 and below ==> everything works as expected splash screen background  changed logo added
3-run the app on android 12 and above ==>splash screen ba

[2022-10-13 15:18] domesticmouse commented on #1471
@camsim99 any idea what is going wrong here?

[2022-10-14 13:08] rida2025 opened #1475 "Document how to add window_size as a dependency"
[first_app] flutter pub add window_size
Because first_app depends on window_size any which doesn't exist (could not find package window_size at https://pub.dartlang.org), version solving failed.
pub finished with exit code 65
exit code 65

[2022-10-14 14:10] domesticmouse commented on #1475
`window_size` isn't published on pub.dev. If you look at the `pubspec.yaml` files in this repo you will see that the `window_size` dependency is actually on a Git repository. See https://docs.flutter.dev/development/packages-and-plugins/using-packages#dependencies-on-unpublished-packages for guidance on how to add these packages to your app.

[2022-10-18 01:18] MarcBritton opened #1478 "Extra page shown when swiping back in Safari on iOS"
Tested using the `Navigation and Routing` application from the Flutter samples.
https://github.com/flutter/samples/tree/main/navigation_and_routing
I built this application for the web (`flutter build web`), then ran a local webserver on MacOS in build/web and connected to it with Safari from my iPhone.

When you swipe from outside the left edge of the screen across to the right on a Flutter Web a

[2022-10-18 06:29] 0xZOne opened #1479 "[platform_channels] dependOnInheritedWidgetOfExactType<_ScaffoldMessengerScope>() or dependOnInheritedElement() was called before _PetListScreenState.initState() completed."
══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
The following assertion was thrown building Builder:
dependOnInheritedWidgetOfExactType<_ScaffoldMessengerScope>() or dependOnInheritedElement() was
called before _PetListScreenState.initState() completed.
When an inherited widget changes, for example if the value of Theme.of() changes, its depende

[2022-10-18 11:06] domesticmouse commented on #1478
It'd be useful to boil this down to a minimal reproduction case and then file against the flutter/flutter repo.

[2022-10-18 11:08] domesticmouse commented on #1479
@gaaclarke any ideas?

[2022-10-18 11:15] 0xZOne commented on #1479
[code]

@domesticmouse

[2022-10-18 12:49] domesticmouse commented on #1479
Please feel free to raise this as a PR. I can't accept the change as is as we need to enforce CLA on all submissions. Thanks!

[2022-10-18 18:02] johnpryan commented on #1478
This is likely fixed in https://github.com/flutter/samples/pull/1437

[2022-10-19 05:55] #1479 closed

[2022-10-20 10:55] domesticmouse opened #1487 "Update `isolate_example` to demonstrate `Foundation.compute` and Dart 2.19's `Isolate.run`"
Context: https://github.com/dart-lang/site-www/issues/3904

[2022-10-24 01:40] 0xZOne opened #1488 "[add_to_app] Type mismatch: inferred type is ComponentActivity but ExclusiveAppComponent<Activity!> was expected"
[code]

<details>
  <summary>flutter doctor -v</summary>

[code]

</details>

[2022-10-24 23:55] camsim99 commented on #1471
@ayoubXOXO What IDE are you using? I want to try to reproduce the issue so I can rule out this being caused by your environment.

[2022-10-25 01:10] #1488 closed

[2022-10-30 23:25] MarcBritton commented on #1478
Sorry, I meant to file this issue again the flutter/flutter repo. This appears to be a problem in a flutter itself, nothing to do with a specific Flutter sample.

I have opened a new issue here: https://github.com/flutter/flutter/issues/114324

[2022-10-30 23:25] #1478 closed

[2022-11-03 09:32] domesticmouse opened #1494 "Game Toolkit is breaking CI with Flutter 3.3.7"
Broken CI run: https://github.com/flutter/samples/actions/runs/3383386242/jobs/5619229358#step:5:1

In similar cases I’ve bumped Firebase dependencies to fix the issue.

[2022-11-03 09:46] filiph commented on #1494
So weird that this broke with a simple `pub upgrade`. Semver! :shakes fist at clouds: Looking into it.

[2022-11-04 02:45] #1494 closed

[2022-11-16 14:17] keciman opened #1500 "[samples][add_to_app] No such module 'FlutterModuleRegistrant'"
I did all the steps as described here: https://github.com/flutter/samples/tree/main/add_to_app/multiple_flutters/multiple_flutters_ios

During the build of the app I get error `No such module 'FlutterModuleRegistrant'`
My Xcode is up to date version 14.0 as well as my macOS.
Flutter version I have is 3.3.8.

Maybe the repo is outdated ? Or am I doing something Wrong ?

<img width="1139" alt="Scree

[2022-11-17 23:16] domesticmouse commented on #1500
Hey @gaaclarke, any ideas?

[2022-11-17 23:39] gaaclarke commented on #1500
The `FlutterModuleRegistrant` is the module that provides the `GeneratedPluginRegistrant.register` down below.  There is some magic that I don't know off the top of my head that generates that code from what plugins are installed in the flutter project.  That one in particular may be a Swift bridge to that generated objc code, adding more magic on magic.

Things to check:
1) Make sure you have ope

[2022-11-18 09:14] keciman commented on #1500
@gaaclarke I did all the steps as stated in the example app which are the same as the steps you stated here above. I tried even once more for us to be sure. It did not help.

You gave me and idea that there could be problem with bridging file. I experienced issue with that sometimes. In the Xcode settings there is no bridging header set. I will try to go through and make it work then reply here.

[2022-11-18 14:38] keciman commented on #1500
@gaaclarke Ok my assumption up there was quite non sense. The issue is probably somewhere else. The solution for me was to just comment out the line with `import FlutterModuleRegistrant` and the line with
`GeneratedPluginRegistrant.register(with: newEngine)` not really proud of that but other solution might take me too much time and this just builded app and it worked. Thanks for your time. Last t

[2022-11-20 07:15] keciman commented on #1500
Altough the app works without the lines above. It is not connected with native iOS. The MethodChannel methods can not be found even tho they are implemented.

[2022-11-21 18:13] gaaclarke commented on #1500
I just downloaded and ran the example fine.  Your repo may be goofed.  Try this (where // is the path to the repo and origin is your remote):

[code]

Then build and run from xcode.

I've seen no evidence that there is anything wrong with the sample beyond the fact there is a couple of pitfalls that make running the sample harder than it should be.

[2022-11-21 20:03] keciman commented on #1500
Thanks so much it helped me. I will close this issue.

[2022-11-21 20:03] #1500 closed

[2022-11-28 00:48] snoop911 opened #1505 "Building/Running sample 'desktop_photo_search' project reports error"
flutter doctor says 'No Issues Found', yet trying to run the sample project it shows:

Unsplash Access Key is required. Please add to `lib/unsplash_access_key.dart`.

I think I have everything installed so not sure what this means.

[2022-11-28 07:53] domesticmouse commented on #1505
From the `README` files:

This desktop application enables you to search [Unsplash](https://unsplash.com/) for photographs that interest you.
To use it, you need to add an **Access Key** from [Unsplash API](https://unsplash.com/developers) to `lib/unsplash_access_key.dart`.

[2022-11-28 23:26] HydraBabakri opened #1507 "Please help, I have a problem with BottomNavigationBar"
When I connect the application to the phone, I run it, and this appears

It also appears in the DEBUG CONSOLE list, which is in blue and does not stop counting

`Exception has occurred. _AssertionError ('package:flutter/src/material/bottom_navigation_bar.dart': Failed assertion: line 188 pos 11: 'items.every((BottomNavigationBarItem item) => item.label != null)': Every item must have a non-null la

[2022-11-29 01:01] domesticmouse commented on #1507
This isn't the forum for debugging random code. Per https://flutter.dev/community I'd strongly suggest posting this question on https://stackoverflow.com/tags/flutter

To make it possibly for people to be able to help you debug your issue, I strongly suggest creating a minimal reproduction of the issue and post it at GitHub so people can review your code. See https://stackoverflow.com/help/minimal

[2022-11-29 01:01] #1507 closed

[2022-11-29 22:48] eseidel opened #1509 "flutter/samples is too large to check out"
My checkout has been running for at least 10 minutes. :/

![image](https://user-images.githubusercontent.com/478541/204664999-17c96e95-0353-492c-a7f5-343b932e0d00.png)

Maybe something is bugged on my end, but my guess is the repo is simply large with old asset files?  It may be time to investigate pruning history.

e.g. https://www.baeldung.com/git-remove-file-commit-history

[2022-11-29 23:54] gaetschwartz commented on #1509
The README gives you tips to minimize download size: https://github.com/flutter/samples#tip-minimize-download-size

[2022-11-30 02:17] domesticmouse commented on #1509
The linked article talks about rewriting history to cut out a specific file. It doesn't speak about figuring out which files to cull, near as I can tell.

We could rewrite history to collapse some of the early history, at the cost of invalidating any forks.

Alternatively, we could split this repository into individual repos per sample or group of samples.

Thoughts?

/cc @RedBrogdon @craiglabenz

[2022-11-30 09:01] guidezpl opened #1510 "[M3] Group components by taxonomy group"
We should use the taxonomy groups listed at https://m3.material.io/components to group the components page on the m3 sample app. cc @QuncCccccc