[2018-10-05 09:38] mit-mit opened #265 "Apps in flutter/samples should use the new application template"
https://github.com/flutter/flutter/pull/22565 landed a new default flutter template. This allows us to not have to check-in `android` and `ios` directories when they have just default content. We should update the app samples in https://github.com/flutter/samples to use it.

[2019-04-03 03:55] xster opened #277 "[Veggie Season] Unclear what the main feed's sorting is"

[2019-04-03 03:57] xster opened #278 "[Veggieseasons] Let the search page feed slide behind the search/tab bar"

[2019-04-03 03:59] xster opened #279 "[Veggieseasons] Main feed shouldn't scroll behind status bar"
See the iOS App Store. There's a static background bar behind the status bar as the feed is scrolled up.

[2019-04-04 23:43] xster opened #280 "[Veggieseasons] Let overscroll happen in the header section"
Instead of between the header and the list under it. It should also zoom out the image a bit. See the iOS podcast app. One a podcast and drag down.

[2019-06-17 23:15] kobutri opened #297 "Veggieseasons sample drops frames while scrolling"
I noticed that the veggieseasons sample app drops below 60fps while scrolling through the veggies on the home screen.
I get an average of around 20ms/frame GPU time and max GPU time of around 30 ms/frame.
So it only runs about 50fps, which seems like a small deviation but on a fixed refresh display it leads to micro stuttering.

### Test Setup:
Flutter 1.7.4 release build.
I turned on the performa

[2019-07-03 16:01] RedBrogdon opened #266 "The place_tracker sample should use a stock state mgmt approach"
The place_tracker sample in flutter/samples is using a custom InheritedWidget for state management, rather than an off-the-shelf approach. While it's fine to show folks how to write their own InheritedWidget to hold app state, place_tracker should be focused entirely on Maps.

[2019-08-30 17:25] dnfield opened #281 "Push a bitcode enabled app to test flight"
Now that Bitcode is available for Flutter apps, we'd like to measure what the store actually produces for an IPA.

@RedBrogdon - could we create a build of Veggie Sessions or similar with bitcode enabled, publish it ot test flight, and measure it on some device(s)?  I'd be happy to sit with you on this if it helps.

[2019-10-22 16:06] arnath opened #270 "provider_shopper sample is missing login page"
The flutter docs at https://flutter.dev/docs/development/data-and-backend/state-mgmt/simple describe a shopper app that has a login page. However, the sample linked (https://github.com/flutter/samples/tree/master/provider_shopper) does not have that. One of the docs or the sample should be updated to fix this.

[2019-12-19 00:43] xster opened #271 "Create continuous build/integration samples and documentation for add-to-app"
We currently have https://flutter.dev/docs/deployment/cd and partners like CodeMagic for full-Flutter CI instructions but it's not clear how to do add-to-app CI. Create documentation and samples demonstrating add-to-app CI.

cc @RedBrogdon

[2019-12-20 05:03] jrutley opened #275 "[codelabs] !_debugLocked': is not true. on hot reload"
## The Problem

Once this error occurs, you have to stop the app before performing any more hot reloads:
![image](https://user-images.githubusercontent.com/771365/71230349-504ffb80-22b7-11ea-9aaa-899f9f27f125.png)

## Steps to Reproduce

I've been going through the Flutter tutorial at this point (https://codelabs.developers.google.com/codelabs/first-flutter-app-pt2/#5)

Dart file here: [Rename to

[2020-01-21 15:45] tperraut opened #245 "[ Provider Doc ] ChangeNotifier inside update"
https://github.com/flutter/samples/blob/b7ec38af9cb57fa39375bf793b25e1d4b43e8975/provider_shopper/lib/main.dart#L32

I was implementing a little test project with official Flutter doc about state management and looking at your awesome example. Thank you a lot btw.

While reading the ChangeNotifierProxyProvider documentation, I found this :
[code]
So, if creating a new ChangeNotifier inside update

[2020-01-21 16:06] RedBrogdon commented on #245
Huh.

It looks like @rrouselgit's chief concern is that you don't lose the state contained in your ChangeNotifier by tossing it out and creating a new one. Though it does create a new instance, the app doesn't do that, since it uses a copy constructor of sorts to maintain the selected item state:

https://github.com/flutter/samples/blob/master/provider_shopper/lib/models/cart.dart#L20

@filiph Wha

[2020-01-21 16:28] rrousselGit commented on #245
There's more than losing the state to that statement
Some background: https://github.com/rrousselGit/provider/issues/260

By cloning the instance instead of reusing it, it'll force an update on dependents for no reason.

It may also be very dangerous with click handlers.
The community likes doing:

[code]

But if since they pass `listen: false`, the click handler _may_ point to a previous instance

[2020-01-21 16:35] rrousselGit commented on #245
A more concrete dangerous use-case is asynchronous operations:

[code]

In such code, when using clone, if `update` was somehow called before `doSomething` finished, the mutation will be performed on the wrong object.

[2020-01-21 18:34] RedBrogdon commented on #245
@rrousselGit That makes total sense. Thanks for dropping by. 😄

Bottom line is that the whole point of ChangeNotifier is to be mutable and notify upon change, so to swap out the ChangeNotifier instance itself rather than mutating it and updating dependents is working against the design.

@filiph, based on this discussion, I feel we should change CartModel so a single instance can be updated with a

[2020-01-21 20:00] filiph commented on #245
Makes sense! Good points all around. I'm traveling but will try to get to make the PR (and possibly upgrade to provider in a follow on change) this week.

[2020-01-27 20:32] vargavince91 opened #267 "Where is the "Building Beautiful UIs with Flutter" codelab source code?"
I found multiple small errors I'd like to propose changes in the Flutter codelabs.

Unfortunately, I didn't find a repo for all of them. I'm looking for the source code for ["Building Beautiful UIs with Flutter"](https://codelabs.developers.google.com/codelabs/flutter/index.html).

I checked the `flutter/website` and `flutter/flutter` repositories and the [Google Codelabs organization](https://git

[2020-01-27 20:41] luohong123 opened #269 "flutter doc error english_words: ^3.1.0 version not found"
## Steps to Reproduce

1. https://flutter.dev/docs/get-started/codelab   this doc has error,for example, this doc write
`english_words`: ^3.1.0, but the  link of https://pub.dartlang.org/

![image](https://user-images.githubusercontent.com/20392340/57446247-dcf8fc80-7286-11e9-99a4-4f1515d330b3.png)

![image](https://user-images.githubusercontent.com/20392340/57499455-58ec5680-7312-11e9-92d5-e78ed5

[2020-01-27 21:31] StelzenPieper opened #272 "Google Codelabs: Build a Photo Sharing app with Google Photos and Flutter - refactoring to Androidx not possible"
Hi,
I cannot migrate the source code or final source code to androidx.
Everytime I runt he refactor in AS it shows me the message "no usages found in project".
I have tried only refactoring the Android folder, I have changed SDK to 28 and I have checked if Androidx is set to true but still no androidx refactoring possible.
Could someone provide me the refactored code or rather tell me what else I

[2020-01-27 21:34] ngouy opened #273 "write your first app Part1. `const` keyword are disappearing between subparts 3 and 4"
Here https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#2

We are told to copy-paste some code into our main.dart including :
[code]

On the next page, we are asking to paste new lines and update some others, but on line we don't have to touch, the `const` kw is disappearing from appBar title and body
https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#3

our

[2020-01-27 21:43] RedBrogdon commented on #265
@domesticmouse You just did a bunch of work recreating project structure for the older samples -- are we good on this?

There should only have been a few sample apps before the Flutter Live release of the SDK.

[2020-01-27 22:08] SandeepSimha opened #276 "Remove Unused Imports and Migrate examples to Android embedding v2"
## Use case
When I am checking the platform_channel_swift example project, I see that MainActivity is not Migrated to Android embedding v2. Also, I want to remove the unused imports in the MainActivity class.

## Proposal

I have fix for the above use case. Can I raise the Pull Request?

[2020-01-27 22:25] mit-mit opened #282 "Hot reload codelab experience: Step 8, part III"
This bug is filed to track a suboptimal hot reload experience during a step in our primary codelab (https://codelabs.developers.google.com/codelabs/flutter/). Other similar bugs exist for other steps.

This bug tracks step 8, part I ().

Before code:
[code]

After code:
[code]

Result:
[code]

Root causes:

   * ??

[2020-01-27 23:22] RedBrogdon commented on #281
@dnfield I remember testing a build of veggieseasons with you. Did that verify this issue, or was it something else?

[2020-01-27 23:24] dnfield commented on #281
That was for something else unfortunately.

[2020-01-27 23:25] RedBrogdon commented on #270
@filiph Can you advise here? Was there another version of the app made for that page?

[2020-01-27 23:39] RedBrogdon commented on #267
We don't maintain that app here. I believe friendlychat-steps is what you're looking for. I'll transfer the issue there.

From the timestamps on the commits, though, it looks like that app is sorely under-maintained.

[2020-01-27 23:50] RedBrogdon commented on #275
@jrutley There are definitely times when hot reload can cease working. An example of this is when you change a StatelessWidget class to extend StatefulWidget instead -- hot reload replaces the widget, which then looks for a state object, can't find one, and freaks out. The tools team is working on this and some other common scenarios.

I'm curious, though. When you ran into this problem initially,

[2020-01-28 00:25] jrutley commented on #275
I'm afraid I can't remember @RedBrogdon sorry. I believe it was just the hot reload -- whichever one happens automatically from within Android Studio on save.

[2020-01-28 05:33] domesticmouse commented on #265
I believe so. I’ll rebase all the projects again when the next stable release happens.

[2020-01-28 07:20] filiph commented on #270
Well spotted. I removed the login page from the sample after code review feedback that it's not relevant to the sample — which is true (I was not using any state/data from or in the login page).

As far as I remember, the only thing that still refers to the login page is the gif at https://flutter.dev/docs/development/data-and-backend/state-mgmt/simple. I could make a new gif recording (time permi

[2020-01-28 16:45] RedBrogdon commented on #276
@SandeepSimha, thanks for submitting this issue. The `platform_channel_swift` app in the examples folder is (I believe) only intended to be run on iOS (hence the `swift` part of the name). While it looks like it's possible to run it on an Android device (there's certainly Android battery manager code in the Java files), I believe that's either used for SDK testing or was just copied in when someon

[2020-01-29 19:09] RedBrogdon commented on #265
(furiously scanning through GitHub history)

There were only six samples in the repo at the end of 2018. Of those, two no longer exist and three have updated metadata. Only `place_tracker`'s `.metadata` file is older than the December '18 stable release. That should reflect the last time it was updated.

So it looks like we still have a tiny yak to shave. We can get to it the next time we have a m

[2020-01-30 16:43] santiagosuarezecheverri opened #296 "Target of URI doesn't exist: 'package:gallery/l10n/gallery_localizations.dart"
I don't exist the package

[2020-01-31 01:01] filiph commented on #245
I made https://github.com/flutter/samples/pull/298. I would be grateful for feedback from y'all.

[2020-01-31 20:51] RedBrogdon commented on #297
CC: @HansMuller

Clearly we needed our own issue tracker for the samples for a while now.

I don't have an iOS hardware device on me today, but I'll try to verify if this problem still exists with the current SDK.

[2020-01-31 20:53] RedBrogdon commented on #296
Can you tell us a little more about when you saw this error? What were you trying to do, for example, and with which sample?

[2020-01-31 21:08] RedBrogdon commented on #275
Got it. Thanks for the response, and thanks for filing the issue.

I believe the root problem here is that the difference between hot reload, hot restart, and full restart isn't always clear to new developers. We have a [dedicated guide](https://flutter.dev/docs/development/tools/hot-reload) for it, but it's an easy thing to miss, especially when first starting out.

Since that isn't a samples-rel

[2020-01-31 21:08] #275 closed

[2020-01-31 21:10] RedBrogdon commented on #271
This is in progress. We now have Travis building each Android and iOS add-to-app example in the repo.

The next stage is working with @collinjackson to get [espresso](https://pub.dev/packages/espresso)-based tests working for Android. iOS will follow that.

[2020-01-31 21:13] RedBrogdon commented on #270
Either one would resolve the issue, so whatever works best for your bandwidth is fine.

[2020-01-31 21:17] RedBrogdon commented on #245
LGTM

[2020-01-31 21:25] filiph commented on #245
Closing with #298.

[2020-01-31 21:25] #245 closed

[2020-02-03 18:30] jkurtw opened #308 "Keyboard blocks text input field in Material > Textfields"
If you open the Gallery app and navigate to Material > Textfields and tap to enter text in the password field, the keyboard comes up and covers the input. You can't scroll the view far enough to uncover it.

[2020-02-03 20:47] RedBrogdon commented on #308
@rami-a, looks like you're already on top of this one, so I'll close here.

Thanks!

[2020-02-03 20:47] #308 closed

[2020-02-04 07:06] liyuqian opened #309 "Add flutter_gallery__transition_perf of the new Flutter gallery app"
It's important to ensure that our new Flutter gallery app (already released in Google play store) is performant. Therefore, the new app should at least have some automated perf test like the old [flutter_gallery__transition_perf](https://github.com/flutter/flutter/blob/master/examples/flutter_gallery/test_driver/transitions_perf_test.dart) test to continuously monitor its performance.

[2020-02-04 09:33] VladyslavBondarenko opened #310 "Problems with https://flutter.github.io/samples/, unable to copy code"
In https://flutter.github.io/samples/ I can see such errors in the developer console

![image](https://user-images.githubusercontent.com/17024977/73731642-82bb9800-4741-11ea-934a-3633ed7ee972.png)

And I have
[code]
every time when trying to copy the code via copy button. So the copy button is not working

![image](https://user-images.githubusercontent.com/17024977/73731759-bc8c9e80-4741-11ea-9082

[2020-02-04 16:44] rami-a commented on #310
So this is a known issue, and there was a recent fix in flutter/flutter to support clipboard on web. However, we chose to use a slightly older commit on the master branch to deploy the web gallery due to this issue with flare assets https://github.com/flutter/flutter/issues/49429 that we deemed more important in the short term.

Once https://github.com/flutter/flutter/issues/49429 is fixed, we can

[2020-02-05 14:11] santiagosuarezecheverri commented on #296
Thanks for writing, I am trying to make the flutter gallery example banner, I wrote the code as is and the error is an address that is not found, the strange thing is that I have it in the right direction and it does not grab the package.
Thanks for writing, I am trying to make the flutter gallery example banner, I wrote the code as is and the error is an address that is not found, the strange thi

[2020-02-06 19:22] RedBrogdon commented on #310
@rami-a Do you have the ability to transfer this to the repo where you track Gallery issues?

[2020-02-06 19:51] rami-a commented on #310
@RedBrogdon unfortunately it looks like you can only transfer issues to repos in the same org.

So we could either keep this open here or just recreate the same issue in https://github.com/material-components/material-components-flutter-gallery/issues. Which do you prefer?

[2020-02-07 18:54] RedBrogdon commented on #310
I'd prefer to close and recreate it to be with the other gallery-specific issues, unless that's onerous for y'all.

[2020-02-07 18:59] RedBrogdon commented on #281
I pushed a bitcode-enabled version of Veggie Seasons up to TestFlight:

https://github.com/flutter/samples/pull/305

No warnings were received from iTunes/Apple, so I'm calling this one a win.

[2020-02-07 19:05] RedBrogdon opened #322 "Veggie Seasons UI doesn't handle dark mode well"
Title says it all. We need to update the app to deal with iOS's dark mode properly rather than displaying black-on-black text in several places within the app.

[2020-02-07 19:11] rami-a commented on #310
Sounds good, created https://github.com/material-components/material-components-flutter-gallery/issues/542 to track

[2020-02-07 19:11] #310 closed

[2020-02-07 19:32] dnfield commented on #281
Woohoo!

[2020-02-07 19:32] #281 closed

[2020-02-07 19:41] rami-a commented on #310
@VladyslavBondarenko I just re-deployed the gallery with flutter master and copy/paste should work now.

[2020-02-14 21:07] atjosue opened #330 "plattform_view demo code does not work"
When you try to run the test application, it opens and closes immediately.
Attached to this comment the data of my work environment and I would like to point out that I have already tried with the most recent version of Dart and Flutter and it did not work so I decided to make a downgrade.

iMac:platform_view_swift red5g$ flutter doctor -v
[✓] Flutter (Channel unknown, v1.12.13+hotfix.5, on Mac OS

[2020-02-15 20:44] aliyazdi75 opened #331 "[gallery] flutter pub run grinder l10n got problem"
-> `flutter pub run grinder l10n`

Output;
[code]

[2020-02-18 14:51] rami-a commented on #331
hey @aliyazdi75 are you running the latest flutter master channel? I've run into similar problems before a `flutter pub get` can sometimes fix this.

[2020-02-18 15:35] aliyazdi75 commented on #331
Hello @rami-a , Its' running under beta channel, because of flutter web. Should I change to master channel? and I used `flutter pub get` before this command.

[2020-02-18 16:15] rami-a commented on #331
Yes, it's possible that beta channel does not have the latest version of the gen_l10n.dart script that we use. I suggest trying on master channel and seeing if it works. You can then go back to the beta channel if you'd like.

[2020-02-18 19:49] aliyazdi75 commented on #331
@rami-a  Here's my flutter doctor on master channel:
[code]

and failed with same error, and i'm wondered that gallery has many errors on master channel!

[2020-02-18 19:59] rami-a commented on #331
Interesting, could you provide some more context around what you're trying to accomplish?

Additionally, I've found that running `flutter pub get` from within the main flutter repo directory under `packages/flutter` can help.

cc @shihaohong who worked on the gen_l10n tool

[2020-02-18 20:09] aliyazdi75 commented on #331
I want to use this command in my own project to convert .arb files to .xml files for translation consumption, but I have same issue.
It's not necessary and I'll be waiting for @shihaohong 's response.
Thank you.

[2020-02-18 21:25] shihaohong commented on #331
@aliyazdi75 Hi, could you provide some more context with the issue you're facing? Are you running into this issue with just your own project, or with the gallery as well?

From the error message shared in the first comment, it seems like the flutter repo's dependencies are not available to you, so try running `flutter update-packages` in the `flutter/flutter` repo.

[2020-02-18 21:36] aliyazdi75 commented on #331
Hey @shihaohong , thanks for your response.
`flutter update-packages` in `~/flutter/packages/flutter` fixed this problem.
I really appreciate that for this tool.

[2020-02-18 21:36] #331 closed

[2020-02-18 21:41] shihaohong commented on #331
No problem! I'm glad you resolved the issue :)

[2020-02-22 15:42] eseidel opened #335 "samples/gallery does not work with master"
I'm not sure if samples is supposed to work with master or not. :)

But it makes it difficult to test to see the latest performance improvements in flutter web for example:

[code]

[code]

FYI @gspencergoog (who I suspect worked on the focus changes) and @ferhatb who mentioned this to me.

[2020-02-22 15:59] eseidel commented on #335
This seems to fix it to build at least: https://github.com/flutter/samples/compare/master...eseidel:master :)

[2020-02-22 17:52] GAyan17 commented on #270
Can I work on this issue? I would like to work on it.

[2020-02-23 00:21] RedBrogdon commented on #335
In general, everything in the repo (not counting the `experimental` directory) is expected to target the stable channel. The idea is that stable is what we recommend as the default channel for developers (particularly new ones), so our samples target that channel as well. Landing your patch would, in a sense, break us. 😞

I definitely recognize that this can cause problems for anyone wanting to wo

[2020-02-23 00:29] eseidel commented on #335
Makes sense.  Thanks!

[2020-02-23 00:29] #335 closed

[2020-02-25 09:43] farheen21 commented on #296
Hey!!! did you add the dependencies to pubspec.yaml file? if not then add this to your pubspec.yaml file
`dependencies:
sdk: flutter
flutter_localizations:
sdk: flutter
flutter_cupertino_localizations: ^1.0.1`

[2020-02-26 22:28] RedBrogdon commented on #330
Thanks for filing a bug, @atjosue.

I haven't been able to replicate this locally. Can you tell me what kind of crash you're seeing, and paste in whatever log file output you see when it occurs?

[2020-02-26 23:02] RedBrogdon commented on #280
Additional notes:

On the detail popup, rather than having the list below separate from the image header, instead the header should grow taller to absorb the scroll and the image should blur slightly.

[2020-02-26 23:04] RedBrogdon commented on #279
Notes:

The status bar should remain with an opaque background, with list content going underneath it unseen.

Alternately, the status bar could use a frosted glass effect.

[2020-02-26 23:09] RedBrogdon commented on #278
Notes:

Right now the list on the search page is clipped by the bottom edge of the search field. Instead, it should slide underneath the list.

[2020-02-26 23:10] RedBrogdon commented on #277
It's alphabetical.

[2020-02-26 23:10] #277 closed

[2020-02-28 05:37] AyushBherwani1998 commented on #278
I would like to work on this issue @RedBrogdon
We can have a stack where we can place the search bar above the list view. Is there any alternate solutions that can be tried to achieve this? I'll be happy to get some leads.

[2020-02-28 06:56] ManasviPatidar commented on #279
@RedBrogdon, I think my PR #337  satisfies the required conditions. The result is:-

![untitled](https://user-images.githubusercontent.com/43138335/75517693-4ec45180-5a25-11ea-85f7-cb26ecedf283.gif)

[2020-02-29 19:02] andrewdavidmackenzie opened #344 "errors compiling gallery with master channel for desktop"
I followed the instructions in https://flutter.dev/desktop for desktop support and a number of samples compile and run.

When I try to compile the gallery I get the errors below.

If I cd into the `animations` folder and do the same, the animations sample compiles and runs fine.

[code]

[2020-02-29 19:14] aliyazdi75 commented on #331
Hello again @shihaohong
After upgrading flutter under master seems `intl_en.arb` is must, cause of
`flutter pub run grinder l10n`
->
[code]
and have to implement all translation phrase for all supported languages.

[2020-03-02 11:13] liudonghua123 opened #347 "Windows build and run error."
I followed the instructions on https://flutter.dev/desktop and https://github.com/google/flutter-desktop-embedding/tree/master/example, and in the gallery directory, I run `flutter run -d windows` failed, the detailed logs are belows.

<details>
<summary>The full error log</summary>

[code]
<details>

[2020-03-02 14:25] rami-a commented on #344
Hello, the samples repo is meant to target `stable`, you can see more details in https://github.com/flutter/samples/issues/335.

If you'd like to run from master, take a look at the [gallery-master](https://github.com/flutter/samples/tree/gallery-master) branch that I created last week. I'm going to close this ticket as its a duplicate. Thanks for opening it though!

[2020-03-02 14:25] #344 closed

[2020-03-02 15:58] shihaohong commented on #331
Hi @aliyazdi75, this is a new requirement since we would like developers to support fallbacks for their languages. For example, if `en_AU` was selected on your device, but you did not have a set of translations for `en_AU`, your app would automatically default to `en`.

Also, please [file an issue through flutter/flutter](https://github.com/flutter/flutter/issues/new/choose) in the future instead

[2020-03-02 16:06] aliyazdi75 commented on #331
Thanks for your response.
I did fix this, but a huge problem is for example if you did not implement `fa` translation you can't compile program cause of `LocalizationsFa extends Localizations` and must implement all translation under this class.
Is this right?

[2020-03-02 16:07] aliyazdi75 commented on #331
If this is right I will provide an issue under flutter/flutter.

[2020-03-02 16:09] shihaohong commented on #331
Yes, that is correct, and is expected behavior unless I'm misunderstanding. Please file an issue under flutter/flutter if there is a problem!

[2020-03-02 16:39] aliyazdi75 commented on #331
Thanks for your time, I've created an issue in this link https://github.com/flutter/flutter/issues/51778

[2020-03-02 17:36] RedBrogdon commented on #347
This is an expected result right now, though I can suggest a workaround.

In general, the samples in our repo are built with the `stable` version of the Flutter SDK. This is because most devs use that channel (especially beginners who are likely to need samples).

This creates an issue for folks wanting to try our desktop embedding, since it hasn't landed in stable yet. As you've discovered, you n

[2020-03-02 17:36] #347 closed

[2020-03-02 17:59] #270 closed

[2020-03-02 18:08] #279 closed

[2020-03-04 10:21] louisgv opened #349 "BUG | Crane example has wrong top margin on Desktop."
Screenshot:
![image](https://user-images.githubusercontent.com/6723574/75869440-694c5100-5dbe-11ea-84c4-0dc5c0ed0581.png)

Noticed the search bars are hidden behind the OverflowBox.

[2020-03-04 17:02] #280 closed

[2020-03-04 18:02] RedBrogdon commented on #349
Assigning to @willlarche for investigation.

[2020-03-05 09:44] #349 closed

[2020-03-06 09:37] Pankaj-Sakariya commented on #335
@RedBrogdon
I hope you are doing well.
I found that the Class name and Function Name both are changed in the new Patch file.
I just want to understand how often this kind of Name Changes occurred?

-class EdgeChildrenFocusTraversalPolicy extends WidgetOrderFocusTraversalPolicy {
+class EdgeChildrenFocusTraversalPolicy extends WidgetOrderTraversalPolicy {

   -    child: DefaultFocusTraversal(
   -

[2020-03-08 16:56] jddeep commented on #330
@RedBrogdon should I give this a look and see if it is reproducible at my end?

[2020-03-08 17:01] jddeep opened #360 "doc bug: Missing samples in Experimental sample doc"
doc bug: Missing samples in Experimental sample doc

Here is the index - https://github.com/flutter/samples/tree/master/experimental#index

We need to update this with `desktop_photo_search` and `web_dashboard` content as well.

[2020-03-08 17:03] jddeep commented on #360
@RedBrogdon @kwalrath Thoughts? Let me know, I shall fix this up.

[2020-03-09 08:05] AjayThakur12 opened #361 "sample repo for data persistence"
@RedBrogdon  can I add sample repo which shows how to use data persistence using SQFlite .

[2020-03-09 16:19] RedBrogdon commented on #361
First, thanks for filing an issue prior to starting work. It's much easier to have a conversation *before* the PR is sent. :)

I would ask that you not add any new samples to the repo, for a couple reasons:

* This repo isn't meant to be an "official" set of samples for Flutter. There isn't one! There are many samples created in other repos that are just as good as what's found here, and we suppor

[2020-03-09 16:19] #361 closed

[2020-03-09 16:19] RedBrogdon commented on #330
Sure. Let us know what you find.

[2020-03-09 16:20] RedBrogdon commented on #296
@rami-a, now that the Gallery has moved to its own repo, I'm going to close this. Wanted to make sure you saw it, though.

[2020-03-09 16:20] #296 closed

[2020-03-09 16:23] RedBrogdon commented on #360
Ah, that's a good catch. I've filed a quick PR to remove the index from that README. It's redundant, which is likely the reason we've been forgetting to update it.

[2020-03-09 16:28] jddeep commented on #360
Cool. The PR LGTM :)

[2020-03-09 21:42] #360 closed

[2020-03-09 21:58] RedBrogdon commented on #309
Closing this now that the gallery has moved to https://github.com/flutter/gallery.

[2020-03-09 21:58] #309 closed

[2020-03-10 05:33] jddeep commented on #330
I think we can close this issue. The very sample app runs fine on my device. No such crashes as mentioned. Also, the issue author has not provided any more insights to what he might have referred to through this issue :thinking:

[2020-03-10 05:51] jddeep opened #363 "bug: dialog message and action buttons unsuitable for logout"
## Adaptive Music App screenshot: (in platform_design)

<img src="https://user-images.githubusercontent.com/43133646/76283439-9a49eb80-62c0-11ea-9296-c541c1304d70.png" width=300 />

One solution could be to have a landing page (login-like page) for new users so that we can use that page on logging out as well. Currently, we directly land on the homepage having the list of songs.
We also need to up

[2020-03-10 05:53] jddeep commented on #363
@RedBrogdon @kwalrath @johnpryan Thoughts? Let me know if could go ahead with this.

[2020-03-10 15:30] RedBrogdon commented on #330
Nice to know it's working for someone else.

The repo has an issue management bot that will automatically close the issue if no feedback is provided by the author within two weeks, so no worries there. If anyone *is* still having an issue with this sample, of course, please let us know!

[2020-03-10 15:49] RedBrogdon commented on #363
I think this might be a miscommunication. The logout form in the app is really just an excuse to show how different types of alerts work. The idea is that people seeing it will understand that it's not real.

If you'd like, you could change the text displayed in the alert from "You may check out any time you like, but you can never leave" to something like "You can't actually log out! This is just

[2020-03-10 16:03] jddeep commented on #363
@RedBrogdon Agreed! Although most of the things in the app are for showcase/demonstrating purposes, this "Log out" button seemed a bit confusing especially with those buttons and the message.
Will send a PR updating this ASAP. Thanks :)

[2020-03-10 16:19] atjosue commented on #330
ok, sorry for dont ask before, but i was busy some days.
y tried to run the Flutter PlattformView Example on an Iphone 6s IOS 13.3.1 but the app don't start, only show a white screen for a milisenconds before close it. The output console only show the message "installing and launching..." .
that is the flutter doctor -v output for it phone.

[✓] Flutter (Channel stable, v1.12.13+hotfix.5, on Mac O

[2020-03-11 18:14] #363 closed

[2020-03-12 00:00] xster commented on #278
I think this got fixed recently?

[2020-03-13 17:12] jddeep opened #370 "[animations] Add AnimatedWidget sample - FadeTransition"
Missing animation samples of various Animation widgets.

@RedBrogdon @johnpryan Do we plan to add samples of widget animations like [FadeTransition](https://api.flutter.dev/flutter/widgets/FadeTransition-class.html), [DecoratedBoxTransition](https://api.flutter.dev/flutter/widgets/DecoratedBoxTransition-class.html), [RotationTransition](https://api.flutter.dev/flutter/widgets/RotationTransition-cl

[2020-03-13 17:35] johnpryan commented on #370
Yeah this is a good idea. These widgets are almost all subclasses of [AnimatedWidget](https://api.flutter.dev/flutter/widgets/AnimatedWidget-class.html). I would make this `#8` in the `basics/` and stick to a very simple demo.

Thanks!

[2020-03-13 17:46] jddeep commented on #370
Cool so I'll be sending a PR with a FadeTransition demo first. In the same screen we can have different buttons for different transitions. The demo shall be simple indeed. Is that cool or you plan something else?

[2020-03-13 18:14] johnpryan commented on #370
We don't need all the transition widgets, just one example of an AnimatedContainer. Providing a link to AnimatedWidget will let users discover more *Transition widgets.

[2020-03-13 20:22] aadarsh-patel opened #372 "[veggieseasons] Android subproject should be removed."
On the details screen, when users tap the back button of the device, the app gets closed instead of navigating back to the home screen.
Back button should behave like the close button given in the header section of the details screen.

![veggie_bug](https://user-images.githubusercontent.com/53324291/76656032-c1d8d680-6594-11ea-8cd5-7a07eaadcd62.gif)

[2020-03-13 20:26] aadarsh-patel commented on #372
If this is a valid issue then i would like to work on it.

[2020-03-13 22:13] RedBrogdon commented on #372
Thanks for filing this issue. The problem here is that Veggieseasons isn't designed or intended to be run on Android. Because Flutter is multiplatform, it *will* run, but it doesn't make sense for us to invest time in the Android experience.

What should be done instead is:

* Remove the `android`  directory within the project
* Add `android` to the .gitignore in the project directory, so it won't

[2020-03-13 22:24] aadarsh-patel commented on #372
Sure. I'll try.
Time for some github tutorials

[2020-03-13 22:37] RedBrogdon commented on #278
#279, which was the status bar-related scroll, got fixed. This is still outstanding.

[2020-03-13 23:11] aadarsh-patel commented on #372
Hey @RedBrogdon ,
Just saw the description of VeggieSeasons app, There it is clearly mentioned that

This issue opened by me is nothing but a silly mistake.
VeggieSeason is a cool app that also showcases how to use `models`, `shared_preference,` etc. which is useful for android developers as well.

Due to the above reasons I don't think removing android support will be a good idea for the app.
And

[2020-03-14 00:07] aadarsh-patel commented on #372
Sorry for closing this issue without waiting for your response.

[2020-03-14 02:58] jddeep commented on #370
Cool. I'll send a PR and let's see if any other improvements can be made :)

[2020-03-14 03:01] jddeep commented on #372
Removing the directory from the sample isn't ideal. Is it? :thinking: At least devs can get a feel of the sample if they have an android device with them solely. What do you think?

[2020-03-16 14:44] #330 closed

[2020-03-16 16:25] RedBrogdon commented on #372
Thanks for reopening, @aadarsh-patel.

Removing the Android subproject doesn't make it *impossible* to build and run the app for Android. All you'd need to do is run `flutter create .` from within the project directory, the directory would be recreated in your local copy, and then you'd be ready to go.

What it *does* do is prevent confusion about how we intend for the app to be used. Its primary

[2020-03-16 17:55] RedBrogdon commented on #370
Thanks for filing an issue so we could check in before coding started, @jddeep!

[2020-03-16 18:50] abd99 opened #376 "[platform_design] Some of the UI elements turn invisible in dark mode"
I found the following issues in the platform_design app:
- The Settings show black on black text in dark mode.
- There are a couple of more widgets that don't go well with the dark mode throughout the app.

Screenshots:
![Screenshot_20200317-000736](https://user-images.githubusercontent.com/30566863/76789764-7d8f4580-67e3-11ea-855c-f7f930ac07ac.png)
![Screenshot_20200317-000747](https://user-image

[2020-03-17 02:11] jddeep commented on #376
This has been an issue for the iOS version of VeggieSeasons app as well. There is already an issue open about that #322. @RedBrogdon should we toggle the app font colors with respect to the app theme brightness(light or dark).

[2020-03-17 11:28] aksayushx opened #382 "[animations] Add Animation Sample"
Hey @RedBrogdon @johnpryan ,
I would like to add a simple Slide Transition widget demo to the basics/ of animations which is missing from it.
Should I go ahead and begin working on it?

[2020-03-17 11:32] jddeep commented on #382
Hi @aksayushx Thanks for filing an issue.
Quoting @johnpryan regarding this:

So the work for the AnimatedWidget sample - FadeTransition in this case has been already going on in #375.

[2020-03-17 12:08] aksayushx commented on #382
No problem.
I have an animation idea using CurvedAnimation which will be suitable for the misc section of animations. So I ll be working on that. Thanks ;)

[2020-03-17 12:49] tusharojha commented on #278
@RedBrogdon One possible way could be to wrap the items inside a column and provide the singlechildscrollview at the very top of both search bar and feeds.

Can I do this way or would you like to suggest something?

[2020-03-17 18:33] clocksmith opened #383 "Update the navigation rail sample once the component officially lands"
Once https://github.com/flutter/flutter/pull/49574 lands, https://github.com/flutter/samples/blob/master/experimental/web_dashboard/lib/src/widgets/third_party/adaptive_scaffold.dart should be updated

[2020-03-17 22:15] RedBrogdon commented on #376
There are a few things that should happen here:

1) Audit all the apps in the repo to make sure there aren't any others with dark mode problems, and file issues for them.
2) Hard-code a bright theme for any that do, this app included. See #340 for how this was done for Veggieseasons.
3) Update each of those apps to properly respect dark mode.

That third task is the hardest, and for each app it sh

[2020-03-17 22:44] RedBrogdon commented on #382
@aksayushx, can you tell us a little about what you have in mind, and how it would complement the demos that are already in the app?

[2020-03-17 22:47] RedBrogdon commented on #278
I think this would need something slightly more sophisticated, unless I'm misunderstanding you.

The goal here would be for the search bar to remain in place at the top of the page, and for the search results to slide underneath it when scrolled up.

[2020-03-17 22:55] aksayushx commented on #382
Hey @RedBrogdon I am almost done with it and it looks here is a gif of the animation .
![ezgif com-crop](https://user-images.githubusercontent.com/55887638/76909096-4f3b6400-68d0-11ea-8755-916d6ab53177.gif)
Should I add it to misc section and make a new PR?

[2020-03-17 23:08] #370 closed

[2020-03-18 23:28] RedBrogdon commented on #382
Maybe I can help by talking over some of the things I think about when creating a sample. This is how the process tends to work for me:

1) What is the goal for the sample?

This repo is maintained by Flutter's developer relations team, and a phrase we frequently use on the DevRel team is "[learning outcome](https://teaching.utoronto.ca/teaching-support/course-design/developing-learning-outcomes/w

[2020-03-18 23:29] RedBrogdon commented on #383
@johnpryan, I imagine this is already part of your plan for the web sample, so I'm assigning it to you.

[2020-03-18 23:35] johnpryan commented on #383
👍 looking forward to making this change

[2020-03-19 00:33] aksayushx commented on #382
Through my sample I intend any developer going through it to :
1. Understand what 'curve' means in this context
2. Know how to combine it with other classes it is used with.

I intend to show a nice application of the CurvedAnimation class in combination of few others through the rotating logo animation. I want to use just one curve for forward animation and one for reverse so that anyone looking

[2020-03-19 01:36] xster opened #384 "add-to-app create an explicit example of launching a flutter screen with prepopulated data"
This is pretty much what you have already, but right before presenting a flutter view, invoke a channel message to send something.

[2020-03-19 02:19] jddeep commented on #384
Good Idea. This is also something we want to achieve through the new "platform channel sample app" idea. @RedBrogdon what do you think?

[2020-03-19 03:01] xster commented on #384
That's a good idea. We can do a 2 in 1 of showing pigeon and doing data passing on launch/dismiss in one demo.

cc @gaaclarke

[2020-03-19 11:15] aadarsh-patel commented on #372
Closing this issue as it has been resolved by PR https://github.com/flutter/samples/pull/378

[2020-03-19 11:15] #372 closed

[2020-03-19 20:27] RedBrogdon commented on #382
Sounds like a great plan.

[2020-03-19 20:29] aksayushx commented on #382
Thanks @RedBrogdon
I ll send a PR soon making necessary changes.

[2020-03-21 01:36] abbas133 commented on #331
It helped me resovle the same error. thanks for the help

[2020-03-23 15:11] jddeep opened #387 "[provider_shopper] Add Widget Tests"
In the `provider_shopper` sample app, we have a widget test already there for demonstration here - https://github.com/flutter/samples/blob/master/provider_shopper/test/widget_test.dart.
I suggest including a driver test for the app as well for demonstration of integration tests. The driver test itself should be pretty straight forward according to the app functioning.

[2020-03-23 15:12] jddeep commented on #387
@RedBrogdon @domesticmouse What do you think about this? Should we include one?

[2020-03-23 20:57] johnpryan opened #388 "[visual sample index] Add analytics"

[2020-03-23 21:03] johnpryan opened #389 "[visual sample index] Improve PageSpeed Insights score on mobile"
The [PageSpeed Insights tool](https://developers.google.com/speed/pagespeed/insights/)  scores `flutter.github.io/samples` at  95 on Desktop, but 72 on mobile. We should take a closer look at the results and improve experience on a mobile phone.

[2020-03-23 21:05] johnpryan opened #390 "[visual sample index] Clarify samples vs demos"
This could be something simple like a tooltip, or an explanation on the page.

[2020-03-23 21:10] johnpryan opened #391 "[visual sample index] Clarify contribution guidelines"

[2020-03-23 21:16] johnpryan opened #392 "[visual samples index] Inaccurate search results when using filters and search"
e.g. https://flutter.github.io/samples/#?search=ios&type=cookbook

[2020-03-23 21:18] johnpryan opened #393 "[visual sample index] Add Carousel"
Design spec:

<img width="896" alt="Screen Shot 2020-03-23 at 2 18 19 PM" src="https://user-images.githubusercontent.com/1145719/77364138-2b817f00-6d11-11ea-837b-332c67734aa9.png">

[2020-03-23 21:34] johnpryan opened #394 "[visual sample index] Improve cookbook screenshots"
Cookbook screenshots should include a screenshot of the running app, most likely the DartPad iframe on the page.

[Cookbook scraper instructions](https://github.com/flutter/samples/blob/master/web/samples_index/README.md#generating-cookbook-content)

[Cookbook scraper source code](https://github.com/flutter/samples/blob/master/web/samples_index/lib/cookbook.dart)

[2020-03-23 21:41] abd99 commented on #322
I have started working on the fix for this issue.
I am planning on changing the declared styles to a method and passing it the BuildContext as a parameter.

Eg:
[code]

Will turn into:
[code]
Do you think this is a good solution? Or is there a better solution?
Please let me know @RedBrogdon.

[2020-03-23 21:58] abd99 commented on #376
As per your suggestion @RedBrogdon, I have checked all the apps in the repo except for web and experimental apps for dark mode problems. As of now, none of the apps have that problem except for VeggieSeasons(which you solved temporarily). Most of them don't even support dark mode. Let me know if you want me to add dark mode support to any of them. I have started working on the fix for VeggieSeason

[2020-03-24 22:47] RedBrogdon commented on #387
Flutter driver tests have a layer of complexity that Dart unit tests and Flutter widget tests do not, since they're normally expected to run on a hardware device.

We've avoided having driver tests in this repo for that reason, with the only exception being the driver tests that are called indirectly by the espresso tests in one of the add-to-app samples. Just to get that to work we had to integra

[2020-03-24 22:54] RedBrogdon commented on #393
😍

[2020-03-25 14:03] jddeep commented on #387
@RedBrogdon True, yes driver tests require a device to instrument the app and run on. But I thought since there is a lack of examples for integration testing in apps. Users/devs can clone the sample and run the tests with the help of their own hardware device to check the tests live using `flutter drive`. They'll get a clearer idea about the tests. Actually this is also something along with unit a

[2020-03-25 16:55] RedBrogdon commented on #322
To be quite honest, the way I originally set up the fonts and colors in Veggieseasons was not a great architecture. A lot of the support for theming in Cupertino didn't exist 12-16 months ago when the app was written.

Now, though, it should be possible to use CupertinoTextThemeData:

https://github.com/flutter/flutter/blob/210f4d83136a2eae773bda471db90ac27676f662/packages/flutter/lib/src/cupertin

[2020-03-25 17:29] RedBrogdon opened #397 "Remove repo-wide gitignore file"
Now that we have so many individual projects, some of which are traditional Android and iOS apps, we need to remove the repo's overall .gitignore and standardize the project-level ignore files.

[2020-03-25 17:53] RedBrogdon commented on #387
My concern is that any tests we write for the apps need to be run as part of our continuous integration setup, so we can be confident that they're always working. If additional flutter driver tests are added, we'll need to find a way to run them via Firebase Test Lab, which has additional maintenance cost (both in time and literal dollars!). For that reason, it's a more complicated enterprise.

Un

[2020-03-25 18:02] AyushBherwani1998 commented on #387
@RedBrogdon I agree with your points and also that sample apps in the repo require better unit and widget test. Many of the samples only check if the `Text` is correctly rendered or not. For example, the sample app showing animations.

Can I generate a new Issue for improving the tests for sample animations app and start working on it?

[2020-03-25 18:10] RedBrogdon commented on #387
Sure. It's possible @jddeep may also want to contribute unit/widget tests, and it'd be good to make sure you and he don't accidentally start working on tests for the same app at the same time.

Thanks to both of you, by the way, for contributing not just code, but also conversation. It's a big part of how we maintain good, positive culture for our repo.

[2020-03-25 18:23] AyushBherwani1998 opened #398 "[animations] Update README.md"
## Description

The basic animation section in the app has two new examples, `AnimatedPositioned` and `AnimatedSwitcher` which hasn't been updated in the README.md.

[2020-03-25 18:27] AyushBherwani1998 opened #399 "[animations] Improve unit/widget tests in the app."
## Description
Currently, in the widget test, we are only checking whether the `Text` is rendered correctly or not. Adding more widget/unit tests in the application can help the Flutter enthusiast to get more detailed examples of the writing unit/widget test.

[2020-03-25 18:38] AyushBherwani1998 commented on #387
Yes, I agree with you @RedBrogdon. Communication and creating Issues before sending the PR is really important. Thanks for being an awesome mentor.
Hey, @jddeep I have created a new Issue regarding improving unit/widget tests. If you are done with improving the unit/widget test for provider_shopper, we can also split the work for animation sample; this way, we both can get exposure to writing the

[2020-03-25 20:12] aksayushx commented on #399
Hi @AyushBherwani1998 ,
The demonstration of writing unit tests and widget tests is aimed to be done with a new Flutter testing sample app GSoC project which is listed in the [GSoC project ideas list](https://github.com/dart-lang/sdk/wiki/Dart-GSoC-2020-Project-Ideas) and will be taken up this summer.

[2020-03-26 02:18] jddeep commented on #387
@RedBrogdon Ah! Now I understand the reason. Thanks for the info:)
I'll refactor this issue for providing widget tests for `provider_shopper` now.
Hey @AyushBherwani1998 sure, you can start work for the `animations` app. Once, I am done with this and other apps, I'll join in with you.

[2020-03-26 02:21] jddeep commented on #399
@AyushBherwani1998 Thanks for filing the issue. Make sure you add tests for the different animation demos themselves.

[2020-03-27 10:44] AyushBherwani1998 commented on #399
@jddeep Yes, having something similar in mind.

@RedBrogdon in most of the samples. we are generating values randomly. I think checking the values before and after animations will not be the best choice. It might be the case, that the same value is generated again. Well, it will happen in rare case. WDYT?

[2020-03-30 16:50] johnpryan commented on #388
This is already in place

[2020-03-30 16:50] #388 closed

[2020-03-31 04:58] RedBrogdon commented on #322
Some further context:

#395 has been merged, which adds better dark mode handling to VeggieSeasons (thanks, @abd99!). It's a good solution for now, but it would still be better to implement the styling in a manner more in keeping with current SDK capabilities.

[2020-03-31 04:59] RedBrogdon commented on #376
@abd99, is there any remaining short-term work for VeggieSeasons now that #322 is merged? I believe we can go ahead and close this if not.

[2020-03-31 05:42] RedBrogdon commented on #399
@AyushBherwani1998, writing tests for our sample apps can sometimes be tricky, since they're often designed to show off the basic widgets present in the SDK. While you could certainly add a test for the ListView widget itself, that test really belongs in the SDK, rather than here.

What you *could* do here is add tests for the demos that are complicated enough that it would make sense. The carouse

[2020-03-31 09:07] AyushBherwani1998 commented on #399
Makes Senses.

[2020-03-31 09:08] AyushBherwani1998 commented on #399
Yes, I'm interested in working on complex examples.

[2020-03-31 15:09] abd99 commented on #376
I think we are good for now. I'll close this issue

[2020-03-31 15:09] #376 closed

[2020-04-02 18:33] GOVINDDIXIT opened #406 "[visual sample index] Fix Timeflow source code broken link"
Source code link for Timeflow sample is broken
It should point to [Timeflow repo](https://github.com/Fabian-Stein/timeflow)

[2020-04-03 00:03] #406 closed

[2020-04-06 09:21] AjayThakur12 opened #409 "[slide_puzzle] error while running slide_puzzle"
**Description**
-----------------------------------------------------------------------------------------------------------------
while running slide puzzle project getting this error :
` Compiler message:`
`lib/src/widgets/decoration_image_plus.dart:10:7: Error: The non-abstract class 'DecorationImagePlus' is missing implementations for these members:`
` - DecorationImage.onError`

[2020-04-07 02:00] AjayThakur12 commented on #409
@RedBrogdon  Can i work on this issue

[2020-04-07 02:51] johnpryan commented on #409
@AjayThakur12 Could you create a pull request to the original [slide_puzzle](https://github.com/kevmoo/slide_puzzle) repo instead? The copy here is only committed for historical reasons (we should probably convert it to a submodule.)

The problem is that slide_puzzle doesn't support your SDK yet. The `DecorationImage` class added a new method (`onError`) and it needs to be added out [here](https:/

[2020-04-07 02:51] #409 closed

[2020-04-07 16:12] #383 closed

[2020-04-12 02:55] EliuTimana opened #413 "Error: Could not find the correct Provider<CartModel> above this _CartList Widget"
I'm getting an error in this line
https://github.com/flutter/samples/blob/5a5cc8a62f36bb858a35bae076069d4420861444/provider_shopper/lib/screens/cart.dart#L40

[code]

I'm using the same code and dependencies and the cart page doesn't work.

[code]

[2020-04-12 15:51] EliuTimana commented on #413
I found the issue, it was my fault, sorry.

[2020-04-12 15:51] #413 closed

[2020-04-12 16:49] tusharojha commented on #266
Hey there,
@RedBrogdon do you want the place_tracker sample to be using a stock state management approach rather than custom InheritedWidget (as it is using now)?

If yes then,
I would like to work on it and switch the app to stock state management (using Stateful Widgets) from custom InheritedWidget to manage the app state.

[2020-04-12 17:30] RedBrogdon commented on #266
It's an open issue, so we'd welcome a pull request. That said, it's important that we agree on an approach before the coding starts.

In my head, the way I imagine fixing this issue is by:

* Removing the `app_model.dart` file entirely.
* Converting the AppState class in `place_tracker_app.dart` to extend ChangeNotifier rather than be stateless.
* Using ChangeNotifierProvider to hold the AppState

[2020-04-13 15:32] tusharojha commented on #266
I also think we should go with ChangeNotifierProvider to hold the app state as the repository follows the same.
I believe I should wrap the whole MaterialApp inside the ChangeNotifierProvider. Would that be ok sir?

[2020-04-19 18:42] volcano2906 opened #417 "Daily Notification"
https://github.com/MaikuB/flutter_local_notifications/issues/545#issue-586163174

Referinf to this link. i have same issue, showdaily does not work. i do not know why. Can you send me sample code of your manifest code or something useful that i can edit my code?
Thanks

[2020-04-20 05:46] irahulcse opened #418 "Rover' Guide"
From quite some time, I had been working on a Project named as  Rover's Guide (One Stop Solution for Travellers). In this project, I had used different types of widgets like Circle Avatar, Expanded Widgets etc.
It is a full-fledge project deployed on the web using Flutter Web and GitHub Actions. As I am also looking to contribute to GSoC 2020 on Platform Channel Sample App( Proposal Submitted). So

[2020-04-20 17:09] johnpryan commented on #418
Looks great! We [don't typically add third-party samples](https://github.com/flutter/samples/blob/master/CONTRIBUTING.md#is-this-the-right-place-for-your-contribution) to this project since we maintain them here, they can get out of sync, etc.

You can also submit your app to [It's All Widgets](https://itsallwidgets.com/) to share it more widely. Thanks!

[2020-04-20 17:09] #418 closed

[2020-04-23 00:02] RedBrogdon commented on #266
No need to call me "sir." We're all friends here. 😄

Yes, you'd want to have the Provider above MaterialApp so it sits above the Navigator widget that MaterialApp creates.

It sounds like you're on the right approach. Give it a try and see how it goes!

[2020-04-23 00:11] RedBrogdon commented on #417
Did this issue end up getting submitted to the wrong repository? That particular plugin isn't maintained here.

[2020-04-23 00:11] #417 closed

[2020-04-23 09:34] #382 closed

[2020-04-23 10:20] jddeep commented on #398
@RedBrogdon I believe, we can close this. This has been fixed.

[2020-04-23 10:25] AyushBherwani1998 commented on #398
Yes @jddeep we can close it. The issue has been resolved. Thanks for pointing :)

[2020-04-23 10:25] #398 closed

[2020-04-28 00:45] #387 closed

[2020-04-28 01:05] blackslifer888 opened #423 "Flutter example"

[2020-04-29 18:18] tusharojha commented on #266
@RedBrogdon Please have a look on PR and recommend required changes. I have given an attempt to solve the issue.

[2020-04-30 19:41] RedBrogdon commented on #423
Not sure what this issue is asking for, so I'm going to close it.

[2020-04-30 19:41] #423 closed

[2020-05-01 17:59] AyushBherwani1998 commented on #399
Hey @RedBrogdon, I was writing some test for `CarouselDemo`, and I only came up with a test which checks if the scroll is working correctly or not, without considering any internal working of the widget. Do you have any suggestion for checking more ways to write a test for `CarouselDemo`?

[2020-05-06 06:38] attex opened #431 "Animated Container overflows on right"
Hi guys,

i am using a Animated Container to move some text from left to right.
Therefore I use a variable `currentPositon` and a `positionPadding` which ist 30.
So for the increasing currentPosition the container moves 30 points to the right. But my problem is, that there is no limit. As a result the container just overflows the right and i need it to stop before it overflows.

![WhatsApp Image 2

[2020-05-06 16:52] johnpryan commented on #431
Hi @attex, this looks more like a question for StackOverflow. Also, if you include some code you are more likely to get a helpful answer. Thanks!

[2020-05-06 16:52] #431 closed

[2020-05-07 16:42] janat08 opened #434 "Flutter benchmark"
https://github.com/krausest/js-framework-benchmark/issues/687
Please submit sample for benchmark linked above. you're not declaring any performance metrics, as is basically customery even if it's crap as you have no idea what you're being compared against.

[2020-05-07 22:36] RedBrogdon commented on #434
I'm not actually familiar with the site you listed, and I don't believe anyone on the team at the moment has the bandwidth to go through the integration process.

That said, Flutter does performance testing with each commit. If you're interested in how things are going, we have a Cirrus dashboard with all the latest test results:

https://cirrus-ci.com/github/flutter/flutter/master

[2020-05-07 22:36] #434 closed

[2020-05-08 06:53] janat08 commented on #434
By in large it's just something like just creating a crud table.

[2020-05-10 20:09] ruslanvs opened #436 "Platform Design App. Error: The getter 'bodyText2' isn't defined for the class 'TextTheme'."
Platform Design App does not build with Error: The getter 'bodyText2' isn't defined for the class 'TextTheme' in file widgets.dart.

The app builds when 'bodyText2' in 'color: Theme.of(context).textTheme.bodyText2.color,' is replaced with 'body2'. I'll issue a PR.

[2020-05-10 20:28] ruslanvs commented on #436
PR: https://github.com/flutter/samples/pull/437

[2020-05-11 07:41] mehrdad-shokri opened #438 "Provide samples for redux"
I know there are some open source apps following the redux pattern for state management.
I've also watched some IO conferences which flutter maintainers mentioned they use both bloc and provider pattern in their apps.
I wanna know that if flutter maintainers see redux a good pattern for a flutter or not? Since [it's library](https://pub.dev/packages/flutter_redux) has been favorited I guess the an

[2020-05-11 21:37] RedBrogdon commented on #436
@ruslanvs, thanks for filing an issue to go along with your PR! It really helps us keeps things straight.

Quick question: which version of Flutter are you building with? The most recent stable release, 1.17, includes an update to the Material text styles that renamed both `body1` and `body2`:

https://github.com/flutter/flutter/blob/e8a987e1086912d91deb957d330981322abdc544/packages/flutter/lib/sr

[2020-05-12 23:12] csells opened #439 "Provide a Feature CodePen category to the samples page"
Current the https://flutter.github.io/samples/# page Sample, Cookbook and Web Demos categories. It would be great to add a CodePen category, too, to surface particularly wonderful Flutter CodePens, e.g. like these from Mariano: https://codepen.io/mkiisoft

[2020-05-14 04:53] #436 closed

[2020-05-14 16:31] abd99 commented on #399
Hey @AyushBherwani1998,
Are you still working on tests for ```CarouselDemo```? If not, please let me know. I'll soon send a PR with tests for ```CardSwipeDemo``` and would love to work on ```CarouselDemo``` next. If you are still working or want to work on it, I can find something else.

[2020-05-14 17:20] AyushBherwani1998 commented on #399
Hey @abd99, that's awesome. I have already written the test for the `CarouselDemo` as per my understanding in my local machine. I'll send a PR soon.

[2020-05-15 13:21] abd99 commented on #399
Alright, I'll find something else.

[2020-05-16 03:16] ruslanvs commented on #436
Thanks for responding, @RedBrogdon, sorry I could not come back promptly. Yes, the error went away after updating Flutter.

[2020-05-20 23:20] RedBrogdon commented on #438
Redux is definitely a state management approach that's working for Flutter developers, though it's one of many. We don't really have the engineering bandwidth to give all the possible state management options a dedicated sample, so we've mostly standardized on Provider and ChangeNotifier for our samples. It's a good "first" state management approach, and can help folks get enough Flutter coding un

[2020-05-20 23:20] #438 closed

[2020-05-20 23:23] RedBrogdon commented on #439
Starting this as a p2, expecting it to get bumped up to p1 in the near future.

@johnpryan, I think I mentioned this issue to you in a 1:1, but I'll `@` you here just to make sure you see it again. 😄

Adding CodePen seems like a great idea. My only concern would be to consider DartPad links, CodePen links, and anything else that we might add in a holistic way.

[2020-05-21 02:28] Mister-Hope opened #444 "Update to flutter 1.17？"
E.G.: TextTheme has changed in 1.17

[2020-05-22 11:33] domesticmouse commented on #444
Which sample is triggering warnings for you? We did a pass through in https://github.com/flutter/samples/pull/432 that should have cleaned up most of these warnings.

[2020-05-22 12:05] Mister-Hope commented on #444
I was talking about the Flutter Gallary app. e.g: typography page needs an update

[2020-05-28 17:33] AyushBherwani1998 opened #448 "Add Platform Channel sample app"
### Description

The proposal is focusing on adding a sample app demonstrating how to use `MethodChannel`, `EventChannel`, `BasicMessageChannel` and different `MessageCodec`. Apart from a sample app which will live in the main directory, it also focuses on creating a federated plugin example targeting Mobile, Web and Desktop platforms which will reside under the experimental directory.

The propos

[2020-05-29 13:03] mohak852 commented on #448
Can I work on this app.

[2020-05-29 13:21] AyushBherwani1998 commented on #448
Hey @mohak852 👋
Happy to know you are willing to contribute to the repo, but unfortunately since this project is the part of GSoC 2020, you won't be able to contribute to this project during the GSoC period. Said that we may open up the project for iOS contributors during the GSoC, which is yet not decided.

Till then, I would suggest looking around more open issues in the repo and send a PR.

[2020-05-30 00:03] RedBrogdon commented on #448
@mohak852, as @AyushBherwani1998 mentioned, this work has already been scoped and assigned as a Summer of Code project. If you're interested in contributing to Flutter, there are many ways to do it.

Both [Awesome DartPad](https://github.com/divyanshub024/awesome-dart-pad) and [Awesome Flutter](https://github.com/Solido/awesome-flutter) are great places to join projects and contribute to the commu

[2020-05-31 17:08] AyushBherwani1998 opened #449 "analysis_options.yaml link is broken in CONTRIBUTING.md"
The `analysis_options.yaml` is linked to the gallery sample, which does not exist anymore in the repo.

[2020-06-01 11:50] AyushBherwani1998 opened #451 "Broken link for CI script in CONTRIBUTING.md"
The `travis_flutter_script.sh` is now moved under tool directory which leads to 404 Error.

[2020-06-01 12:37] #451 closed

[2020-06-02 00:21] johnpryan opened #455 "peanut build shows auto-generated page"
<img width="1115" alt="Screen Shot 2020-06-01 at 5 19 42 PM" src="https://user-images.githubusercontent.com/1145719/83466496-1a996c00-a42c-11ea-9988-b7c6115020e3.png">

Currently, we copy the contents from samples_index into the built directory (https://github.com/flutter/samples/blob/master/web/_tool/peanut_post_build.dart). This is running *after* peanut runs, so I'm not sure why we're still get

[2020-06-02 03:11] kevmoo commented on #455
Uh. I'd have to look at your script.

On Mon, Jun 1, 2020 at 5:21 PM John Ryan <notifications@github.com> wrote:

[2020-06-02 04:36] #449 closed

[2020-06-02 15:30] johnpryan commented on #455
no worries, I will take a look.

[2020-06-02 22:17] #455 closed

[2020-06-03 12:15] baheramgad opened #457 "error: Target of URI doesn't exist: 'package:gallery/l10n/gallery_localizations.dart'."

[2020-06-04 13:08] AyushBherwani1998 opened #458 "Broken links in INDEX for Flutter Gallery and Shrine"

[2020-06-04 23:38] AyushBherwani1998 commented on #458
Fixed by #459

[2020-06-04 23:38] #458 closed

[2020-06-10 02:56] eseidel opened #467 "filipino_cuisine just loads grey screen"
https://flutter.github.io/samples/web/filipino_cuisine/#/

Google Chrome | 83.0.4103.61 (Official Build) (64-bit) (cohort: Stable)
-- | --
Revision | 94f915a8d7c408b09cc7352161ad592299f384d2-refs/branch-heads/4103@{#561}
OS | Windows 10 OS Version 1903 (Build 18362.836)

![image](https://user-images.githubusercontent.com/478541/84221976-41d6e580-aa8b-11ea-93b1-8c1c7a45e173.png)

[2020-06-10 03:06] eseidel commented on #467
Looks like the top-level object got changed from a List to a map in https://filipino-cuisine-app.firebaseio.com/data.json, which is why it's breaking.

[2020-06-10 03:20] eseidel commented on #467
I briefly tried to fix it.  The top level json has non-list items in it (representing payments it seems?) so there is just a definite mis-match between what the code expects and what the server is responding.

[2020-06-12 06:31] RedBrogdon commented on #457
Can you provide some additional information on when you saw this error?

Which app were you trying to run, for example?

[2020-06-13 04:22] tusharojha commented on #266
@RedBrogdon I think now we can close this issue. Also, I would love to contribute more at Flutter. So if there is anything I can do then please let me know.

[2020-06-13 11:51] #266 closed

[2020-06-13 11:55] domesticmouse commented on #266
Thanks for all your hard work on #424 @tusharojha! It is much appreciated.

As to future work, the real question is what interests you? There are many ways to contribute to the Flutter project, from authoring samples, blog posts, CodePen samples, YouTube videos, all the way through to creating startups using the technology to solve real problems.

I'm not telling you to stop contributing to the Fl

[2020-06-15 14:36] mohak852 commented on #394
I wanna work on this issue. @RedBrogdon @johnpryan

[2020-06-16 15:59] johnpryan commented on #394
@mohak852 I added some links to the relevant code and README - let me know if you have any questions.

[2020-06-17 22:02] mohak852 commented on #393
@RedBrogdon  I wanna work on this issue if for this issue no PR is submitted I wanna work on this issue

[2020-06-17 22:20] mohak852 opened #477 "We should add navigationRail in flutter"
So as you know the flutter has come with a new feature which is navigationRail in flutter latest version.

I wanna work on this issue

[2020-06-17 22:24] domesticmouse commented on #477
We currently have one [desktop sample](https://github.com/flutter/samples/tree/master/experimental/desktop_photo_search). One option is to figure out how to add a navigation rail to that sample. Another option is add a new sample, but I'd like to understand what your new sample will communicate to our sample readers.

[2020-06-21 21:54] mohak852 opened #483 "We should add an flutter translation app using flutter localization package and intl translation"
So as flutter is used globally in many apps there are difficulties for the app to only be specified to one language. Flutter localization package provides you to convert the app into many native languages. We should add a sample demonstrating the flutter localization example.

Would you like to work on this issue?
YES

[2020-06-22 09:43] mohak852 commented on #483
@RedBrogdon What do you think about this?

[2020-06-23 11:14] mohak852 commented on #483
@domesticmouse Can you guide me that should I proceed or not with this sample

[2020-06-23 11:18] mohak852 commented on #394
@johnpryan Should I begin with one cookbook tutorial and then proceed for the other or should I add all together in one single go?

[2020-06-23 14:47] johnpryan commented on #394
The scraper needs to be modified to inspect the DartPad iframe. Once it's modified it will update all the screenshots.

[2020-06-25 04:48] 3boodd commented on #296
its not working with me either

![image](https://user-images.githubusercontent.com/36028899/85655478-d9554e80-b6af-11ea-9bfb-661142cbb1db.png)

[2020-06-26 06:35] #457 closed

[2020-06-27 00:12] RedBrogdon commented on #483
Hi, @mohak852!

Let's talk about what you're imagining would be in the sample, what its goals would be, and how it differs from existing resources. Before investing a ton of time, it'd be good to answer the following questions:

* What resources exist outside this repo for developers looking to learn about i18n and localization?
  - The [Flutter Gallery](github.com/flutter/gallery) is a sample tha

[2020-06-27 11:44] mohak852 commented on #483
@RedBrogdon  Actually I got your point but in the flutter docs, they have not clearly mentioned about the flutter localization for me I also have to research about this for a long time and then I achieved at that goal to change my language and I'm trying to address this because there are a lot of people who are struggling how to manage this package. That is the reason why I am interested to add th

[2020-07-08 12:25] arteevraina opened #491 "Addition of horizontal rules in infinitelist app"
![Screenshot_1594210969](https://user-images.githubusercontent.com/43968121/86918170-e78d7b00-c143-11ea-966a-4af88ff0b725.png)

Here, between after each color palette we can add a horizontal rule. Can I add this @RedBrogdon ?

[2020-07-11 11:51] #483 closed

[2020-07-11 11:52] #477 closed

[2020-07-13 08:14] josephjw commented on #448
i d like to work on this app

[2020-07-13 08:59] gaurivn commented on #491
I'm a first-timer here. Is this issue approved and available? If yes, I would like to work on this issue.

[2020-07-13 09:01] arteevraina commented on #491
Hi! @gaurivn . This is issue not approved yet.

[2020-07-13 09:16] gaurivn commented on #491
Okay, when it gets approved please assign me

[2020-07-14 08:11] heroqin opened #495 "bug in provider_counter sample"
in provider_counter sample, I add a print line before 'return Scaffold' as following:
![图片](https://user-images.githubusercontent.com/48232744/87399993-c79a0380-c5ea-11ea-8d32-f306a9649131.png)
then comment the 'Consumer' block and add a Text line as following:
![图片](https://user-images.githubusercontent.com/48232744/87400178-1051bc80-c5eb-11ea-9fcd-084ec28b7362.png)

then Debug Run(F5), as expect

[2020-07-14 14:09] abd99 commented on #495
Thanks for filing an issue, @heroqin.

The reason behind this is that whenever the hot reload takes place, the build method is called and the entire widget is rebuilt. Hence, the message is printed on the console.

In this case, only the widgets dependent on the Consumer are rebuilt.

So if you would have done something like this,
[code]
it would still have been printed on the console when you hit

[2020-07-14 14:45] abd99 commented on #491
Thanks, @arteevraina for filing an issue. I'm happy to see that @gaurivn and you are willing to contribute to the repo.

Every sample in the repo has its own goals. The main goal of the infinitelist sample is to show asynchronous pagination so that it appears as an infinite list to the user. It doesn't feel like adding a horizontal rule would contribute towards the goals of the sample. Also, all t

[2020-07-14 15:03] arteevraina commented on #491
Sure @abd99 ! Will look for some other issues to contribute :)

[2020-07-14 15:11] #491 closed

[2020-07-14 15:13] arteevraina commented on #397
Hello @RedBrogdon I want to start my contribution to this repo. Can I take up this issue?

[2020-07-15 03:31] heroqin commented on #495
I'm sorry for my poor english, so maybe you misunderstood what I mean. I try to re-edit what I said using italic words as following, and hope you can understand:

in provider_counter sample, I add a print line before 'return Scaffold' as following:
 ![图片](https://user-images.githubusercontent.com/48232744/87399993-c79a0380-c5ea-11ea-8d32-f306a9649131.png)
 then comment the 'Consumer' block and add

[2020-07-16 03:50] NElnour commented on #296
Hey, I got it to work. Just follow installation instructions for flutter gallery package found here: https://pub.dev/packages/flutter_gallery/install.

Good luck!

[2020-07-16 04:22] RedBrogdon commented on #495
Thanks for posting this, @heroqin. It's a really interesting question.

What you're seeing is part of the normal behavior of Flutter hot reload, though it's not exactly obvious what's going on. Let me try and describe the steps:

1) First, you comment out the Consumer and add a Text widget that calls Provider.of<Counter>() with the BuildContext that MyHomePage gets in its build method.
2) This cau

[2020-07-16 04:22] #495 closed

[2020-07-18 08:57] abhimanyunaikare opened #498 "Clarification on code"
In the Catalog model dart file, inside the Item class, there is the following code.

`
  @override
  bool operator ==(Object other) => other is Item && other.id == id;`

Would someone please explain this. What does it do? I have no understanding here. Thanks

[2020-07-21 01:07] RedBrogdon commented on #498
The issue tracker for the repo is intended for folks who need to report bugs or breakages in the apps. For questions about how the code works, you're better off trying the [Flutter](https://flutter.dev)/[Dart](https://dart.dev) websites, [StackOverflow](https://stackoverflow.com/questions/tagged/flutter), or the [Flutter Dev Google Group](https://groups.google.com/forum/#!forum/flutter-dev).

In t

[2020-07-21 01:07] #498 closed

[2020-08-07 05:07] CareF opened #512 "Add an e2e test case to testing_app"
Currently this app doesn't include e2e test.

[2020-08-08 04:14] pedia opened #514 "State of NoData in infinite list App"
@filiph
Thanks for this great example.

How to express state of NoData?

Thanks.

[2020-08-08 04:22] filiph commented on #514
Hi @pedia, could you elaborate on what you mean? What class or part of the sample are we talking about?

[2020-08-08 04:40] pedia commented on #514
Hi @filiph,

In real world, function `fetchPage`
[code]
maybe return empty like `ItemPage(items: [])`. In this situation, the App crash now.

My question is How to judge no-data state in `Catalog`? Normally we should present a view of `Text('No Data Yet')` now.

PS: There are so many solutions for infinite list, but I think this way is most simple and lightweight. So I really want use this code in

[2020-08-10 04:22] pedia commented on #514
Happy resolved this with `itemCount` and make this a [library](https://pub.dev/packages/infinite_pagination)

Thanks @filiph

[2020-08-10 04:22] #514 closed

[2020-08-13 22:00] #512 closed

[2020-08-19 09:29] cv692001 commented on #399
Hey All , It's very nice reading up your chats I have been making apps with flutter for about 3 months  , now I just want to step into Open Source contribution but I am unable to find the way to my very first contribution .

I have read ad lot of documentations but still not able to do this , Can you please help me out with this 👍

[2020-08-19 09:40] cv692001 commented on #390
Hey @RedBrogdon @johnpryan  I am very new to open source contribution and I just want to get started with my first contribution can you please help me out 👍

[2020-08-19 09:41] cv692001 commented on #391
Hey @RedBrogdon @johnpryan  Can you please help me with what how to solve
 this issue :)

[2020-08-20 18:44] AyushBherwani1998 commented on #399
Hey @cv692001 👋
That's great that you want to take the first step and contribute to the repo. Assuming you want to work on this issue, and you are new to writing the tests here are a few guides/tutorials which can be helpful to you.

 - The ["Testing"](https://flutter.dev/docs/cookbook#testing) section in Flutter Cookbook. You can directly jump to [widget testing](https://flutter.dev/docs/cookbook

[2020-08-22 20:24] mohak852 opened #531 "Login Screen Error"
In the provider_shopper the login screen has some layout problem. I am attaching one screenshot with this issue. I am working on this pr.

![WhatsApp Image 2020-08-23 at 1 37 52 AM](https://user-images.githubusercontent.com/58987025/90965183-9e22a080-e4e3-11ea-8836-36ed291824c0.jpeg)

[2020-08-23 08:10] bajajsahil opened #532 "Google Map Unresponsive - White/Blank screen in Place Tracker App."
I am seeing the white/blank screen issue when

1. I switch between apps
2. I open the camera on top of google map and comes back. (see steps - https://github.com/flutter/flutter/issues/39797#issuecomment-664171459)

This issue is coming in the official place tracker app and in my own app which uses google map plugin.

### Place Tracker APP

![Screenshot_20200818-233446](https://user-images.githubu

[2020-08-24 05:42] AyushBherwani1998 commented on #531
Hey @mohak852, thanks for reporting this but unfortunately I'm not able to reproduce this locally on flutter version `1.20.2`. It's a strange issue given that the `Text` uses `headline1` TextTheme which already has a predefined font size of 112.

On which emulator are you running the sample, also can you please provide which flutter version are you using to run the sample?

[2020-08-25 12:10] bajajsahil commented on #532
If anyone facing this issue, then I found a workaround for now until this is fixed.

[code]
Hope it helps.

[2020-08-26 14:24] mohak852 commented on #531
I am running flutter 1.17.3 and i have tried on emulator and real device both  are showing the same error.But when we wrap this in FittedBox the error goes away i think we should do this.

[2020-08-27 19:11] mohak852 commented on #393
@johnpryan Can you provide me the images and the fonts used in this design.

[2020-08-27 19:29] johnpryan commented on #393
@mohak852 The code is here: https://github.com/flutter/samples/tree/master/web/samples_index

[2020-08-28 06:16] AyushBherwani1998 commented on #531
Can you upgrade the Flutter to the latest stable version? If `headline1` is not respecting the given `fontSize` then it's a bug in the framework, which I don't have a strong feeling about.

[2020-08-28 06:57] mohak852 commented on #531
Now its working after upgrading to the latest version. Thank you @AyushBherwani1998 For helping me

[2020-08-28 07:28] AyushBherwani1998 commented on #531
Awesome! I guess we can close the issue 🎉

[2020-08-28 18:53] #531 closed

[2020-08-29 08:13] domesticmouse commented on #532
Closing out this bug as a duplicate of https://github.com/flutter/flutter/issues/64568

[2020-08-29 08:13] #532 closed

[2020-09-12 05:09] AyushBherwani1998 opened #540 "[animations] AnimatedList demo should have a delete IconButton to delete the item"
## Description

Currently, the list item is deleted upon the long-press which is not the general pattern people use to delete the item. It's like finding an easter egg in the demo 😄

## Suggestion

Have a delete IconButton which will delete the item instead of a long press.

Not submitting a PR and keeping this open for the first time contributors since it's an easy fix. If we can have an easy fix

[2020-09-13 07:25] mohak852 opened #543 "we should remove fav items from home page"
in the testing app we should remove the items that we are added in the favorites.

[2020-09-14 08:35] NguyenHueMinhTam opened #544 "package:gallery/l10n/gallery_localizations.dart"

[2020-09-14 10:42] abd99 commented on #543
Thanks for filing an issue @mohak852!

Every sample in the repo has a set of goals. The main goal of the testing app is to demonstrate how to write different types of tests for a Flutter app. It doesn't feel like the suggested change would contribute towards the goals of the sample. Also, all the samples are built in the easiest and the most unclever way possible, avoiding all the unnecessary thin

[2020-09-14 11:57] mohak852 commented on #543
Thanks @abd99 for replying me!

[2020-09-14 11:57] #543 closed

[2020-09-15 11:05] mohak852 opened #546 "[VeggieSeason] We should add a exit dialog in veggieseason app."
[VeggieSeason] In this app we should add an exit dialog in the homepage.

@abd99 @AyushBherwani1998 @RedBrogdon

[2020-09-17 08:28] mohak852 commented on #546
@abd99 @AyushBherwani1998 Have you go through this issue.

[2020-09-17 23:56] #540 closed

[2020-09-17 23:57] RedBrogdon commented on #546
Can you give us a little more info on your rationale? I don't know that we have exit dialogs in any of our other samples, for instance.

[2020-09-18 00:09] RedBrogdon commented on #544
Not sure what the issue is here, but if you'd like to provide more context, please feel free to reopen!

[2020-09-18 00:09] #544 closed

[2020-09-18 11:20] mohak852 commented on #546
![maxresdefault](https://user-images.githubusercontent.com/58987025/93591941-e80d8200-f9ce-11ea-8b9c-93f4e1458de8.jpg)
Like this Dialog as shown in this picture If we want to exit the app, we should have an alert dialog that confirms that are you sure you want to exit the app or not

[2020-09-19 13:29] tusharojha commented on #278
I would like to work on this issue!
@RedBrogdon I have tried to use stack instead of column inside the `search.dart` (output as shown below). Although I don't think its the exact result but would like to know your thoughts on the same.

![ezgif com-video-to-gif (3)](https://user-images.githubusercontent.com/36601970/93668224-c680c900-faa8-11ea-9460-3083cc4d10d5.gif)

[2020-09-20 12:50] mohak852 commented on #546
@RedBrogdon Should I go with the Dialog Box.

[2020-09-23 03:39] RedBrogdon commented on #546
I think that showing a dialog box could be a good thing. It's the idea of an exit button that's giving me pause. Is there another location in the app where it would make sense to add a dialog?

[2020-09-23 05:20] tusharojha commented on #278
@RedBrogdon I would like to know your suggestions for its implementation. Please have a look into it.

[2020-09-24 14:33] MahdiPishguy opened #553 "sample code for search bar animation"
is any sample code for this Gif image?

![98mMw](https://user-images.githubusercontent.com/6617583/94159199-218f3300-fe90-11ea-8731-efc1815a24bb.gif)

that's like with Gmail search bar

[2020-09-24 16:47] mohak852 commented on #546
No sir i think the homepage will be fine Because if we implement this inside any other page it will not make any sense. @RedBrogdon

[2020-09-28 00:56] andyalex234 opened #556 "Error: A value of type 'MultiProvider' can't be returned from method 'build' because it has a return type of 'Widget'."

[2020-09-28 01:01] andyalex234 commented on #556
I've copied the code and I got this error in the `main.dart` and another in `screens/cart.dart`  that says: `The element type 'Consumer<CartModel>' can't be assigned to the list type 'Widget'.`.

[2020-09-30 01:27] duncangroenewald opened #558 "Why do I get an error on context.read<>();"
Is this an old or out of date sample ?

[2020-09-30 03:40] RedBrogdon commented on #553
It's not something we have a sample for here. I recognize that image from the Material motion package, though, which does include some samples: https://github.com/flutter/packages/tree/master/packages/animations

[2020-09-30 03:40] #553 closed

[2020-09-30 03:42] RedBrogdon commented on #556
Without knowing the rest of the code for the app you copied the code into, it would be difficult to diagnose. The issue tracker for this repo isn't the best place to do so, though.

I recommend either posting this question (with as much source code as possible) to [Stack Overflow](https://stackoverflow.com) or the [Flutter Google group](https://groups.google.com/forum/#!forum/flutter-dev). Both ha

[2020-09-30 03:42] #556 closed

[2020-09-30 03:47] RedBrogdon commented on #558
Without more information, it's difficult to understand the problem you ran into. Can you tell us:

* Which sample you were running?
* On what platform?
* What is the output of `flutter doctor -v` on your system?
* What were you doing in the app at the time the problem occurred?

[2020-09-30 03:49] RedBrogdon commented on #546
Sorry, what I meant was, is there another type of dialog that might make sense for the app? A dialog to confirm some other choice?

[2020-09-30 06:29] duncangroenewald commented on #558
It seems I needed to specify version 4.1.0 in dependencies section.  For some reason it was set to 3.0.0.

[2020-10-06 02:23] RedBrogdon commented on #558
I'm still not quite sure which sample you mean, but I'm glad you found a solution to the issue. Thanks!

[2020-10-06 02:23] #558 closed

[2020-10-15 01:25] Raj-Dave368 opened #564 "[Animations] Add title property (AppBar) for All the Routes."
### Description

There is no title on some Route Page which can show, What type of Animation Page is Demonstrating.
![image](https://user-images.githubusercontent.com/54175432/96062870-5e10e600-0eb4-11eb-99c2-ad971c28941f.png)

* When I was testing the app I was Just clicking `ListTile`(main.dart) Randomly,

![image](https://user-images.githubusercontent.com/54175432/96061699-84815200-0eb1-11eb-8b

[2020-10-15 01:28] Raj-Dave368 commented on #564
@RedBrogdon @AyushBherwani1998 Please Review my issue, if the corresponding issue does not exist already, then I would like to Make a PR Because I have done this minor Changes, which have Huge Impact(80/20 principle).

Thanks,
                                                                                                                                                                         - Yo

[2020-10-15 04:19] AyushBherwani1998 commented on #564
Hey @Raj-Dave368, thanks for opening the issue. IMO, it will make the UX better. We still have to wait for Andrew's take on this. Till then, you can make changes in your system, and if this is something the samples need, you can submit a PR.

[2020-10-16 06:02] Raj-Dave368 opened #568 "[Improvement] Size of Material Button is small"
### Description
if the size of the `MaterialButton` in `AnimatedBuilder` [here ](https://github.com/flutter/samples/blob/master/animations/lib/src/basics/05_animated_builder.dart#L49 )Could be large, then the user could more clearly "How beautifully Flutter Turns One Color into Another".

### **instead of this**

![image](https://user-images.githubusercontent.com/54175432/96218543-91ca3980-0fa2-11

[2020-10-18 18:11] Alabhya268 opened #570 "Cart should have trailing delete button to delete item in provider_shopper app."
It would be nice to have trailing delete button to delete item from cart here
![Cart](https://user-images.githubusercontent.com/57143358/96376250-65c5d880-119b-11eb-9278-2c820d5b45f5.jpeg)

I would like to work on this.

[2020-10-21 17:35] kjain333 commented on #546
Respected Contributors,
It's been few months since I have contributing to flutter applications and now wanted to dive deeper into it by contributing to open source projects. I found this issue really interesting to begin with but since it's my first time here I just wanted some guidance if this issue will be fine to begin with and a little more about how the checks are performed before merging any

[2020-10-22 06:45] kjain333 commented on #278
There seems to be a simple bug in screen recording you have shared that the first item of the list is already covered by the search bar may increasing the size of the listview by one and adding a SizedBox at the starting can fix this issue.

[2020-10-22 09:12] kjain333 commented on #278
I request @xster and @RedBrogdon to kindly review the pull request I have created recently

[2020-10-22 09:57] kjain333 opened #573 "[Veggie Season] The veggies saved to Garden are deleted when app is closed"
A possible bug in the Veggie Season application is when we close our application the data we save to the garden gets deleted. A possible fix for this may be to use shared preferences to store favorite veggies instead of the app state.

[2020-10-22 20:32] RedBrogdon commented on #573
That's definitely not the desired behavior. VeggieSeason should be using shared_preferences to store the data on device between executions.

Can you provide a little more information? What device and iOS version were you using when you saw this happen, for instance?

[2020-10-22 20:55] RedBrogdon commented on #564
I agree, and I imagine @johnpryan would as well (though he's free to disagree with me 😄 ).

[2020-10-22 21:01] RedBrogdon commented on #568
Thanks for filing this issue, @Raj-Dave368. I actually wouldn't recommend this change, mostly because having a single button expanded to take up the whole isn't something you'd normally see in an app (nor is it something the Material team would recommend).

Making the button a *little* bigger, though, could be a good change. Doubling it in size, for example.

[2020-10-23 03:52] kjain333 commented on #573
Respected sir,
I am really sorry for not providing this information before but due to system constraints I was presently just able to run this code on my android with android version 10 but looking at the code itself since we are using shared preferences to store the preferred calorie count and category of veggie why not we use the same for garden as well?

[2020-10-23 04:59] Raj-Dave368 commented on #568
Thanks
Sorry, As I was excited to contribute as a newbie I haven't thought about material design.
But I think issue is still there that it will be better to change colour of large area instead of colour of button.
So what if instead of applying color on button, we apply color on scaffold(background color) and keeping button Size normal.

[2020-10-25 18:48] tusharojha commented on #399
Hi @RedBrogdon & @AyushBherwani1998
I have added a widget test for AnimatedPositioned in the #576
It would be great if you can review the same.

[2020-10-26 05:38] tusharojha commented on #546
Hi @kjain333 <img src="https://user-images.githubusercontent.com/1303154/88677602-1635ba80-d120-11ea-84d8-d263ba5fc3c0.gif" width="24px" alt="hi">
Thanks for your excitement in contributing to Flutter Samples. Also, Flutter Community always respects the new contributors.

Regarding this issue, @RedBrogdon is trying to say that we need a perfect use-case for implementing a bottom sheet from a user'

[2020-10-30 20:43] RedBrogdon commented on #278
This has been fixed in #572.

[2020-10-30 20:43] #278 closed

[2020-10-30 21:45] rj-since-2000 commented on #573
Unlike the persistent store of data in the shared_preference for [_caloriesKey] and [_preferredCategoriesKey] the data for My Garden is not stored or saved anywhere! (Tested on both iOS and android)
Below code reference --> lib/data/preferences.dart/[line 57]

[code]

Here only the values of calories target and preferred categories are stored and saved after state of the app is closed. The data of

[2020-10-31 04:47] tusharojha commented on #390
@johnpryan After going through the latest visual samples index. It clarifies which are samples, demos & cookbooks. So, I think we can close this issue now.

[2020-10-31 04:59] tusharojha commented on #573
Hi, @rj-since-2000.
The #433 is working to implement state restoration & taking the veggie seasons app to the experimental directory.
I think this issue will also be covered. But surely, @RedBrogdon will give the final call on it. After that, you work on resolving the issue.

[2020-10-31 06:14] tusharojha opened #578 "[testing_app] We should add a placeholder for favorites list"
## Description
As the title clears the fact that when there is no item marked as favorites the list view of Favorites page shows a blank screen. In that case, we should add a placeholder specifying that there is **no item in the list**.

`Also, we can remove this debug banner from the top right.`
![Screenshot](https://user-images.githubusercontent.com/36601970/97772506-f32b0480-1b6d-11eb-9735-9f99

[2020-10-31 06:23] tusharojha commented on #578
@RedBrogdon
If fixing this issue will be helpful to the sample, then I think we can add the _good first issue_ label to it.

[2020-10-31 07:40] goderbauer commented on #573
@rj-since-2000 while that PR will restore the garden when the OS kills the app while running in the background, it will not persist your favorite veggies when the user actively quits the app. For that, the garden veggies will have to be stored in shared_preferences, as suggested earlier.

[2020-11-01 12:06] Hardikkr opened #580 "[Veggie Seasons] We should add a save button on VeggieCard to directly save Veggies to Garden"
**Description:**
This issue is focused on enhancing the "Veggie Seasons" app. We can add a save button in the Veggie Card so that a user can directly save a Veggie to the Garden.

**Why this needs to be done?**
This will improve the UX as user don't have to open the card everytime in order to save a veggie in the garden.

**Implementation:**
This can be implemented in the "Search" section also.

*

[2020-11-01 18:55] abd99 commented on #578
Thanks for filing an issue @tusharojha!
This seems like a legitimate issue. If you want to fix this, then go ahead and create a PR. Otherwise, please mention so that others can contribute. =)

I won't recommend doing this as the debug banner is there for a reason. It shows that the app is running in debug mode and will have features such as hot-reload enabled that are limited to debug mode. It aut

[2020-11-01 19:16] tusharojha commented on #578
I would love to land a PR for this issue.

Yes, I agree but I pointed out this because other samples in the repository have disabled this banner.

[2020-11-02 19:17] johnpryan commented on #390
@tusharojha Good catch, thanks!

[2020-11-02 19:17] #390 closed

[2020-11-02 19:31] RedBrogdon commented on #578
Echoing what @abd99 mentioned, I would not remove the debug banner. While it may be disabled in some of the apps in this repo, it's not something we recommend doing unless there's a really good reason for it.

Providing a placeholder seems like a good idea, though. Be aware, though, that testing_app exists to teach people how to write good tests for Flutter applications. Consider the existing body

[2020-11-02 19:36] RedBrogdon commented on #580
An interesting idea.

The veggieseasons app has two goals, which you can see in its README:

* Show how to build an interface that iOS users will feel right at home with.
* Show how Flutter's Cupertino widgets work together.

While this change would certainly make it easier to mark a veggie as a favorite, would it further either of those goals (I'm not arguing against the change here -- I'm genuin

[2020-11-02 21:26] tusharojha commented on #578
@RedBrogdon

Got it 👍

I had run all the tests and are passing successfully. But I am facing issues in running just one test i.e. in the `e2e_test.dart` file. I don't think it is because of the change I made since I was not able to run it successfully on the master branch too.

As a learner honestly, I don't have much experience with e2e tests. So, it would be a great help if you look into it or c

[2020-11-04 11:40] Hardikkr commented on #580
This may not be the best way to mark veggie as favourite, but it is an easy and simple way to mark as favourite.

This change is not that much important as it is not satisfying any of the goals of veggieseasons app.
Thanks for reviewing this issue.

[2020-11-04 11:40] #580 closed

[2020-11-06 04:14] cazci opened #585 "[feature_request] State management examples"
Since there are several state management approaches like Provider, Redux, BLoC, and MobX in practice, I think it would be better to add some sample implementations here for beginners. This would help them to quickly capture the usages and differences which will help with their learning curve.

While going through the repo I found that **Provider Shopper** app already demonstrates the provider patt

[2020-11-06 10:15] domesticmouse opened #586 "experimental/desktop_photo_search doesn't handle utf8 correctly."
@mit-mit who should I chat to about `built_value` and decoding utf8 data correctly? I'm guessing I need to use [`characters`](https://pub.dev/packages/characters) with `built_value` somehow?

[2020-11-06 10:43] mit-mit commented on #586
cc @davidmorgan @lrhn

[2020-11-06 11:00] davidmorgan commented on #586
Could you give a bit more info on the issue you're seeing, please?

[2020-11-07 00:48] domesticmouse commented on #586
30,000' explanation is that I'm incorrectly rendering search requests that contain non-latin1 characters:

<img width="806" alt="Screen Shot 2020-11-07 at 11 42 38 am" src="https://user-images.githubusercontent.com/30503/98426785-5973d200-20ee-11eb-9634-9fdd0a054d4c.png">

In digging into the problem (see https://github.com/flutter/samples/pull/587/files) I figured out a couple of things. First, o

[2020-11-08 12:26] ADVavvas commented on #322
Hi,

I'd like to try this.

Quick question:
The Material Gallery app uses `ThemeData` which in turn uses `ColorScheme`. `CupertinoThemeData` does not. Should I stick with `CupertinoThemeData` or use `ThemeData` instead?

Thanks

[2020-11-08 17:10] emem365 commented on #585
@cazci
Have you had a look at [Brian Egan's architecture samples](https://github.com/brianegan/flutter_architecture_samples). Its a nice collection for what I would say are almost all of the architectures in practice for flutter. I might be wrong but they are a lot.

[2020-11-09 08:16] davidmorgan commented on #586
Thanks--indeed, looks like the issue is outside `built_value`.

[2020-11-09 11:14] lrhn commented on #586
And outside `characters` too. You'll have to set the encoding on the HTTP request manually.
[code]
(Do use the `http` package for HTTP requests, because using `dart:io` is not compatible with Flutter-for-Web).

[2020-11-10 05:55] domesticmouse commented on #586
With the above integrated in https://github.com/flutter/samples/pull/590/commits/8e0f5c441fc2d4eaf7b3b4526c424336f6bd0202, it still trips up on the following on macOS (but renders fine in Chrome).

[code]

<img width="842" alt="Screen Shot 2020-11-10 at 4 48 45 pm" src="https://user-images.githubusercontent.com/30503/98632983-ac5ebb00-2374-11eb-8934-28295decfe8b.png">

[2020-11-10 09:07] cazci commented on #585
@emem365 thanks for the info, I went through it and it's a pretty good one. I'll just close this issue for now :)

[2020-11-10 09:07] #585 closed

[2020-11-13 04:41] Alabhya268 commented on #564
@Raj-Dave368 are you still working on this issue? If not I would like to work on this issue.

[2020-11-14 03:26] tusharojha commented on #578
Closing this issue as it is solved in #581.

[2020-11-14 03:26] #578 closed

[2020-11-16 09:41] cazci commented on #392
hi, I've checked the site now, and it seems the issue is still there. If nobody is currently assigned, I can try to fix this :)

[2020-11-17 09:50] Alabhya268 commented on #564
@RedBrogdon , I want to work on this issue could you please assign it to me ?

[2020-11-17 18:20] #392 closed

[2020-11-18 12:39] cazci commented on #393
hi @mohak852, are you still working on this? If not may I take a look :)

[2020-11-19 18:25] Nathan-Heller opened #599 "Sample App Clip Larger than Maximum App Clip Size for Upload"
[This](https://github.com/flutter/samples/tree/master/ios_app_clip) sample app is meant to be used to showcase the new App Clip Functionality.

I archived the app clip using [the steps outlined here](https://flutter.dev/docs/perf/app-size#ios) and the applications uncompressed size came in at ~13-14MB on stable/master/dev channels, which is well above the 10MB limit defined by Apple.

The sample r

[2020-11-20 06:38] RedBrogdon commented on #599
@xster or @jmagman, I'm out of my depth when it comes to App Clips. Can either of y'all shed some light on this concern?

[2020-11-23 19:36] xster commented on #599
Unfortunately you're right :( Thanks for raising the issue. It indeed returns an error when submitting. Moving this issue to the flutter/flutter repo for tracking https://github.com/flutter/flutter/issues/71098.

[2020-11-23 19:36] #599 closed

[2020-11-23 19:37] Nathan-Heller commented on #599
Thanks so much y'all!

[2020-11-24 09:07] AyushBherwani1998 opened #601 "[samples_index] Update samples.yaml to reflect newly added samples."
## Description

Few of the samples have not been added to the `samples.yaml` i.e `inifinity_list`, `ios_app_clip`, `testing_app` and few more.

[2020-11-29 13:06] tusharojha commented on #568
@domesticmouse I think this issue can be closed now.

[2020-11-29 13:52] AyushBherwani1998 commented on #568
Closing, the issue have been fixed in #600

[2020-11-29 13:52] #568 closed

[2020-12-01 12:59] tusharojha commented on #394
Hi @johnpryan
I am interested to solve this issue but since it's my first try with this project. I think this line [https://github.com/flutter/samples/blob/master/web/samples_index/lib/cookbook.dart#L57](line) takes the screenshot which later gets saved but how am I supposed to inspect the DartPad iframe.

I tried to read more on this over the internet but didn't find many resources, but a workaro

[2020-12-01 17:22] johnpryan commented on #394
I haven't looked into it, but the idea is to load page declared in the `src` attribute of the iframe and then take a screenshot.

[2020-12-02 06:35] RedBrogdon commented on #599
@xster what should we do with the App Clip sample in the meanwhile? Should it be temporarily removed, or is this problem more limited in scope than that?

[2020-12-02 14:04] xster commented on #599
I added a warning in https://github.com/flutter/website/pull/5016. Let's leave this for now so people can try locally. If I don't resolve the remaining items in https://github.com/flutter/flutter/issues/71098 in a few weeks, let's remove this.

[2020-12-02 23:06] #393 closed

[2020-12-02 23:58] johnpryan commented on #393
Deployed: https://flutter.github.io/samples/gallery.html

[2020-12-04 04:07] RedBrogdon commented on #599
SGTM.

[2020-12-05 01:27] adarsh-technocrat commented on #564
@Raj-Dave368   is this issue is closed?

[2020-12-07 07:25] adarsh-technocrat commented on #564
Hello, @RedBrogdon  @AyushBherwani1998  I'm new to the open-source contribution and I really want to work on the issues and contribute to it can you please guide me from where I should start with or what is the right way to start. I found this issue in which I like to land my first PR if no one is working on it.

Thank you!

[2020-12-07 17:53] abd99 opened #611 "[testing_app] Add instructions to generate test coverage report"
I think we should add instructions to generate a test coverage report in the README of the testing sample.
Will create a PR soon if this sounds good. WDYT @domesticmouse @RedBrogdon?

PS - I'm reviewing the sample once more and will file more issues if I find any potential improvements.

[2020-12-07 19:41] domesticmouse commented on #611
Yes please @abd99 🥳

[2020-12-09 10:40] Raj-Dave368 commented on #564
Sorry for late reply, i had exam and still I am busy in some other work and cannot work on this issue.
@Alabhya268 you can work on this issue if you want.
Thank you

[2020-12-09 10:41] Alabhya268 commented on #564
Thanks@Raj-Dave368 , I'll soon open PR for this issue.

[2020-12-09 10:46] Raj-Dave368 commented on #564
Fine
I m closing this PR.
Sorry @RedBrogdon

[2020-12-09 10:46] #564 closed

[2020-12-09 13:23] adarsh-technocrat opened #612 "[animations] Need to modify UI/UX and Add some textual content in Animation Sample App"
I think we should improve the UI/UX of the Animation Sample App and add some textual content related to the animations.
there is no textual content added in the app related to the animation which can give users an overview of it.

Including the above points, there are some other points that can be considered while improving the app are:-

**App Home Screen**
1. we can create a card instead of usin

[2020-12-09 13:40] adarsh-technocrat commented on #612
I'm new to open-source contribution please correct me if I'm wrong anywhere creating the issue.

[2020-12-09 20:00] tusharojha commented on #322
@RedBrogdon, I think we can close this issue now.

[2020-12-10 07:10] RedBrogdon commented on #322
I believe so.

[2020-12-10 07:10] #322 closed

[2020-12-10 07:12] RedBrogdon commented on #564
That's okay. Good luck with your classwork!

[2020-12-10 07:16] #611 closed

[2020-12-10 10:24] viralvaghela opened #616 "[animations] Add output of each animation in documentation."
Hello, it would be nice if we can add an output gif of each animation in the readme.md and will be more clear by just looking at the output(gif) that how it actually works. Will create a PR soon if this sounds good. WDYT  @domesticmouse  @RedBrogdon ?

[2020-12-10 14:29] adarsh-technocrat opened #618 "Update Veggieseasons to use CupertinoSearchTextField"
The veggieseasons uses the custom search field which can be replaced with the new CupertinoSearchTextField which was added recently and is available on the dev channel. Since, the veggieseasons is in the experimental directory, I think we can do the changes.

[2020-12-14 06:53] arteevraina commented on #399
Hi @RedBrogdon @AyushBherwani1998 @tusharojha I have added a widget test for `HeroAnimation` in #620. It would love to hear your feedback on that :)

[2020-12-15 05:58] RedBrogdon commented on #618
While you're certainly welcome to do so, I'm not sure it would have that much impact. The charts sample will soon be taken out of this repo, and the _tool directory under /web isn't actually a sample -- it's a part of the process used to create the [Visual Samples Index](https://flutter.github.io/samples).

[2020-12-15 06:30] RedBrogdon commented on #616
Interesting. How do you imagine you'd generate the images, and where would they be kept?

[2020-12-15 06:36] RedBrogdon commented on #612
While I appreciate the idea (and the offer to contribute code), I would argue that this is not a good change.

The things you're describing would be useful in a sense, don't get me wrong, but the animations sample is designed specifically to teach people how to use Flutter's animation-related classes. Any additional code that's added is, in a way, just more text that the reader has to parse and un

[2020-12-15 06:36] #612 closed

[2020-12-15 06:40] RedBrogdon commented on #618
I now realize that you've made two offers to contribute to our repo, and I've turned down both. Please don't let this discourage you from looking for ways to help the Flutter ecosystem. The sample code we maintain here has slightly different requirements than you'd find in regular application code and is often built and maintained in a way that's not obvious unless you're used to it.

If it helps,

[2020-12-15 06:44] ibhavikmakwana commented on #616
A suggestion.

Something like this may work @RedBrogdon but more compact?

https://github.com/ibhavikmakwana/FlutterPlayground/blob/master/README.md

https://github.com/ibhavikmakwana/FlutterPlayground/blob/master/preview/staggered_animation.gif

[2020-12-15 08:47] viralvaghela commented on #616
@RedBrogdon i can create a "preview" directory and store all GIFs there as @ibhavikmakwana  suggested

[2020-12-15 14:07] abd99 opened #622 "[testing_app] Migrate to integration_test package"
It has been a few days since the [`integration_test`](https://pub.dev/packages/integration_test) package was released and we should probably migrate the sample to use it.

The [`e2e`](https://pub.dev/packages/e2e) package has also been deprecated and it's recommended to use the new package instead.

So, should we just remove the existing `e2e` and `flutter_driver` tests and replace them with the n

[2020-12-16 04:35] domesticmouse commented on #622
@johnpryan probably has some input here 😉

[2020-12-16 06:29] AyushBherwani1998 commented on #618
Hey @RedBrogdon 👋🏼 , I have something he can work on but not sure if this is the right time to do that change.

The veggieseasons uses the custom search field which can be replaced with the new [`CupertinoSearchTextField`](https://master-api.flutter.dev/flutter/cupertino/CupertinoSearchTextField-class.html) which was added recently and is [available on the `dev` channel](https://github.com/flutter

[2020-12-16 06:42] adarsh-technocrat commented on #618
Hello, @AyushBherwani1998  @RedBrogdon  👋🏼 thank you for reverting me back I really want to contribute to the repo but not finding the ways to do so.  Ya sure @AyushBherwani1998  if Andrew agrees with the thought I will definitely raise an issue on the problem and a PR soon.

[2020-12-16 19:24] johnpryan commented on #622
+1 - @abd99 would you like to work on it?

Here are the relevant docs + blog posts:

- [flutter.dev/docs/testing/integration-tests](https://flutter.dev/docs/testing/integration-tests)
- [Updates on flutter testing](https://medium.com/flutter/updates-on-flutter-testing-f54aa9f74c7e)

One small thing this sample should do is use the structure that is created when you run `flutter create`. (This is n

[2020-12-17 06:24] RedBrogdon commented on #618
Seems like a great idea to me. I remember wishing that widget existed two years ago when I originally built the app. 😄

I'll reopen and rename this issue.

[2020-12-17 06:29] RedBrogdon commented on #622
Just a heads up: I moved the repo from Travis CI to GitHub Actions today. I haven't had a chance to add back the encrypted credentials used for our Firebase Test Lab runs. That will likely need to wait until next year.

I don't believe that should block any work done for this, but I wanted to make sure y'all knew.

[2020-12-17 06:32] RedBrogdon opened #628 "Restore Firebase Test Lab tests"
The encrypted key used for running FTL tests needs to be replaced now that CI has been moved to GitHub actions.

[2020-12-17 14:46] CareF commented on #622
I probably don't have time for doing the migration but feel free to include me if there's anything I need to explain about the e2e tests in the sample.

[2020-12-17 16:44] abd99 commented on #622
Yes @johnpryan, I'm trying my best to keep the sample updated. Thanks for the instructions!

[2020-12-17 16:52] abd99 commented on #622
Don't worry about that @CareF, I'll be the one doing the migration. I just wanted to know if you have anything to say in this discussion as you were the one who added the e2e tests in the sample.

[2020-12-18 04:21] AyushBherwani1998 commented on #618
I love the fact that Daniel and Xiao working so hard to add new Cupertino Widgets to the framework 😄

[2020-12-24 08:36] Jackstraw007 commented on #558
provider_shopper @RedBrogdon  this sample

[2020-12-27 09:59] bharat-1809 commented on #616
Hi @viralvaghela if the issue is still available, can I work on it?

[2020-12-28 01:28] viralvaghela commented on #616
hello @bharat-1809 i am waiting for the confirmation from @RedBrogdon , after that i will start working on it :) [ it will be my first PR 🤩 So i am really excited ]

[2020-12-28 10:25] bharat-1809 commented on #616
Sure @viralvaghela! 👍🏻

[2020-12-29 19:46] stuartmorgan opened #635 "Migrate desktop_photo_search to file_selector"
I've published [unendorsed implementations of the new `file_selector` plugin](https://github.com/google/flutter-desktop-embedding/tree/master/plugins/file_selector), which is the flutter/plugins replacement for FDE's file_chooser, and am therefore discontinuing file_chooser. The sample should be migrated to that new plugin.

[2021-01-09 01:33] RedBrogdon commented on #616
(just getting back from end-of-year holidays 🎄)

@viralvaghela, I was actually more concerned with how the images would be generated rather than where they would be stored. I think your idea of having them in the repo is fine, though I'd suggest `/tool/images` rather than creating a new root-level directory.

Have you looked into how to automatically create an animated GIF based on a widget test?

[2021-01-13 18:40] #635 closed

[2021-01-16 13:42] arteevraina opened #649 "Headers missing in code in Place Tracker Files"
As mentioned in [guidelines](https://github.com/flutter/samples/blob/master/CONTRIBUTING.md) that all files in the project must start with the following header.

[code]

This is missing in [place_tracker](https://github.com/flutter/samples/tree/master/place_tracker) sample app. If this is not done on some specific purpose. I would like to fix this up.

WDYT @RedBrogdon @domesticmouse ?

[2021-01-17 10:04] iresharma opened #650 "A new folder for Caching related projects"
During my recent project I explored a lot of Caching options/alternatives different libraries to tap into the SQLlite database or a noSQL db caching using the HiveDb dependency

[2021-01-18 02:28] domesticmouse opened #652 "Update flutter_maps_firestore for upcoming release"
From [failed CI run (beta channel)](https://github.com/flutter/samples/pull/651/checks?check_run_id=1718813742#step:5:341):

[code]

[2021-01-18 02:38] domesticmouse opened #653 "Update isolate_example for updated release"
From [failed CI run](https://github.com/flutter/samples/pull/651/checks?check_run_id=1718863765#step:5:390):

[code]

[2021-01-18 02:46] domesticmouse opened #654 "add_to_app/android_fullscreen failing on Android CI"
From [failed CI run](https://github.com/flutter/samples/pull/651/checks?check_run_id=1718863799#step:5:415):

[code]

[2021-01-18 02:59] domesticmouse opened #655 "Update place_tracker for upcoming release"
From [failing CI run](https://github.com/flutter/samples/pull/651/checks?check_run_id=1718918680#step:5:460):

[code]

[2021-01-18 03:07] domesticmouse opened #656 "Update platform_channels for upcoming release"
From [failing CI run](https://github.com/flutter/samples/pull/651/checks?check_run_id=1718956569#step:5:472):

[code]

[2021-01-18 03:17] domesticmouse opened #657 "Update provider_shopper for upcoming release"
From [failing CI run](https://github.com/flutter/samples/pull/651/checks?check_run_id=1718979450#step:5:538):

[code]

[2021-01-18 03:26] domesticmouse opened #658 "Update testing_app for upcoming release"
From [failed CI run](https://github.com/flutter/samples/pull/651/checks?check_run_id=1719008619#step:5:533):

[code]

[2021-01-18 03:46] domesticmouse opened #659 "Update experimental/federated_plugin/federated_plugin for upcoming release"
From [failing CI run](https://github.com/flutter/samples/pull/651/checks?check_run_id=1719065493#step:5:521):

[code]

[2021-01-18 04:43] domesticmouse opened #660 "Update experimental/web_dashboard"
From [failing CI run](https://github.com/flutter/samples/pull/651/checks?check_run_id=1719224389#step:5:672):

[code]

[2021-01-19 20:46] domesticmouse commented on #649
/cc @ditman and @johnpryan

[2021-01-19 23:06] ditman commented on #649
Yeeet! No, these were probably forgotten by mistake. (there might be other apps in the repo with the same issue).

@arteevraina if you want to contribute a patch, it'll be very welcome, for sure!

[2021-01-19 23:20] domesticmouse commented on #654
Fixed by https://github.com/flutter/samples/pull/662

[2021-01-19 23:20] #654 closed

[2021-01-19 23:22] johnpryan commented on #649
That would be great. We might want to also add some [tooling](https://pub.dev/packages/copywriter) to check this too.

[2021-01-19 23:53] #660 closed

[2021-01-20 03:14] arteevraina commented on #649
Yes, sure thing. I will make a PR for this. After rechecking I found out that this header was missing in the files of the following repos-
* [web](https://github.com/flutter/samples/tree/master/web).
* [platform-design](https://github.com/flutter/samples/tree/master/platform_design).
* [platform-channel](https://github.com/flutter/samples/tree/master/platform_channels).
* [ios_app_clip (only one f

[2021-01-20 03:15] arteevraina commented on #649
Yes, I am always open to contributing to the community.

[2021-01-20 07:55] arteevraina commented on #649
Can I create a separate issue for this and start working on it?

[2021-01-20 19:25] ditman commented on #649
Yes, that'd be the best way to go about it. That way we can close this issue with the PR you sent fixing headers, without waiting for the tooling fix :)

[2021-01-21 05:41] arteevraina opened #665 "Add tooling for checking copyright headers."
Currently, we do not have any tooling for checking the copyright headers in the dart files of the apps in the repo which results in accidentally pushing the code without copyright headers. As suggested by @johnpryan, we can check this using **GitHub Actions** with the help of this [package](https://pub.dev/packages/copywriter).

Did I miss something @ditman @johnpryan?

[2021-01-21 08:16] adarsh-technocrat commented on #658
Hello @domesticmouse 👋 it would be great if you allow me to land PR for all the issues related to the Update that you have created recently.

[2021-01-21 09:50] Abhishek01039 commented on #653
@domesticmouse
I would like to work on this issue.

[2021-01-21 09:53] Abhishek01039 commented on #655
Hello @domesticmouse
I would like to work on this issue.

[2021-01-21 19:16] #649 closed

[2021-01-21 20:30] domesticmouse opened #667 "Add Google and Unsplash terms links to experimental/desktop_photo_search"
Add links to the following in an about dialog or similar:

- https://policies.google.com/terms
- https://unsplash.com/terms

[2021-01-21 22:54] ditman commented on #665
Sounds good to me. If this gets done, I'd love to copy this to other flutter repos! I think this'd be a fantastic addition to flutter/plugins, at least!

[2021-01-23 15:12] SatYu26 commented on #384
@xster i would like to know how to approach to solving this issue. If possible !

[2021-01-23 15:21] SatYu26 opened #671 "Adding basic flutter app for tutorial in CustomPaint."
I would like to create a pull request for a **well commented and descriptive** app in which i have described creating a **background using CustomPaint widget**, which might really be helpful.
Is it fine if i create a PR? i created this  issue as its my first time in open source and i want to contribute to community even if it is baby steps.

[2021-01-23 21:11] xster commented on #384
It's on Android only currently but there's a demo to that effect in https://github.com/flutter/samples/tree/master/add_to_app#android_books-and-ios_books-todo

[2021-01-25 16:04] priyanshu-01 opened #674 "Bug in Custom Tween animation sample"
bug in samples/animations/lib/src/basics/06_custom_tween.dart

what's the bug?
A RenderFlex overflowed by 8.0 pixels on the bottom.

why it happened?
when the animation is completed, Whole Text with font size : 16.0 cannot be accommodated on the screen(mobile),

what's the apparent fix?
Wrapping the Column containing Text Widget with SingleChildScrollView so the column Size can be adjusted as per

[2021-01-25 16:15] priyanshu-01 commented on #674
I'll work on this

[2021-01-25 16:26] priyanshu-01 commented on #674
please review the pull request #675

[2021-01-25 17:31] jlubeck opened #676 "web_dashboard demo doesn't work. "Sign in with Google" buttons does nothing"
I wanted to try out the web_dashboard demo on https://flutter.github.io/samples/web/web_dashboard/#/ and when I click on the button "Sign in with Google" nothing happens.

[2021-01-26 19:15] tusharojha commented on #676
Hi @jlubeck!

Have you followed all the steps mentioned in the [README](https://github.com/flutter/samples/blob/master/experimental/web_dashboard/README.md) file about creating a new firebase project and enabling Google Sign-In for your project? If not, I would recommend you to go through all steps and try again.

[2021-01-26 21:06] jlubeck commented on #676
@tusharojha I did not do anything, I just went to https://flutter.github.io/samples which was mentioned in the Readme file, and clicked on the Dashboard example (https://flutter.github.io/samples/web_dashboard.html). In there I clicked on `Launch App` which I would expect to work without me having to do anything (since it doesn't say anywhere in that samples page that I need to do anything)

[2021-01-26 21:12] tusharojha commented on #676
@jlubeck
Actually, in my case it takes me to the home tab of dashboard app.

[2021-01-26 21:16] jlubeck commented on #676
Did you try it in an Incognito window? It just stays there for me, and this error is thrown in the console:

[code]

[2021-01-26 22:21] #674 closed

[2021-01-27 06:36] AyushBherwani1998 commented on #656
Happy to help and update sample @domesticmouse :)

[2021-01-27 06:36] AyushBherwani1998 commented on #659
Happy to help and update sample :)

[2021-01-27 06:42] RedBrogdon commented on #676
Thanks for filing an issue, @jlubeck. I'm not able to replicate your experience, at least not in my own copy of Chrome:

![image](https://user-images.githubusercontent.com/969662/105953210-a4cfb980-6027-11eb-81d6-8d4e970e73ab.png)

Can you tell me if you see any failing network requests in the Chrome Inspector's network tab, or any additional errors in your console?

[2021-01-27 06:45] RedBrogdon commented on #650
Thanks for the feature request, @iresharma. This repo is mostly focused on samples that relate to the SDK itself rather than specific packages -- even well-used ones like the two you listed.

That said, you mentioned exploring caching options in a recent project. Did you create any sample code as a result? If so, I'd be happy to help bring it to the attention of the Flutter dev community.

[2021-01-27 06:48] RedBrogdon commented on #671
Thanks for filing an issue before sending us a PR, @SatYu26. We actually have someone working on a sample for CustomPaint right now, though it's going to land in our flutter/codelabs repo rather than this one.

Please don't let that discourage you from working on your idea for a sample, though, if you're interested in CustomPaint! Just put it in a repo of your own and reach out to me on [Twitter](

[2021-01-27 06:48] #671 closed

[2021-01-27 07:24] SatYu26 commented on #671
@RedBrogdon Thank you sir. will definitely do that.

[2021-01-27 07:48] SatYu26 commented on #391
@RedBrogdon i would like to contribute for this?

[2021-01-27 08:46] SatYu26 commented on #667
@domesticmouse  hello sir. I was working on this issue and thought that is it good if we add these links in about section  in menubar?

[2021-01-27 17:03] SatYu26 commented on #667
@domesticmouse Hello sir. I have made few changes according to the requirement in this issue.
As of now the dialog looks like this:
![About_Dialog](https://user-images.githubusercontent.com/41650056/106025703-0444cc80-60ef-11eb-8bec-3d4e9d816069.png)

I have added sentences according to the information available to me but if you let me know the specific details of the statements i will make those

[2021-01-27 17:37] johnpryan commented on #391
Closing as stale, sorry!

[2021-01-27 17:37] #391 closed

[2021-01-27 19:43] jlubeck commented on #676
While recording a screencast, it finally opened after like the 5th click. I wonder if it is running into this issue https://github.com/flutter/flutter/issues/70529?

That is fixed in master, but maybe these examples were compiled with an older version?

[2021-01-27 19:47] jlubeck commented on #676
Yes, that's it... after I got in, I also ran into the same issue with every button in the demo... I have to click a lot of times for anything to work. So not sure if this can be closed, or the demos need to be compiled with a more recent version of flutter so this is fixed?

[2021-01-28 04:28] domesticmouse commented on #656
Thank you @AyushBherwani1998, PRs always gratefully accepted =)

[2021-01-28 04:29] domesticmouse commented on #659
Woohoo =)

[2021-01-28 04:44] #667 closed

[2021-01-28 06:27] RedBrogdon commented on #676
Interesting. Do you see the issue in Chrome, but not Safari? And, just to verify, are you running Big Sur?

[2021-01-28 06:41] RedBrogdon commented on #656
Relevant breaking change doc: https://flutter.dev/docs/release/breaking-changes/scaffold-messenger

Good to see you again, @AyushBherwani1998! I hope you're doing well.

[2021-01-28 10:45] SatYu26 opened #683 "Source Code button not working in many Sample web apps"
The source code button of many sample web apps in [https://flutter.github.io/samples/#](https://flutter.github.io/samples/#) is not working.

[2021-01-28 10:51] SatYu26 opened #684 "Launch App Button on click is not enabled completely"
in all of the sample web apps in [https://flutter.github.io/samples/#](https://flutter.github.io/samples/#) , the launch app button is not working completely.
In the portion circled with red is not working, i.e. if you click on it button wont respond.

![InkedScreenshot 2021-01-28 161124_LI](https://user-images.githubusercontent.com/41650056/106127738-ce522780-6184-11eb-8ec9-26872a72d38b.jpg)

[2021-01-28 11:00] SatYu26 opened #686 "The home page image for Unit Testing cookbook is not updated"
The home page image for unit testing cookbook i.e. [https://flutter.github.io/samples/an_introduction_to_unit_testing.html](https://flutter.github.io/samples/an_introduction_to_unit_testing.html) is not updated to latest.

[2021-01-28 11:01] AyushBherwani1998 commented on #656
Hey @RedBrogdon. Thanks, I'm doing good. I hope you are doing well too.

[2021-01-28 13:45] jlubeck commented on #676
I am using Big Sur yes, and I ran into the same issue on one of my own projects myself a couple months ago, that's why I knew about that issue. But looks like everything is working fine on both browsers now. Did the demos get rebuilt by any chance? Or just voodoo on my computer? I'll close this now since it is no longer an issue, but do let me know please!

[2021-01-28 13:45] #676 closed

[2021-01-28 15:16] utkarshshendge opened #690 "In majority of samples (of visual sample index) only the last tag is clickable and functioning."
![mask](https://user-images.githubusercontent.com/57677520/106157360-a4aaf780-61a8-11eb-815f-bc343882a66e.png)
## Here only the highlighted tag is clickable .

While in [platform_view_swift](https://flutter.github.io/samples/platform_view_swift.html) and [platform_design](https://flutter.github.io/samples/platform_design.html) the last 2 tags are clickable.

[2021-01-29 06:30] RedBrogdon commented on #690
Verified. It looks like the addition of the carousel came with a clear DIV element `slider-container`, which overlays the tags (and parts of the buttons) and is absorbing mouse events.

[2021-01-29 06:30] RedBrogdon commented on #690
CC @johnpryan, @cazci.

[2021-01-29 06:45] tusharojha commented on #686
Hi @SatYu26

Check out this related issue #394.
Rather than updating all the images manually the idea is to modify the scraper to do it.

@johnpryan can give more info on it.

[2021-01-29 07:14] cazci commented on #690
@utkarshshendge thank you for raising this issue

@RedBrogdon I'll work on this and open a PR. It seems like there are another two issues associated (#683, #684), and I'll fix them as well

[2021-01-29 07:17] cazci commented on #684
hi @SatYu26, thank you for noticing this and the issue with the source code button (#683). Since these two and #690 are related, I'll fix them all with a single patch

[2021-01-29 08:42] SatYu26 commented on #684
@cazci That would be great. if you would like help, I would also love to contribute in it.
Do let me know!!

[2021-01-29 08:47] SatYu26 commented on #686
that would be great!!

[2021-01-29 09:29] cazci commented on #684
Happy to see your enthusiasm @SatYu26. However, #691 will fix these issues for now and close them on merge. Please keep contributing :)

[2021-01-29 09:37] SatYu26 commented on #684
@cazci That's great. Thank you!!

[2021-01-29 12:07] utkarshshendge commented on #690
@cazci  Great!!
If you need any help fixing the bug please let me know. I will be more than happy to contribute.

[2021-01-29 13:22] cazci commented on #690
Thank you for asking @utkarshshendge. However, I've already fixed this with #691. Please keep it up and continue contributing, cheers! :)

[2021-01-29 16:24] #683 closed

[2021-01-29 16:24] #684 closed

[2021-01-29 16:24] #690 closed

[2021-01-30 21:18] Adityabhaumik commented on #657
Hello I would like to work on this , could someone please clarify what exactly needs to be done

[2021-01-30 22:56] Adityabhaumik commented on #657
3 checks are failing is there anything I could do to fix them  @domesticmouse .
1->Flutter CI / Test Flutter stable on ubuntu-latest (pull_request)
2->Flutter CI / Test Flutter stable on macos-latest (pull_request)
3->Flutter CI / Test Flutter stable on windows-latest (pull_request)

[2021-01-30 23:29] domesticmouse commented on #657
Those three checks are expected to fail until beta becomes the next stable. You can ignore them for the time being. 😎

[2021-01-31 03:44] RedBrogdon commented on #652
I've brought the beta branch up to date so this can be landed there.

[2021-01-31 03:53] RedBrogdon commented on #653
I've brought the beta branch up to date so this can be landed there.

[2021-01-31 03:53] RedBrogdon commented on #655
I've brought the beta branch up to date so this can be landed there.

[2021-01-31 03:54] RedBrogdon commented on #656
I've brought the beta branch up to date so this can be landed there.

[2021-01-31 03:55] RedBrogdon commented on #657
I've brought the beta branch up to date so this can be landed there.

[2021-01-31 03:55] RedBrogdon commented on #658
I've brought the beta branch up to date so this can be landed there.

[2021-01-31 03:55] RedBrogdon commented on #659
I've brought the beta branch up to date, but this one's experimental, so it can be landed directly in master.

[2021-01-31 05:38] domesticmouse commented on #652
Cool, thanks @RedBrogdon

[2021-01-31 06:44] #618 closed

[2021-01-31 06:47] #622 closed

[2021-01-31 06:51] AyushBherwani1998 commented on #652
@domesticmouse Since we are already updating the sample, I think we should also bump up the cloud_firestore package and included the other firebase_core dependency too.

[2021-01-31 06:53] domesticmouse commented on #652
Please do 😎

[2021-01-31 07:15] AyushBherwani1998 commented on #652
@RedBrogdon @domesticmouse I have a question. Why do we have generated_plugin_registrant? We don't support web for this sample, and I believe it should be git ignored.

[2021-01-31 11:29] SatYu26 opened #696 "A new Flutter Machine learning Sample app"
Hello,
So i have been recently working on some basic Machine learning app in flutter using tensorflow lite, and i just noticed that there are no sample apps here regarding that, so is it possible if i land a PR including that app in this repo.?
here is the link to sample repo: [https://github.com/SatYu26/Flutter-X-Mask_Recognition_Model](https://github.com/SatYu26/Flutter-X-Mask_Recognition_Model)

[2021-01-31 12:07] domesticmouse commented on #652
Adding web support for this sample should be on the task list

[2021-02-01 17:44] #601 closed

[2021-02-05 15:00] 0xdanny opened #699 "Update CONTRIBUTING.md file header date"
Hello, first time contributor here :)

Hoping to start small, can the [File headers section in CONTRIBUTING.md](https://github.com/flutter/samples/blob/master/CONTRIBUTING.md#file-header) be updated to reflect the new year

[2021-02-05 22:42] RedBrogdon commented on #696
Well I can't claim your app doesn't work, since it correctly identified some of my groceries. 😄

![image](https://user-images.githubusercontent.com/969662/107096590-f57daa00-67bf-11eb-8c7c-efc5fd9d0b91.png)

This repo is already so big that it's becoming unwieldy, though, which means we can't afford to add any more apps that don't absolutely *have* to live here.

That said, your app is really cool

[2021-02-05 22:42] #696 closed

[2021-02-05 22:55] RedBrogdon commented on #653
Closed by #679.

[2021-02-05 22:55] #653 closed

[2021-02-05 23:16] SatYu26 commented on #696
Thank you so much @RedBrogdon .
It will be really amazing if you tweet about it.!!

[2021-02-06 00:50] RedBrogdon commented on #676
Updated builds of the apps were recently deployed as part of a fix to the visual samples index (flutter.github.io/samples). 😄

[2021-02-06 00:57] RedBrogdon commented on #696
I'll get on it.

[2021-02-07 18:44] Swayam221 opened #705 "Spelling Error in add-to-app/README.md"
Found a spelling error in Add-to-app/README.md. Changed 'Fluter' to "Flutter". I have already created a pull request for the same.
Please assign this task of fixing the spelling error to me.
PS: This is my first contribution to this repository , would be happy to receive any inputs.

[2021-02-08 17:58] #652 closed

[2021-02-08 17:59] RedBrogdon commented on #397
In addition, the gitignores for each sample should be checked to make sure they match the ones currently created by `flutter create`.

[2021-02-08 18:36] #686 closed

[2021-02-08 18:36] #705 closed

[2021-02-08 18:36] RedBrogdon commented on #705
Thanks, @Swayam221!

[2021-02-08 19:12] utkarshshendge opened #708 "[web/particle_background] One of the links in readme does not work."
In [README.md](https://github.com/flutter/samples/blob/master/web/particle_background/README.md) of [particle_background](https://github.com/flutter/samples/tree/master/web/particle_background) example ,the link  [published here](https://github.com/felixblaschke/simple_animations_example_app) gives error 404.

[2021-02-09 02:32] RedBrogdon commented on #708
Fired by #709.

[2021-02-09 02:32] #708 closed

[2021-02-09 02:32] RedBrogdon commented on #708
Nice catch!

[2021-02-10 17:05] iresharma commented on #650
Sample code no, but caching seems like a very important aspect of building a mobile app to provide offline content as well.

As you said this repository is mostly for flutter core features, It would be a great idea to create a repo to demonstrate some important aspects like caching.

What say ?

[2021-02-11 07:37] #699 closed

[2021-02-11 07:37] RedBrogdon commented on #699
Thanks for the fix!

[2021-02-11 07:42] RedBrogdon commented on #650
I think creating a dedicated repo for samples related to caching would be a great idea. It's not something the Flutter DevRel team has engineering bandwidth for right now, but if it's a project you decide to take on, I'm sure the community would appreciate it.

You can spread the word about that or any of your other projects via indices like:

* [It's all Widgets](https://itsallwidgets.com)
* [Awe

[2021-02-11 07:42] #650 closed

[2021-02-14 02:16] #616 closed

[2021-02-14 11:43] abd99 opened #715 "Migrate infinite_list to null-safety"
I'm migrating the infinite_list sample to null-safety. Hopefully, no one else was working on this before.
I'm creating my branch from the current beta branch. Let me know if there's something I should look out for.

/cc @domesticmouse @filiph

[2021-02-15 04:26] domesticmouse commented on #715
/cc @RedBrogdon and @johnpryan for completeness =)

[2021-02-15 12:57] adarsh-technocrat commented on #659
Hello @domesticmouse as related PR has been to merge to the beta branch we can close this issue :)

[2021-02-15 12:58] adarsh-technocrat commented on #658
Hello @domesticmouse as related PR has been to merge to the beta branch we can close this issue :)

[2021-02-15 12:58] adarsh-technocrat commented on #657
Hello @domesticmouse as related PR has been to merge to the beta branch we can close this issue :)

[2021-02-15 19:47] domesticmouse commented on #657
Thanks @adarsh-technocrat 😎

[2021-02-15 19:47] #657 closed

[2021-02-15 19:48] domesticmouse commented on #658
Woohoo 🎉

[2021-02-15 19:48] #658 closed

[2021-02-15 19:50] domesticmouse commented on #659
Hey @adarsh-technocrat, can you land this PR on master? The experimental samples aren't compiled against flutter stable branch. Thanks!

[2021-02-15 19:50] adarsh-technocrat commented on #656
Hello @domesticmouse as related PR has been to merge to the beta branch we can close this issue :)

[2021-02-15 19:51] adarsh-technocrat commented on #655
Hello @domesticmouse as related PR has been to merge to the beta branch we can close this issue :)

[2021-02-15 19:53] adarsh-technocrat commented on #659
sure @domesticmouse I'll do that :)

[2021-02-15 20:06] domesticmouse commented on #655
Thank you @adarsh-technocrat!

[2021-02-15 20:06] #655 closed

[2021-02-15 20:07] domesticmouse commented on #656
Thank you again 😎

[2021-02-15 20:07] #656 closed

[2021-02-16 17:56] johnpryan commented on #715
I think @filiph is the assignee for this right now

[2021-02-17 02:40] filiph commented on #715
On it!

[2021-02-17 02:40] filiph commented on #715
Oh wait, @abd99. If you're already in the process, just let me know. Happy to review a PR!

[2021-02-17 07:08] abd99 commented on #715
@filiph, I have created PR #716. I think you missed that because of similar names.

[2021-02-18 09:09] arteevraina commented on #715
Hey @abd99 @filiph ! Can I help to migrate the other samples present in the repo to null safety? It would be a great learning experience for me :)

[2021-02-18 09:22] domesticmouse commented on #715
Hey @arteevraina,

Thanks for the offer of help, it is much appreciated! Please check with @RedBrogdon as I believe a some of the samples have already been migrated on the https://github.com/flutter/samples/tree/beta branch.

[2021-02-18 09:24] arteevraina commented on #715
Sure thing 👍

[2021-02-18 09:54] abd99 commented on #715
That'd be great @arteevraina,

Adding to what @domesticmouse said, be sure to create an issue if you pick any sample so that there's no duplication of work.

[2021-02-18 13:49] arteevraina opened #720 "Migrate provider_counter app to null safety"
I am working to migrate `provider_counter` to null safety. I think this would help me a good start to help migrate other samples to null safety as well.

@domesticmouse @RedBrogdon Can you please confirm that this app is not already migrated to null safety ?

[2021-02-18 16:54] adarsh-technocrat commented on #720
Hey, @arteevraina  great start  `provider_counter` app is not yet migrated to null safety,  if you want to see that samples are migrated to null safety or not then check the `beta` branch :)

cc: @domesticmouse  @RedBrogdon  will guide you better to proceed.

[2021-02-18 17:13] arteevraina commented on #720
Sure thing @adarsh-technocrat :)

[2021-02-18 19:48] filiph commented on #720
Hi @arteevraina. Thanks for offering to help. Please take a stab at it. We're trying to get these to the `beta` branch soon, so your help is very appreciated.

@ me on the PR so I can review. Cheers!

[2021-02-19 06:13] RedBrogdon commented on #715
Closing this, since the infinite_list app has been migrated and @arteevraina has taken on provider_counter.

[2021-02-19 06:13] #715 closed

[2021-02-19 08:31] adarsh-technocrat opened #721 "[platform_channels] Migrate to null-safety"
Hello, @domesticmouse @AyushBherwani1998  as the `beta`  branch is up I think  I can go for migrating  `/platform_channels` to support null-safety!

cc: @filiph  @RedBrogdon

[2021-02-19 09:08] AyushBherwani1998 commented on #721
That would be awesome, feel free to send a PR :)

[2021-02-21 09:15] adarsh-technocrat opened #725 "[flutter_maps_firestore] Migrate to null-safety"
Hey @AyushBherwani1998  @RedBrogdon  as recently  [google_maps_flutter](https://pub.dev/packages/google_maps_flutter/versions/2.0.0-nullsafety) package migrated to null safety. I think we can go for migrating  `flutter_maps_firestore` sample to support null safety.

/Cc @domesticmouse  @filiph

[2021-02-21 13:08] abd99 opened #726 "[platform_design] Migrate to null-safety"
The [flutter_lorem](https://pub.dev/packages/flutter_lorem) package that `platform_design` is using just got migrated to null-safety. The package author was very quick to review my PR and released a new version on pub.dev just now.

I have started with the migration of the sample. A new PR will be up soon.

/cc @domesticmouse  @RedBrogdon

[2021-02-22 04:33] AyushBherwani1998 opened #727 "[federated_plugin] Migrate to Null Safety"
## Description
Happy to chip in and help to migrate the plugin to Null safety.

[2021-02-22 18:53] filiph opened #728 "[provider_counter] Migrate to null safety"
The sample at https://github.com/flutter/samples/tree/master/provider_counter needs to be migrated to sound null safety. I'm going to do it by Wednesday EOD unless someone else wants to take a stab at it soon. If so, please send a PR against the `beta` branch ([example](https://github.com/flutter/samples/pull/716)).

[2021-02-22 18:54] filiph opened #729 "[provider_shopper] Migrate to null safety"
The sample at https://github.com/flutter/samples/tree/master/provider_shopper needs to be migrated to sound null safety. I'm going to do it by Wednesday EOD unless someone else wants to take a stab at it soon. If so, please send a PR against the `beta` branch ([example](https://github.com/flutter/samples/pull/716)).

[2021-02-22 18:55] filiph commented on #729
(Possible to combine with #728.)

[2021-02-22 18:55] filiph commented on #728
(Possible to combine with #729.)

[2021-02-23 11:46] abd99 opened #731 "[testing_app] Migrate to null-safety"
The `integration_test` package was moved to the `flutter/flutter` repo a few months back. However, its version on the beta channel doesn't have null-safety implemented.
[code]

Creating this issue as a reminder to migrate the testing sample once the integration_test package is null-safe on the stable/beta channels.

[2021-02-23 13:38] arteevraina commented on #729
@filiph I will send a patch for this by today.

[2021-02-23 14:48] arteevraina commented on #729
Hey @filiph , I will migrate this one by today.

[2021-02-23 15:37] abd99 commented on #728
I'm on it.

[2021-02-23 15:41] arteevraina commented on #728
Hello @abd99 :) I was working on this with ref to #720 and I have already sent a PR for this #734 .

[2021-02-23 15:55] abd99 commented on #728
No worries. I forgot about that. Great work!

[2021-02-23 16:13] arteevraina commented on #728
Thanks @abd99 :)

[2021-02-23 16:22] tusharojha opened #735 "[infinite_list] Migrate to null-safety"
## Description
The infinite_list sample by @filiph is ready to migrate to null-safety.
All the dependencies are already migrated. I am working on it and create a PR soon.

[2021-02-23 16:25] tusharojha commented on #735
Sorry, just checked the sample is already null safe!!

[2021-02-23 16:25] #735 closed

[2021-02-23 19:09] gaaclarke opened #737 "NDK missing error in flutter/samples CI"
An unrelated PR started showing an error in the samples CI:  https://github.com/flutter/samples/pull/677/checks?check_run_id=1923183048

`No version of NDK matched the requested version 21.3.6528147.`

It sounds related to https://github.com/flutter/flutter/issues/53657.

[2021-02-23 19:21] jmagman commented on #737
PR to upgrade that version to the one available on CI: https://github.com/flutter/samples/pull/738.  I'm not sure what a more permanent solution would be since this seems to be a moving target.

[2021-02-23 21:08] #737 closed

[2021-02-25 09:49] javadbarghamadi75 opened #741 "What language does Flutter/Dart, use/compile-to in native side?"
Unfortunately there is no clean explanation that what is native languages of flutter on web (or maybe I'm not able to find one)!

If I'm not wrong..

Flutter uses Kotlin for Android as Native and Swift for iOS as Native.

And my question is what is other flutter native languages in other flutter platforms like **Web** and **Desktop**(Windows, mac and Linux,...)

(I know Desktop is under developmen

[2021-02-25 10:40] #741 closed

[2021-02-25 13:57] Swayam221 commented on #731
Can I be guided to work on this?

[2021-02-25 18:16] abd99 commented on #731
Hello @Swayam221,

Thanks for showing interest in contributing to the repo.

As mentioned in the issue description, there's a dependency for this sample that isn't migrated yet. We'll have to wait for it migrate first. Then, we can migrate this sample.

[2021-02-27 09:20] AyushBherwani1998 opened #743 "[federated_plugin] Migrate federated_pluing_web e2e tests to integration test."
## Description
Currently federated_plugin_web uses e2e tests for web. Since e2e is replaced by integration, we should migrate it to integration test.

[2021-02-28 07:15] Bhavay192 commented on #271
hey @RedBrogdon  I would like to work on this issue , can u help me with how can I resolve this ?

[2021-02-28 07:19] Bhavay192 commented on #397
Hello @RedBrogdon  I would like to work on this issue , can u help me with any way possible please ??

[2021-02-28 20:49] #726 closed

[2021-02-28 20:49] #725 closed

[2021-02-28 20:50] RedBrogdon commented on #728
Closed by #734.

[2021-02-28 20:50] #728 closed

[2021-02-28 20:51] #720 closed

[2021-02-28 20:53] #743 closed

[2021-03-01 13:06] abelardolg opened #746 "Camera | package video_player not found"
Hi,

When I pasted the code of https://pub.dev/packages/camera into my app and I run it, Flutter showed this message:
![image](https://user-images.githubusercontent.com/22522883/109501012-4c149600-7a97-11eb-904c-1df5aaf07feb.png)

The above example is incomplete since this package is not found.

Best regards.

[2021-03-01 13:11] arteevraina commented on #746
@abelardolg I think you need to run `flutter pub get ` after adding the dependency to your `pubspec.yaml`.

[2021-03-01 13:50] utkarshshendge commented on #746
Hi @abelardolg , the example contains  [video_player](https://pub.dev/packages/video_player) plugin . Please install it before running the example.

[2021-03-01 14:27] bharat-1809 commented on #616
@RedBrogdon, as you mentioned, I think we can use the workflow used for creating the static assets for the API docs to automatically generate the output files. Like [here](https://github.com/flutter/assets-for-api-docs#creating-new-diagrams), using the [`diagram_capture`](https://github.com/flutter/assets-for-api-docs#creating-new-diagrams) package as done for the docs.

Either we can create a sim

[2021-03-01 14:29] abelardolg commented on #746
Ok, it was installed.

To my mind, it should be mentioned under "installation" section.

Best regards.

[2021-03-04 07:19] tusharojha opened #749 "Moving veggieseasons out of experimental"
## Description

Samples like `web_dashboard` & `veggieseasons` can now work on stable channels thanks to Flutter 2. I think we can move these samples out of the `experimental` directory to showcase the web & state restoration features.

@johnpryan @domesticmouse let me know if this seems the right time to do it.

[2021-03-04 09:24] i-anuragmishra opened #750 "Add a sample app for folding interface which is now supported in flutter 2.00"
Flutter 2.00 supports foldable phones.  we should add a app showing foldable interface in samples.

[2021-03-04 09:26] i-anuragmishra commented on #750
@RedBrogdon can I be assigned this?

[2021-03-04 09:58] fengnudexiaoniao opened #751 "The memory is still increased by 32M（not ～180K ，when new FlutterViewController）"
each additional Flutter instance in new FlutterViewController  beyond the first instance ，
The memory is still increased by 32m, not ～180K，Did you really test it? Do you provide any supporting data

[2021-03-04 10:02] fengnudexiaoniao commented on #751
Each additional flutter instance in already exists  Flutterviewcontroller is ~ 180K in ios（ not new FlutterViewController ）

[2021-03-04 10:04] domesticmouse commented on #749
I'm supportive of moving `veggieseasons`. I'll leave it to @johnpryan to answer for `web_dashboard`. I'd suggest doing them as individual PRs in case John wants to delay moving the dashboard.

[2021-03-04 17:19] johnpryan opened #753 "Move web_dashboard out of experimental"

[2021-03-04 17:19] johnpryan commented on #749
Created https://github.com/flutter/samples/issues/753 for web_dashbaord

[2021-03-05 02:48] arteevraina commented on #729
Since `provider_shopper` has been already migrated to null safety. I think this can be closed now. WDYT @filiph ?

[2021-03-05 03:09] #729 closed

[2021-03-05 12:49] zsunkun opened #755 "multiple_flutters_android not found"
There is no multiple_flutters_android directory on the master branch.
https://github.com/flutter/samples/blob/master/add_to_app/multiple_flutters/multiple_flutters_android/README.md   get 404

[2021-03-05 15:23] xster commented on #755
@gaaclarke let's merge https://github.com/flutter/samples/pull/677

[2021-03-06 16:43] abd99 commented on #750
Hello @i-anuragmishra,

Thanks for show interest in contributing to the repo!

As per my knowledge, foldable support hasn't been merged into the SDK yet.
For more details, visit: [Announcing Flutter support for foldable devices
](https://devblogs.microsoft.com/surface-duo/flutter-dual-screen-foldable/)

With that said, I too feel that adding a sample on this topic would be a valuable addition to t

[2021-03-06 17:08] i-anuragmishra commented on #750
alright @abd99 closing this issue for now.

[2021-03-07 06:04] domesticmouse commented on #750
I'm going to re-open this ticket as a signifier of future required work, to help with prioritising work going forward. Please star this issue if foldable device support samples is important to you =)

[2021-03-07 06:12] domesticmouse commented on #751
Are you following the steps outlined in https://flutter.dev/docs/development/add-to-app/multiple-flutters?

[2021-03-07 09:45] i-anuragmishra commented on #750
Agreed @domesticmouse ....  I feel we can star it as enhancements @abd99 and may be include a experimental sample in future.

[2021-03-08 02:18] zhouxin1233 commented on #755
看来又是个吹牛逼的ppt， 说好的降低99%呢

[2021-03-08 02:21] zhouxin1233 commented on #751
multiple_flutters_android not found

[2021-03-08 04:02] fengnudexiaoniao commented on #751
yes，I have tested the Multiple Flutter demo  in https://flutter.dev/docs/development/add-to-app/multiple-flutters

additional Flutter instance ，The memory is still increased by 32M （when in new FlutterViewController）

[2021-03-08 09:25] #749 closed

[2021-03-08 09:50] tusharojha commented on #546
This issue can be closed now!

[2021-03-08 17:37] xster commented on #755
@zhouxin1233 please see our code of conduct at https://github.com/flutter/flutter/blob/master/CODE_OF_CONDUCT.md and use productive language to help everyone move forward.

[2021-03-08 18:11] gaaclarke commented on #755
Landed.

[2021-03-08 18:11] #755 closed

[2021-03-08 19:16] utkarshshendge opened #758 "[testing_app] Adding snapshot tests"
## I think we should add a sample to demonstrate golden tests(snapshot tests).
The  existing  [testing_app](https://github.com/flutter/samples/tree/master/testing_app) is also a good example to demonstrate golden tests. I have added golden test to testing_app, and can be found in [this](https://github.com/utkarshshendge/samples/tree/master/testing_app/test) forked repo.  These tests are directly b

[2021-03-08 22:58] domesticmouse opened #759 "Failing CI run: add_to_app/multiple_flutters/multiple_flutters_module"
Issue in CI on Flutter beta and stable channels.

[code]

[2021-03-09 02:15] #759 closed

[2021-03-09 03:04] zhouxin1233 commented on #755
2021-03-09 11:01:20.706 21297-21297/dev.flutter.multipleflutters E/AndroidRuntime: FATAL EXCEPTION: main
    Process: dev.flutter.multipleflutters, PID: 21297
    java.lang.RuntimeException: Unable to start activity ComponentInfo{dev.flutter.multipleflutters/dev.flutter.multipleflutters.SingleFlutterActivity}: java.lang.IllegalStateException: Failed to spawn new JNI connected shell from existing s

[2021-03-09 03:15] zhouxin1233 opened #761 "multiple_flutters_android Failed to spawn new JNI connected shell from existing shell."
2021-03-09 11:13:34.196 26686-26686/dev.flutter.multipleflutters E/AndroidRuntime: FATAL EXCEPTION: main
    Process: dev.flutter.multipleflutters, PID: 26686
    java.lang.RuntimeException: Unable to start activity ComponentInfo{dev.flutter.multipleflutters/dev.flutter.multipleflutters.DoubleFlutterActivity}: java.lang.IllegalStateException: Failed to spawn new JNI connected shell from existing s

[2021-03-09 04:02] abd99 commented on #758
Welcome to the repo, @utkarshshendge!

Coincidentally, I was also thinking the same thing last night while thinking of ways to improve the sample. I think we'll be good to go on this once we get a green signal from @RedBrogdon or @domesticmouse.

Keeping them separate is better in my opinion. It'll help in keeping the sample easy to navigate through and simple, which we always try to do throughout

[2021-03-09 09:38] zerozeus commented on #751
![image](https://user-images.githubusercontent.com/13057840/110450433-270acd80-80fe-11eb-83b0-f28cf19dd07f.png)
only release version is fully optimized

[2021-03-09 17:03] xster commented on #761
Can you run and paste `flutter doctor -v` as well? Seems like a concerning issue but I wasn't able to reproduce it.

[2021-03-09 17:04] #751 closed

[2021-03-09 17:07] xster opened #762 "Android multiple flutters sample can crash when navigating back through stack"
Navigate forward until the single or double activity loops through twice, then start popping activities. When it gets to the first occurrence of the single/double activity,

[code]

and the counter number resets.

[2021-03-09 18:24] gaaclarke commented on #762
I usually don't get that far because the emulator is so slow, haha.

[2021-03-09 22:44] #762 closed

[2021-03-10 02:07] zhouxin1233 commented on #761
flutter doctor -v
[✓] Flutter (Channel unknown, 2.0.1, on macOS 11.2.1 20D74 darwin-x64, locale zh-Hans-CN)
    • Flutter version 2.0.1 at /Users/xiaoxin/Desktop/workspace/Flutter/flutter
    • Framework revision c5a4b4029c (5 days ago), 2021-03-04 09:47:48 -0800
    • Engine revision 40441def69
    • Dart version 2.12.0
    • Pub download mirror https://pub.flutter-io.cn
    • Flutter download mi

[2021-03-10 02:08] zhouxin1233 commented on #761
flutter doctor -v

[✓] Flutter (Channel unknown, 2.0.1, on macOS 11.2.1 20D74 darwin-x64, locale zh-Hans-CN)
    • Flutter version 2.0.1 at /Users/xiaoxin/Desktop/workspace/Flutter/flutter
    • Framework revision c5a4b4029c (5 days ago), 2021-03-04 09:47:48 -0800
    • Engine revision 40441def69
    • Dart version 2.12.0
    • Pub download mirror https://pub.flutter-io.cn
    • Flutter download m

[2021-03-10 02:28] zhouxin1233 commented on #761
this is crash video
[https://raw.githubusercontent.com/zhouxin1233/UploadVideo/master/Screen_Recording_20210310-101902_Settings.mp4](url)

[2021-03-10 03:15] zerozeus commented on #761
same crash

2021-03-09 17:32:08.850 25070-25070/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: dev.flutter.multipleflutters, PID: 25070
    java.lang.RuntimeException: Unable to start activity ComponentInfo{dev.flutter.multipleflutters/dev.flutter.multipleflutters.DoubleFlutterActivity}: java.lang.IllegalStateException: Failed to spawn new JNI connected shell from existing shell.
        a

[2021-03-10 08:05] AndrewTseZhou commented on #761
I had the same problem

[2021-03-11 14:18] saurabhchalke opened #765 "Add to Android App - Starting with a Flutter screen"
Hi, I was going through the Add to App Android [Sample](https://github.com/flutter/samples/tree/master/add_to_app/multiple_flutters).
This example starts off with Kotlin and then navigates to Flutter.
Is there a way to start with a Flutter screen at the beginning and bypassing any Kotlin screens at all?
I am trying to tweak this example with Flutter -> Native -> Flutter flow.

Also, the Kotlin to

[2021-03-11 16:52] saurabhchalke commented on #765
You're right, I was testing it in debug mode, release is much better!

Do you know if I can initialize the App by showing a Flutter screen at the beginning?
I tried to start the flutter activity in the onCreate method, but that doesn't seem to be smooth (I see the native screen for few milliseconds before navigating to Flutter).

Thanks!

[2021-03-11 17:45] #765 closed

[2021-03-11 21:48] #546 closed

[2021-03-12 05:58] krmao opened #769 "how to set initialroute to multi flutter each engines"
### flutter doctor -v

[code]

### flutter engine group spawn an engine can't set initialroute

[code]

[2021-03-12 08:28] yylittlefish opened #770 "How to access web samples in other server"
Hi,
I'm using "flutter run -d web-server" to run the samples and it could run by accessing "http://localhost:34763" in local browser
but when I try to access it in another PC's borwser using "http://109.123.100.45:34763",
it can't be accessed.
is there any method to make it accessible in another PC?
thank you!

[2021-03-12 11:27] arteevraina commented on #753
Hey @johnpryan! If you have not started working on this one? Can I send a patch for this one?

[2021-03-14 03:06] arteevraina opened #771 "[form_app] Migrate to Null Safety"
Form App is currently not null safe. Most of the packages it depends on are null safe except for two dev-dependencies [`build_runner`](https://pub.dev/packages/build_runner) and [`json_serializable`](https://pub.dev/packages/json_serializable). So, whenever the null safe versions of packages are published. I would love to migrate `form_app `to null safety.

[2021-03-14 12:47] MateusAmin opened #772 "Help Wanted: Declartive Navigation & Null Safety"
I am writing navigation for an app using pages.  The primary example makes use of nulls and collection ifs to perform logic on the pages list to control navigation. But with null safety that technique does not work.

I will post if I come up with something solid.

[2021-03-14 12:54] MateusAmin commented on #772
Well, I suppose if there some sort of option enum. That could work.

[2021-03-14 12:56] MateusAmin commented on #772
I guess the best method would be conditional if with the variable set to nullable with the ? syntax

[2021-03-14 13:02] MateusAmin commented on #772
It is sort of tempting to directly transform the pages list instead of using conditional ifs

[2021-03-14 13:25] MateusAmin commented on #772
I can see how if I I just pop and push of a pages list that can lead to an empty pages list. Which is an invalid runtime state? But I could check length before popping.

On the other hand, a collections if route would reduce the amount of shared state. And avoids an invalid runtime state. But puts logic into the build path.

[2021-03-14 13:36] MateusAmin commented on #772
Feels like a custom state machine would be the best approach to handling nav state to ensure it is always valid.

[2021-03-14 13:40] MateusAmin commented on #772
Well, if you want to enforce certain nav 'paths'. Like if a user should only be able to go to these pages from here or step back to the parent.

[2021-03-14 14:19] MateusAmin commented on #772
[code]

Turns out it only triggers on a new object? So you can't merely update the list. You have to make a new one  or change its object id somehow.

[2021-03-14 14:27] MateusAmin commented on #772
but

[code]

Removing and keeping the same list works fine. I suppose there is an error somewhere that forces a rebuild.

[2021-03-14 16:05] #772 closed

[2021-03-15 17:46] johnpryan commented on #753
Maybe, I need to check if this conflicts with any null safety work that's happening.

[2021-03-16 02:36] arteevraina commented on #753
@johnpryan No worries.

[2021-03-17 00:56] domesticmouse commented on #770
Yeah, localhost is only available on the local host. One way around this is to build it, and then use a web server to serve the built webapp:

[code]

[2021-03-17 00:56] #770 closed

[2021-03-17 05:43] utkarshshendge commented on #758
Hi @domesticmouse , I would appreciate hearing your opinion on this.

[2021-03-17 13:01] branjing commented on #761
The address stored in nativeShellHolderId in Android 11 deveice starts from 0XB4, which is less than 0 in decimal. A 64bis device usually uses its 48 or 52bits of virtual address, so that the address must be positive in decimal. However, I have no idea why a pointer of heap object uses full 64 bits.

[2021-03-17 14:36] CarGuo commented on #761
## some with me

Multipleflutters Crash in Special Device  **Mi 11 (Android 11)**  case by `spawnedJNI.nativeShellHolderId < 0`

1. Run `multiple_flutters_android` in official demo.
2. click `next` until show `DoubleFlutterActivity` .
3. app crash with `spawnedJNI.nativeShellHolderId < 0`

ps:  Crash Device : **Mi 11 (Android 11)** ，workaround with **Redmi 5 Plus（Android 8.1.0）** 、**HuaWei P30pro（

[2021-03-17 15:51] xster commented on #761
/move flutter/flutter

[2021-03-17 18:16] xster commented on #761
@RedBrogdon can we turn on the move bot on this repo?

[2021-03-18 01:29] CarGuo commented on #761
@xster  I had create same issue in flutter/flutter  [#78389](https://github.com/flutter/flutter/issues/78389#issuecomment-800986483) ，but they tell me the place to file issues related to Flutter examples is in this repository.

[2021-03-18 02:17] #761 closed

[2021-03-18 02:17] xster commented on #761
Let's continue in https://github.com/flutter/flutter/issues/78389

[2021-03-18 11:24] zhangshuliang opened #779 "How to solve the delay of opening a new page use FlutterEngineGroup?"
In the mutiple_flutters_android ,  when open then flutter page , it will need 2 seconds。

[2021-03-23 06:36] krmao commented on #779
also, background color before engins renderd, every engine need a splash screen? ios if set Flutter ViewController clear color, when push, will see window background color

[2021-03-23 21:02] andresvanegas19 opened #782 "Change the deprecate RaisedButton."
In the provider_shopper project, they use inside the `samples/provider_shopper/lib/screens/login.dart` file the RaisedButton, which should not be used.

[2021-03-23 21:10] #782 closed

[2021-03-30 14:55] yoferzhang opened #785 "[add_to_app] run error: The method 'ElevatedButton' isn't defined for the type 'Contents'"
[code]

[2021-04-06 02:38] au-top opened #786 "multiple_flutters_android Binding is not Undefined"
In multiple_ flutters_ In Android
settings.gradle
setBinding(new Binding([gradle: this]))   ,Binding
Undefined In multiple_ flutters_ In Android

[code]

[2021-04-06 02:53] au-top commented on #786
build error info
[code]

[2021-04-06 08:59] #727 closed

[2021-04-09 02:55] zhouxin1233 commented on #786
要先跑一遍multiple_flutters_module工程啊，胸得！

[2021-04-13 08:35] yxwandroid commented on #761
I had the same problem

[2021-04-21 12:11] au-top commented on #786
谢谢

[2021-04-21 12:11] #786 closed

[2021-05-01 11:08] tusharojha commented on #771
Hi @arteevraina!
These packages are null safe now. Would you like to migrate it?

[2021-05-01 11:20] arteevraina commented on #771
Hi @tusharojha ! My health is not well these days. You can take upr this issue if you want 🙏

[2021-05-01 11:34] tusharojha commented on #771
No problem! Take care 👍

[2021-05-01 17:56] pepijndevos opened #788 "desktop_photo_search does not build on the latest beta"
I started looking into flutter today for a desktop/web app. Since desktop is still in beta, I installed the beta channel. Then, following https://flutter.dev/desktop#samples-and-codelabs , found this example of a desktop app in flutter.

The first thing I noticed while looking at the dependencies is that `file_chooser` has been moved to `file_selector`, so that's already showing it's outdated.

Wh

[2021-05-03 18:07] johnpryan opened #789 "Add routing to web_dashboard"
The web_dashboard sample should use the [Router](https://api.flutter.dev/flutter/widgets/Router-class.html) ("Navigator 2.0") class and `MaterialApp.router` constructor.

We don't currently recommend way to use this API, so there are three ways we could set this up:

- Using the API directly, like our [navigation_and_routing sample](https://github.com/flutter/samples/blob/master/navigation_and_rou

[2021-05-04 20:53] johnpryan opened #792 "Fix master branch CI"
The most recent [CI run](https://github.com/flutter/samples/runs/2495320467) is failing:

[code]

[2021-05-06 00:10] #792 closed

[2021-05-06 03:05] #758 closed

[2021-05-07 15:13] arteevraina commented on #771
Hi @tusharojha ! Are you still on this issue? If not, I would like to proceed with this.

[2021-05-07 15:17] tusharojha commented on #771
You can take this.

[2021-05-07 15:49] johnpryan commented on #771
@arteevraina you can migrate the app without waiting for build_runner and json_serializable to migrate, since they are dev dependencies.

[2021-05-09 05:56] DanielNogueiraAndroid opened #795 "Slow rendering in Flutter View Integration"
Running https://github.com/flutter/samples/tree/master/add_to_app/android_view in Nexus 4 with Android 5.1.1 is possible
to see some dark edges while the user scrolls over the list.
Please take a look at this video:
https://user-images.githubusercontent.com/4115957/117561978-49d04880-b093-11eb-8dae-7cc7bee5ac36.mp4

![Screenshot 2021-05-09 at 06 57 33](https://user-images.githubusercontent.com/411

[2021-05-10 07:29] zhangman523 commented on #779
+1

[2021-05-10 08:09] zhangman523 commented on #779
I got log when DoubleFlutterActivity display.
[code]

[2021-05-12 17:05] gaaclarke commented on #779
Can you please provide the output of `flutter doctor -v` and tell us how you are executing the project?  I didn't see any problems when running release builds without the debugger attached.  It can be very slow otherwise.

[2021-05-13 06:36] zhangman523 commented on #779
[code]

[2021-05-13 06:57] krmao commented on #779
https://github.com/flutter/flutter/issues/72009#issuecomment-809858503

[2021-05-18 13:41] johnpryan opened #798 "Upgrade web_dashboard to null safety"
Depends on charts_flutter and charts_common: https://github.com/google/charts/issues/579

[2021-05-18 13:44] johnpryan commented on #753
Here's the issue to track the null safety upgrade: https://github.com/flutter/samples/issues/798 which depends on charts_flutter and charts_common upgrading to null safety: https://github.com/flutter/samples/issues/798 and google/charts#579

[2021-05-20 09:04] #731 closed

[2021-05-26 09:07] #779 closed

[2021-06-02 14:46] Gustl22 opened #805 "Upgrade Gradle Tools to >= 4.1.2 + Gradle Wrapper >= 6.5.1 (Linux issue)"
Plz upgrade the gradle version of the projects in order to work properly on all platforms:
[code]
Related:
https://github.com/flutter/flutter/issues/53657#issuecomment-795808016

build.gradle:
[code]

gradle-wrapper.properties:
[code]

[2021-06-04 08:04] ghost opened #806 "problems building `web/samples_index`"
not sure  if anyone tried to build it manually on latest dart (following the readme instructions), but
as per https://dart.dev/tools/pub/cmd

so even after installing via `flutter pub global activate grinder`, executing `grind generate`
results in `grind: 7: pub: not found`

related: https://github.com/google/grinder.dart/issues/381 (includes OS, versions, etc)

[2021-06-05 01:42] domesticmouse opened #807 "Investigate using `file_names` and `use_key_in_widget_constructors` lints"
I could see us adopting both of the ones you've excluded for the moment. Something to check in on in a few weeks or so.

_Originally posted by @RedBrogdon in https://github.com/flutter/samples/pull/804#r645893535_

[2021-06-07 09:18] domesticmouse opened #830 "`platform_channels` should demonstrate `pigeon` usage"
The [`platform_channels`](https://github.com/flutter/samples/tree/master/platform_channels) should demonstrate usage of the [`pigeon`](https://pub.dev/packages/pigeon) code generator.

[2021-06-07 22:41] RedBrogdon commented on #830
It's currently covered in the add-to-app samples:

https://github.com/flutter/samples/tree/master/add_to_app/books

From what I gathered from @xster, pigeon is intended more for an add-to-app scenario than anything else (though he and the platforms team are free to correct me). If part of the reason you filed this is that we're not making it easy enough to find that sample, that's something we can

[2021-06-07 23:23] domesticmouse commented on #830
I'm curious why pigeon is only for add to app and not for plugin construction, because the type safety would be nice in the latter case as well.

[2021-06-08 05:51] xster commented on #830
The original motivation for pigeon was for both add-to-app and plugins since they're essentially facing the same problem. The current solution covers both areas. See https://github.com/flutter/plugins/blob/master/packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java#L5. Adding another example to platform_channels sound good.

[2021-06-10 22:01] RedBrogdon commented on #830
/me stands corrected.

[2021-06-11 00:15] RedBrogdon commented on #806
Nice catch. Do you mind trying this command to see if it does the trick for you?

`dart pub global activate grinder`

If you have the Flutter SDK installed, the cached version of dart should be available in your path, which should make that command possible.

If it does work, I'll update the README to match.

[2021-06-11 08:19] dym-sh commented on #806
the real problem is: grinder internally calls `pub`, so expects it to be on path

- aliasing `pub` to `dart pub` does not work ❌
- (just tried) enclosing `flutter pub $@` into a bash-script named `pub` works ✅

but i think the linked related issue with grinder itself should be resolved first

[2021-06-11 08:37] dym-sh commented on #806
moving on..

[2021-06-14 19:48] RedBrogdon commented on #806
Thanks for the deep dive, and for the friction notes.

Over the next couple weeks, I'm going to be revisiting the samples index as part of some related work on maintaining our repo structure, and will revisit this as I'm doing it.

[2021-06-14 20:00] dym-sh commented on #806
im kinda surprised dart/flutter projects dont have docker-ish "setup+test+run" on new empty VMs for every release, to ensure full integrity with every other part of the final system

[2021-06-21 00:38] Ascenio opened #837 "[form_app] Fix sample"
For some reason the [example](https://flutter.github.io/samples/web/form_app/) doesn't show anything other than a white screen.

[2021-06-24 13:44] AyushBherwani1998 commented on #830
I can work on this issue. I'll also get a chance to explore pigeon package :D

[2021-06-24 18:44] RedBrogdon commented on #830
SGTM, if you're interested, @AyushBherwani1998. Having fresh eyes on pigeon could be useful.

As you go, do you mind keeping notes on where we can improve general documentation for the package? That'd also be a great help.

[2021-06-24 18:45] RedBrogdon commented on #830
Bah, I just realized @domesticmouse self-assigned this. Brett, did you want to take this on personally or are you cool with passing the baton? 😄

[2021-06-24 19:08] RedBrogdon commented on #837
Thanks for letting us know. It looks like there's an error relating to service workers in the console.

The other web apps I checked appeared to be running without a problem, so hopefully this is limited in scope.

[2021-06-25 06:06] AyushBherwani1998 commented on #830
Sure, I would love to. One thing I noticed, the readme doesn't mention about anything about `@ConfigurePigeon` annotation. I came to know that we can pass the options to generate code by looking at the `video_player` plugin. I'll keep track of things, and at last try to create a ticket to summaries everything.

[2021-06-29 05:27] domesticmouse opened #838 "Flutter samples beta and dev CI is red"
Looks like Dart 2.14 is breaking all of our samples as well: https://github.com/flutter/samples/runs/2937284901?check_suite_focus=true#step:5:133

[code]

[2021-06-30 00:22] #838 closed

[2021-07-04 14:19] Utrillo0801 opened #842 "FlutterSample"

[2021-07-07 07:52] czaku opened #843 "Sample for adding to existing iOS app SwiftUI App Life Cycle"
Hi,

Could someone provide or help me with creating a sample for a freshly started iOS project that does not have UIKit AppDelegate Life Cycle but SwiftUI App Life Cycle (if you generate a new project with Xcode 12 and above that is an option now).

Thanks

[2021-07-07 23:33] domesticmouse commented on #843
@RedBrogdon who is responsible for Add to App these days?

[2021-07-08 02:39] zhouhao27 opened #844 "Debug flutter code on add_to_app?"
I noticed [Added sample code for multiple flutters on iOS](https://github.com/flutter/samples/pull/670). It's working great! Thanks.

But I have one question: how to debug the flutter code?

[2021-07-08 03:26] domesticmouse commented on #844
This sounds a lot like a question that is better handled on https://stackoverflow.com/questions/tagged/flutter

This is a bug tracker =)

[2021-07-08 03:27] #844 closed

[2021-07-08 03:30] zhouhao27 opened #845 "How to integrate multiple flutter modules into an existing native application?"
Based on https://github.com/flutter/samples/tree/master/add_to_app/prebuilt_module/ios_using_prebuilt_module, we can integrate flutter module into an existing application. My question is how to integrate multiple flutter modules into the existing application?

[2021-07-09 00:34] RedBrogdon commented on #843
Thanks for filing an issue, @czaku. Do you mind giving us a little more information about what you're looking to learn? Are you interested in building an app that combines Swift UI with Flutter, for example?

CC: @jmagman

[2021-07-09 01:03] #842 closed

[2021-07-09 11:03] zishanj commented on #837
Guys fix this main [samples](https://flutter.github.io/samples) link please

[2021-07-09 17:00] RedBrogdon commented on #845
The issue tracker for this repo is intended to cover issues with the samples themselves, rather than answer questions about the SDK. StackOverflow is a better means to get that particular kind of help.

That said, I'm curious about your use case. We do have a sample that shows how to instantiate multiple instances of the Flutter engine:

https://github.com/flutter/samples/blob/master/add_to_app/mu

[2021-07-09 20:53] johnpryan opened #848 "sample index deploy action is failing"
Example run: https://github.com/flutter/samples/runs/3020311936

Stack trace:
[code]

This doesn't seem like an issue with this project, though.

I created https://github.com/flutter/samples/pull/847 to fail fast if this step fails, so the deploy doesn't happen with an empty `gh-pages` branch.

[2021-07-23 01:00] #843 closed

[2021-07-23 17:05] #845 closed

[2021-07-27 09:01] guidezpl commented on #467
I'm seeing a loading indicator and the following error
<img width="1275" alt="Screenshot 2021-07-27 at 11 01 32" src="https://user-images.githubusercontent.com/6655696/127127043-553ad85f-34df-431c-93d7-3e564f1b27b5.png">

[2021-07-27 20:23] johnpryan commented on #848
Latest stack trace ([link](https://github.com/flutter/samples/runs/3129672428)):

[code]

[2021-07-27 20:26] johnpryan commented on #789
I'm going to close this, since the navigation_and_routing sample has been updated and is more comprehensive

[2021-07-27 20:26] #789 closed

[2021-07-28 21:25] RedBrogdon commented on #467
Thanks for calling this out, @guidezpl.

This sample needs to be removed from the repo at this point. It was intended as a showcase for Flutter on the web, which is no longer strictly necessary.

[2021-08-02 22:41] #848 closed

[2021-08-04 03:26] champion0122 commented on #838
How Did You Resolve The Issue?

[2021-08-06 16:12] mit-mit opened #865 "Navigation and Routing sample broken link"
https://flutter.github.io/samples/navigation_and_routing.html

Pressing the Source Code gives a broken link.

[2021-08-06 16:12] mit-mit commented on #837
@RedBrogdon https://flutter.github.io/samples/web/navigation_and_routing/ seems to also not work

[2021-08-06 22:05] johnpryan commented on #865
Here's a possible fix: https://github.com/flutter/samples/pull/867

This is probably happening because the `<base href="/">` tags are set to
"/" instead of "/samples/web/<SAMPLE_DIR_NAME>/". This makes sense so folks
can download and run locally, but doesn't work when we deploy to GitHub
Pages. I think the other samples are working because they are using an
older version of the `index.html` file c

[2021-08-09 06:41] #865 closed

[2021-08-16 12:22] Yuiry-IV opened #873 "multiple_flutters throw exceptions"
Hello colleagues,

I've tried to run multiple_flutters example for Android.  Unfortunately, it trow exceptions for any button:
[code]
Could you please help me to solve this issue?

My Environment:
[code]

[2021-08-17 09:16] GraceJoJo opened #876 "Android点击next多此必现崩溃"
Android demo点next必现崩溃：

    Process: dev.flutter.multipleflutters, PID: 18160
    java.lang.RuntimeException: Unable to start activity ComponentInfo{dev.flutter.multipleflutters/dev.flutter.multipleflutters.SingleFlutterActivity}: java.lang.IllegalStateException: Failed to spawn new JNI connected shell from existing shell.
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.

[2021-08-17 17:07] RedBrogdon commented on #876
Thanks for filing an issue, @GraceJoJo. This looks similar to a report we've had before, #761.

Can you provide a little more detail about what you were doing when you saw this issue? In particular, I'd love to know what Android version you're running, which app you were running, and what the output of `flutter doctor -v` looks like on your machine.

@gaaclarke or @xster, it looks like there was a

[2021-08-19 21:45] bryanoltman opened #877 "add_to_app books sample cannot resolve mockito dependency"
When running `flutter pub get` from the `add_to_app/books` directory, it fails with the following error:

[code]

[2021-08-19 21:49] jmagman commented on #877
It seems to be working in CI https://github.com/flutter/samples/runs/3366765137?check_suite_focus=true#step:5:123
Can we get the output of `flutter doctor -v`?

[2021-08-19 21:57] bryanoltman commented on #877
Sure thing!

[code]

There are a couple issues, but not anything I would expect to generate the error I'm seeing.

[2021-08-20 09:04] CoderGMLee opened #879 "multiple_flutters cause page lag"
When there are multiple engines on a page, there will be a lag on both the entry page and the exit page. I want to understand why the exit page causes the lag.
[screen shot](https://github.com/CoderGMLee/WBDemo/blob/master/Simulator%20Screen%20Shot%20-%20iPhone%2012%20Pro%20Max%20-%202021-08-20%20at%2017.00.24.png)
[cpu usage](https://github.com/CoderGMLee/WBDemo/blob/master/351629450037_.pic.jpg)

[2021-08-23 21:29] johnpryan commented on #879
Hi @CoderGMLee, did you mean to file this to the [flutter/flutter issue tracker](https://github.com/flutter/flutter/issues)?

[2021-08-23 21:29] #879 closed

[2021-08-26 16:20] MainTobias opened #884 "[navigation_and_routing] not able to react to link change on web"
When setting setPathUrlStrategy() instead of setHashUrlStrategy() and running it on web, when you go to /book/0 via the user interface and change it to /book/2 it will reload and then go to /signin

[2021-08-26 16:22] MainTobias opened #885 "navigation_and_routing on android history? not working"
App not open:
/book/0 link opened by user -> sign in screen -> home screen
what should happen:
/book/0 link opened by user -> sign in screen ->/book/0 screen
when app is open and signed in:
book/0 link opened by user -> /book/0 screen

[2021-08-26 23:25] kevmoo opened #889 "navigation: add `break` here? A route shouldn't be defined twice."
https://github.com/flutter/samples/blob/c9688ca34b619246202c5866082e01e3d26167d9/navigation_and_routing/lib/src/routing/parser.dart#L48-L50

[2021-08-28 17:08] #885 closed

[2021-08-31 17:59] #876 closed

[2021-09-06 06:35] nolandg opened #893 "Routing sample Dialog broken on web plaform, Back button does not close"
The Routing and Navigation sample has a dialog accessible from the Settings screen. The Cancel/OK buttons use `Navigator.pop()` to close the dialog and that works https://github.com/flutter/samples/blob/69abb6146ab7b08da3e28cc14fe1d6ca18e5e3bd/navigation_and_routing/lib/src/screens/settings.dart#L81

But when the dialog is open and the **web browser's** back button is pressed, the dialog stays ope

[2021-09-06 06:35] nolandg opened #2018 "Routing sample Dialog broken on web plaform, Back button does not close"
The Routing and Navigation sample has a dialog accessible from the Settings screen. The Cancel/OK buttons use `Navigator.pop()` to close the dialog and that works https://github.com/flutter/samples/blob/69abb6146ab7b08da3e28cc14fe1d6ca18e5e3bd/navigation_and_routing/lib/src/screens/settings.dart#L81

But when the dialog is open and the **web browser's** back button is pressed, the dialog stays ope

[2021-09-07 18:54] jmagman commented on #877
See https://github.com/flutter/flutter/issues/82280 for more context.

[2021-09-08 22:17] RedBrogdon commented on #877
This has been resolved in #895, by removing the Mockito dependency entirely.

[2021-09-08 22:17] #877 closed

[2021-09-15 18:10] Pyrolistical commented on #467
caused by https://github.com/markgrancapal/filipino_cuisine/issues/3

[2021-09-16 10:41] klord9x commented on #838
I resolved by https://stackoverflow.com/a/66759292/3665650

[2021-09-16 11:06] klord9x commented on #838
Run script `.\samples-master\tool> .\flutter_pub_upgrade.sh ` to upgrade packages.

[2021-09-20 16:05] johnpryan opened #897 "verify-web-demos action is failing"
The filipino_cuisine sample doesn't pass static analysis with Flutter 2.5:

https://github.com/flutter/samples/pull/896/checks?check_run_id=3588652279

[2021-09-20 23:42] RedBrogdon commented on #837
This has been fixed in a recent deploy. Both samples are once again hosted and working.

[2021-09-20 23:42] #837 closed

[2021-09-21 18:37] johnpryan commented on #897
It looks like there's a few other packages that have analyzer warnings:

[code]

[code]

[code]

[code]

[2021-10-01 17:58] johnpryan commented on #897
It looks like this is still failing verifying form_app, which uses mockito:

[code]

https://github.com/flutter/samples/runs/3761525352

[2021-10-05 02:45] tonyarkles opened #906 "form_app broken on fresh Flutter 2.5.2"
Hi!

Fresh install on OS X of Flutter 2.5.2:

[code]

And fresh checkout of `master` from this repo:

[code]

When I try to load the `form_app` sample in VSCode (or run `flutter pub get` in a shell) I get:

[code]

I've tried mucking around with the `pubspec.yaml` a bit with different versions of mockito, but... I'm a super noob when it comes to Dart and Flutter and don't really know where to proc

[2021-10-05 11:49] #897 closed

[2021-10-05 11:51] tonyarkles commented on #906
Fixed by #904, thanks folks! Fantastic turnaround! Broken when I went to bed, fixed when I woke up!

[2021-10-05 11:51] #906 closed

[2021-10-06 07:10] domesticmouse opened #910 "`web/charts` is broken on deploy"
From https://github.com/flutter/samples/runs/3810622434#step:5:303:

[code]

[2021-10-06 08:25] domesticmouse opened #911 "Read me points at wrong issue tracker"
The `README.MD` file points at the main `flutter/flutter` issue tracker instead of this tracker.

[2021-10-06 22:05] domesticmouse opened #914 "`build-and-deploy` failing on PR submission"
From [the build logs](https://github.com/flutter/samples/runs/3820573303#step:6:1109):

[code]

[2021-10-07 04:51] domesticmouse opened #916 "`form_app` needs to be migrated to null safety"
This is an app that uses `mockito`, and requires some specialised hand holding to migrate to null safety.

[2021-10-07 06:11] domesticmouse opened #918 "`web_dashboard` is out of date, null unsafe, and can't run it's build tooling"
`web_dashboard` is using very old versions of Dart and the Firebase plugins. Oh and it isn't migrated to null safe.

I've tried to upgrade it in a variety of ways, but the build tooling is getting in the way. Even without uprevving any depedencies, it is broken with Flutter 2.5:

[code]

[2021-10-08 05:30] thaihuynhxyz opened #924 "[add_to_app/android_view] Is flutter working with WearOS watchface?"
We usually build watch face on WearOS with OpenGL by `Gles2WatchFaceService`. When I try the android_view sample, I have thought if Flutter can draw on a `FlutterSurfaceView`, can it draw on `WatchFaceService.Engine.SurfaceHolder.Surface`? It will be very productive if we can develop watch faces on Flutter instead of OpenGL.

I have tried to create a `watchface` sample [here](https://github.com/th

[2021-10-11 16:28] #916 closed, assigned to johnpryan

[2021-10-12 00:50] #924 closed

[2021-10-12 23:53] johnpryan commented on #918
Fixed by https://github.com/flutter/samples/pull/928

[2021-10-12 23:53] #918 closed

[2021-10-13 10:21] thaihuynhxyz commented on #924
@RedBrogdon I did it. Just missing `setViewportMetrics`. Should I add that sample to [add_to_app/android_view/watchface](https://github.com/thaihuynhxyz/samples/tree/master/add_to_app/android_view/watchface)

![watchface](https://raw.githubusercontent.com/thaihuynhxyz/samples/master/add_to_app/android_view/assets/watchface.png)

[2021-10-14 21:28] HafidAbnaou opened #932 "Date Picker TypeError on Form Widgets"
In form_widgets.dart, this error is thrown when picking a date

A possible fix that worked for me is changing:
`final ValueChanged<T>? onChanged;`
to:
`final ValueChanged<DateTime>? onChanged;`

[2021-10-15 20:53] RedBrogdon opened #933 "Update contributor's guide"
Our contributor's guide is out of date and needs a refresh.

[2021-10-15 23:31] #932 closed

[2021-10-15 23:37] RedBrogdon commented on #932
Thanks for reporting the issue, @HafidAbnaou!

After investigating, it turned out that the type parameter wasn't included in the definition of the State object class (`extends State<_FormDatePicker>` should have been `extends <_FormDatePicker<T>>`). So what was a `ValueChanged<T>` within the scope of `_FormDatePicker` was a `ValueChanged<dynamic>` when referenced from inside the State class.

Afte

[2021-10-19 18:56] InMatrix opened #935 "Error running perf_test in the testing_app sample"
I had trouble getting the perf_test to work on a physical Android device. The model is Galaxy J7 (2016). I was able to run the app on the device in profile mode without an issue. Did I miss anything?

CLI output:
<details>

[code]

</details>

Flutter doctor output:
<details>

[code]
</details>

[2021-10-20 12:23] abd99 commented on #935
It was running fine a few weeks ago. Now it's failing on mine too. I'm on `Flutter (Channel stable, 2.5.3, on macOS 11.6 20G165 darwin-arm, locale en-US)`.

It is still running using the `flutter test` command.
Eg. `flutter test integration_test` or `flutter test integration_test/perf_test.dart`
I'll update the README soon.

@dnfield, do you know if we are removing support for the `flutter drive`

[2021-10-20 16:56] InMatrix commented on #935
I agree that the error message suggests a connectivity issue:
[code]

However, I was able to `flutter run` the sample on the same device just fine. Does the `flutter drive` command connect to the device in a different way? I just tried it with another device (Nexus P), but the results were the same.

[2021-10-20 20:41] RedBrogdon commented on #935
CC @domesticmouse

[2021-10-21 16:08] dnfield commented on #935
Ah! The problem here is that DDS is enabled.

We should probably call that out if this error occurs.

Can you try the command again with `--no-dds`?

[2021-10-21 22:11] dnfield commented on #935
No, but it should probably be disabled by default for `flutter drive` invocations.

This is aweird case where DDS wants to take over the observatory URI that the test is aware of.

[2021-10-25 15:03] hiwenhu opened #940 "Doesnt routeState.addListener(notifyListeners) make a recursive call?"
In Class SimpleRouterDelegate constructor, there is the code  routeState.addListener(notifyListeners) which i cant understand.
The method addListener adds notifyListeners as a listener? When notifyListeners is called, wouldnt it be called again as a listener? and then be called again and again?

[2021-10-26 02:25] #940 closed, assigned to nobody

[2021-10-27 02:04] jmagman opened #941 "Multiple flutter add-to-app sample module should include a plugin to demonstrate GeneratedPluginRegistrant"
Received a customer support of a `MissingPluginException(No implementation found for method)` error when prototyping `FlutterEngineGroup` in a host app, based off the [add-to-app sample module sample](https://github.com/flutter/samples/tree/master/add_to_app/multiple_flutters).  The customer was missing `GeneratedPluginRegistrant.register` in their host app.

To demonstrate how to register plugins

[2021-10-29 16:41] #941 closed, assigned to jmagman

[2021-11-01 12:24] asashour opened #947 "`navigation_and_routing` to handle initial path before login"
Would the below scenario add a value to the sample:

1. The user opens the web browser with `/book/3`
2. The web app redirects to `/signin`
3. Sign in

Expected
- The app redirects to `/book/3`

Actual
- The app redirects to `/books/popular`

[2021-11-01 17:48] ramanjitsingh-hub commented on #947
I want to work on this problem can i be assigned to this problem

[2021-11-01 23:09] RedBrogdon commented on #947
@johnpryan, since this was your sample originally, I'd love to have your opinion on this.

[2021-11-01 23:24] johnpryan commented on #947
Makes sense, the way I would do this is to add a `redirect` query parameter when the app navigations to `/signin`. So instead of `/signin` this would be `/signin?redirect=/books/3`.

[2021-11-01 23:30] RedBrogdon commented on #947
It looks like there may be two people interested in implementing this.

@asashour, you were the first to suggest the change, so if you're interested in implementing it, I'll leave it to you.

[2021-11-02 07:09] asashour commented on #947
Thanks all for your feedback.

@ramanjitsingh-hub please go ahead, I hope one week is enough to raise a PR.

If you want more ideas, we can have an error message when the username/password is empty, or tests to be added for the login or the navigation. As mentioned in [CONTRIBUTING](https://github.com/flutter/samples/blob/master/CONTRIBUTING.md), it is better to discuss the changes before spending

[2021-11-02 15:37] #914 closed

[2021-11-29 23:49] domesticmouse commented on #788
I'm unsure when this got fixed, but `desktop_photo_search` builds.

[code]

<img width="1113" alt="Screen Shot 2021-11-30 at 9 48 37 am" src="https://user-images.githubusercontent.com/30503/143960597-f659ac06-d074-4cf0-9882-55abf5e0e68a.png">

[2021-11-29 23:49] #788 closed

[2021-12-04 16:29] B-Anupam commented on #785
Hi @yoferzhang Could you please let me know where can I get the code for which this issue is mentioned?

[2021-12-05 21:35] #746 closed

[2021-12-05 21:43] #721 closed

[2021-12-05 21:52] RedBrogdon commented on #769
Is there a specific issue with the multiple engine sample that you've run into, or is this a question about the SDK itself?

CC: @gaaclarke

[2021-12-05 21:53] RedBrogdon commented on #771
This has been completed.

[2021-12-05 21:53] #771 closed

[2021-12-05 21:57] RedBrogdon commented on #785
Thanks for filing an issue, @yoferzhang. Can you provide any more information about the problem you ran into? Were there specific console commands you were using to build the app, for example?

[2021-12-16 03:11] domesticmouse opened #963 "`experimental/federated_plugin/federated_plugin` needs to be rebuilt for outdated Android runner"
@AyushBherwani1998 can you provide guidance as to what is required here?

[2021-12-16 21:13] domesticmouse commented on #963
/cc @RedBrogdon @craiglabenz

Btw, this will become a blocker at the next stable release. It's failing the linter on beta.

[2021-12-17 03:42] AyushBherwani1998 commented on #963
Hey @domesticmouse @RedBrogdon, I hope you both are doing good.

I don't know what's the reason behind the issue here exactly, I'll try to take a look on weekend and hopefully send a RR if I'm able to figure out what exactly it's what we need.

[2021-12-17 05:31] domesticmouse commented on #963
Thanks Ayush. My understanding is that in the Flutter beta an old Android runner is now considered a flutter warning. This PR is to turn flutter lint warnings into build failures for beta, and is thus blocking.

I'd suggest rebuilding all the runners using the current stable release. That should be enough to silence this lint warning.

[2021-12-18 15:41] jonasjuni opened #964 "Enable mouse scrollBehavior on carousel sample"
### Steps to reproduce
Open carousel on web:
[https://flutter.github.io/samples/web/animations/#/misc/carousel](https://flutter.github.io/samples/web/animations/#/misc/carousel)

You can't drag to change images.

would be a good ideia to add mouse as a drag device on PageView in this example?
[code]

[2021-12-18 15:49] jonasjuni commented on #964
Here is my suggestion may I create a PR?
[jonasjuni/samples/blob/patch-1/animations/lib/src/misc/carousel.dart](https://github.com/jonasjuni/samples/blob/patch-1/animations/lib/src/misc/carousel.dart)

[2021-12-18 21:55] domesticmouse commented on #964
Please create a PR and sign the CLA. Thanks!

[2021-12-19 22:25] #785 closed

[2021-12-19 22:25] #769 closed

[2022-01-02 23:15] Schwoader123 opened #970 "Thanks for the info Generated.xcconfig shouldn't be modified but as a work around you may try setting"
Thanks for the info Generated.xcconfig shouldn't be modified but as a work around you may try setting

[code]

Labeling this issue for further investigation from the team.

cc: @jmagman

_Originally posted by @maheshmnj in https://github.com/flutter/flutter/issues/95972#issuecomment-1003323492_

[2022-01-03 09:54] maheshmnj commented on #970
@Schwoader123  why was the comment filed as an issue?

[2022-01-04 02:55] domesticmouse commented on #963
Hey @AyushBherwani1998, any chance of getting guidance on what is required to update the `federated_plugin` Android runner? This is now turning our beta CI red - https://github.com/flutter/samples/runs/4696765070?check_suite_focus=true

This will shortly become a blocker for the stable branch. I'm happy to help here, otherwise we may need to delete this sample.

FYI @RedBrogdon @craiglabenz

[2022-01-04 06:11] AyushBherwani1998 commented on #963
@domesticmouse should we try to rebuild the Android project and see if it passes?

[2022-01-04 06:20] domesticmouse commented on #963
Is there any specific configuration of the Android runner required in those projects? I'm happy to just refresh the runners if there is no magic involved

[2022-01-04 06:29] AyushBherwani1998 commented on #963
No, there's no specific configuration required. If refreshing the runners doesn't passes the test. I'm happy to recreate the Android project on beta channel.

[2022-01-04 07:17] domesticmouse commented on #963
I'm re-creating all of the various runners using 2.8.1. I'll send you a PR to look over soon. Thanks!

[2022-01-04 07:56] domesticmouse opened #974 "`experimental/web_dashboard` is breaking beta CI"
[code]

[2022-01-05 01:35] #963 closed

[2022-01-05 22:32] #974 closed

[2022-01-06 11:49] Joel565200 opened #982 "dyld: Library not loaded: @rpath/App.framework/App"
When I build and run the project on my phone, I had the crash below:

dyld: Library not loaded: @rpath/App.framework/App
  Referenced from: /var/containers/Bundle/Application/5E2B0094-6147-4A69-8C98-4C0FEE40A629/IOSUsingPlugin.app/IOSUsingPlugin
  Reason: image not found
Message from debugger: Terminated due to signal 6

I use the example project on the path: "samples-master"->"add_to_app"->"plugi

[2022-01-07 06:42] louyaming opened #983 "Can react and Flutter be used for web mixed development? If so, is there a demo?"
I have a Web project (single page) developed with React and now want to try to introduce Flutter for some functionality development. I wonder if there is such a scenario support?

[2022-01-07 08:15] #659 closed

[2022-01-07 08:17] #586 closed

[2022-01-10 02:17] Joel565200 commented on #982
Upgrade your flutter version to 2.8.1, the latest version will solve this issue.

[2022-01-10 02:17] #982 closed

[2022-01-10 23:35] RedBrogdon commented on #983
We don't have a demo for this, but you could certainly compile a Flutter application and include it via an iframe in another webpage.

Sharing state or other data between React and Flutter would likely prove difficult, but I imagine that it's possible.

[2022-01-10 23:35] #983 closed

[2022-01-12 12:48] appinteractive commented on #599
Any progress on that front? @RedBrogdon @xster?

[2022-01-14 07:18] orhan-lau opened #990 "How to create a graph of the scrolling_summary.json"
Excuse me
When i run the commd : **flutter drive --driver=integration_test/perf_driver.dart --target=integration_test/perf_test.dart --profile --trace-startup --no-dds
**
I get a file ：scrolling_summary.json
How to create a graph of the results？
I try use **chrome://tracing** the file， but it not work for me

[2022-01-16 19:41] timsneath opened #992 "Photo Search: Menu items have rounded corners"
On Windows 11, the photo search app menus have rounded corners:
![image](https://user-images.githubusercontent.com/2319867/149675163-f6709c2d-569c-4003-b8e4-7055e2eff22c.png)

Use `DwmSetWindowAttribute` to set rectangular windows, as follows:

[code]

[2022-01-16 19:42] timsneath commented on #992
/cc @cbracken @domesticmouse

[2022-01-17 04:51] gaurav1903 commented on #992
What is the exact issue and how to reproduce it?

[2022-01-17 04:55] gaurav1903 commented on #873
Unhandled Exception: MissingPluginException
This error generally occurs when after adding a package to pubspec.yaml ,you don't run
`flutter pub get ` or after adding and running just do a hot restart .
What you should do is add a package ,run
`flutter pub get `
and then comletely restart the app after terminating it

[2022-01-17 07:53] domesticmouse commented on #992
Thanks for the report @timsneath. This almost feels like something we should be fixing in the win32 runner, not the sample code.

Thoughts @csells?

[2022-01-17 13:20] #873 closed

[2022-01-17 16:50] csells commented on #992
Can we fix it in the sample until we have it fixed in the embedding?

fyi @cbracken @gspencergoog

[2022-01-18 14:13] domesticmouse commented on #992
@timsneath Can you give guidance on where I need to make this modification? I'm guessing since this is a change to `hwnd`, and I'm guessing the menu drop downs are individual windows, I'm guessing the fix has to be added to https://github.com/google/flutter-desktop-embedding/tree/master/plugins/menubar/windows?

/cc @stuartmorgan who probably knows a thing or two about this.

[2022-01-18 15:38] stuartmorgan commented on #992
`menubar` is creating the menus using standard Win32 APIs for creating menus. It never interacts directly with the underlying HWNDs.

Why is this a bug? Isn't this just how Windows 11 works?

[2022-01-18 17:23] timsneath commented on #992
Hmm... is your window maximized, @domesticmouse? What does `winver` report for your version?

I'm running the Windows Insider builds, haven't knowingly changed any defaults. But it's possible that there's something weird about the current build in this regard.

Here are the instructions on what to do with menus, @stuartmorgan:
https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/apply-r

[2022-01-18 17:57] stuartmorgan commented on #992
That's about making custom menus:

It explains how to make a menu that's not made using normal menu APIs look rounded in order to match those that are made using normal menu APIs.

`menubar` is, as I said above, using standard menus. And it's already rounded in your screenshot.

My confusions here is your bug report is that we *are* getting the standard behavior (which is apparently now rounded).